{% extends "base.html" %}

{% block title %}Not found{% endblock %}

{% block content %}
<h1>Page not found</h1>

<p>We are sorry, but the requested page has not been found.</p>
<pre>{{ request_path }}</pre>
{% endblock %}

