{% extends "base.html" %}

{% block title %}500 Error{% endblock %}

{% block content %}
<h1>500 Internal server error</h1>

<p>If you keep experiencing this issue please send an email to <a href="mailto:assist@ncvo.org.uk">assist@ncvo.org.uk</a> including the line below.</p>
<pre>{{ request_path }}</pre>
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>
<body>
    <h1>We are sorry...</h1>
</body>
</html>
{% endcomment %}