<!DOCTYPE html>
{% load url from future %}
{% load browserid %}
<html lang="en" xml:lang="en">
  <head>
    <title>{% block title %}BIG Assist{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resources, mutual aid and funded help for local and specialist infrastructure organisations in the English voluntary sector" />
    <meta name="keywords" content="voluntary sector, infrastructure, NCVO, BIG Lottery Fund, community volunteers" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assist.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/webfonts.css">
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/assist-mobile.css"
          media="only screen and (max-width: 480px)">
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/assist-midi.css"
          media="only screen and (min-width: 481px) and (max-width: 881px)">
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/assist-desktop.css"
          media="only screen and (min-width: 882px)">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/pybb.css">-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.9.1.custom.min.css">
    <!-- hack to always load desktop css in older IE -->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/assist-desktop.css">
    <![endif]-->
    <!--[if IE]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/IEHacks.css">
    <![endif]-->
    {% block css_slot %}{% endblock %}
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.simplemodal.1.4.4.min.js"></script>
    {# {{ browserid_form.media }} #}
    <link rel="stylesheet" href="{{ STATIC_URL }}browserid/persona-buttons.css">
    <script src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js"></script>
    <script src="{{ STATIC_URL }}pybb/js/pybbjs.js"></script>
    <script src="{{ STATIC_URL }}js/bigassist.js"></script>
    {% block javascript_slot %}{% endblock %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34710962-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  </head>
  <body>{% browserid_info %}

    <a href="#content" class="hidden">Skip to content</a>
    <div class="wrap">
      <header>
        <div id="header" class="header">
          <div class="centre">
            <a href="{% url 'home' %}" id="logo" class="logo" title="BIG Assist home">BIG Assist home</a>
            <div class="login">
                {% if not user.is_authenticated %}
                {% comment %}
                  <a class="browserid-login" href="#">
                  <img src="{{ STATIC_URL }}images/persona-button.png" alt="Sign in with Persona"/>
                </a>
                <form method="POST" action="{% url 'browserid_verify' %}">
                   {% csrf_token %}
                   {% if persona_next_url %}
                   <input type="hidden" name="next" value="{{ persona_next_url }}"/>
                   {% endif %}
                   {{ browserid_form.as_p }}
                </form>
                {% endcomment %}
                {% browserid_login text='Sign in / Sign up' color='light' next=persona_next_url %}
            {% else %}
                <strong>{{ khnpuser.get_person.displayname }}</strong>
                <a href="{% url 'profile' %}">Account</a>
                {# <a class="assist-browserid-logout" href="{% url 'logout' %}">logout</a> #}
                {% browserid_logout text='Sign out' %}

                {% if choose_company_form %}
                <form method="POST" action="{% url 'choose_company' %}" id="choose-company">
                  {% csrf_token %}
                  {{ choose_company_form }}
                  <input type="submit" value="Go" />
                </form>
                {% endif %}

                {% if choose_role_form %}
                <form method="POST" action="{% url 'choose_role' %}" id="choose-role">
                  {% csrf_token %}
                  {{ choose_role_form }}
                  <input type="submit" value="Go" />
                </form>
                {% endif %}
            {% endif %}
            </div>

            <ul class="main_nav tabs">

              <li {% if '/events' in request.path %}class="selected"{% endif %}><a href="{% url 'cms_events' %}">Events</a></li>

              {% for section in cms_sections %}
              <li {% if section.slug in request.path %}class="selected"{% endif %}>
                <a href="{% url 'cms_section' section.slug %}" title="Go to {{ section.title }}">{{ section.title }}</a>
              </li>
              {% endfor %}

              <li{% if is_marketplace %} class="selected"{% endif %}>
                <a href="{% url 'marketplace' %}" title="Go to the marketplace">What's on offer</a>
              </li>
            {% if user.is_authenticated %}
              <li{% if not is_marketplace and not is_cms %} class="selected"{% endif %}>
                <a href="{% url 'home' %}" title="Go to your dashboard">Dashboard</a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
        {% if current_role %}
          <div id="role-identifier" class="{{ current_role }}">
            <div class="centre wrapper">{# <span class="tab org_name">{% if org %}{{ org }}{% else %}{{ object }}{% endif %}</span> #}<span class="tab org_role">{{ current_role|capfirst }}</span></div>
          </div>
        {% endif %}

      </header>
      <div id="main" class="main">
        <div class="centre">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block breadcrumb %}{% endblock %}
            <a name="content" class="hidden">Content</a>
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer>
      <div id="footer" class="footer">
        <div class="centre">
          <div class="footer_panel footer_ncvo">
            <a href="http://www.ncvo.org.uk" title="Go to the NCVO website">
              <img src="{{ STATIC_URL }}images/ncvo-logo-footer.png" alt="NCVO" />
            </a>
          </div>
          <div class="footer_panel footer_big">
            <a href="http://www.biglotteryfund.org.uk" title="Go to the Big Lottery Fund website" class="footer_big_logo_link">
              <img src="{{ STATIC_URL }}images/big_logo.png" alt="Big Lottery Fund"/>
            </a>
          </div>
          <ul class="tabs">
            <li><a href="/about-us">About BIG Assist</a></li>
            <li><a href="/customer/get-in-touch">Contact</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/cookies">Cookies</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="http://data.ncvo.org.uk/mapping-infrastructure">Data map</a></li>
          </ul>
          <p><a href="http://www.national-lottery.co.uk">
            <img src="{{ STATIC_URL }}images/lottery.png" alt="Awarding funds from the National Lottery"/></a><br/>
             Built by NCVO on behalf of BIG. &#169; Copyright Big Lottery Fund ({% now "Y" %}).</p>
        </div>
      </div>
    </footer>
    <div id="common-modal-box"></div>
    {# {% browserid_js %} #}
    <script type="text/javascript" src="https://login.persona.org/include.js?v0110"></script>
    <script type="text/javascript" src="/static/browserid/api.js?v0110"></script>
    <script type="text/javascript" src="/static/browserid/browserid.js?v0110"></script>
  </body>
</html>
