{% load url from future %}
{% if org %}
<div class="nugget">
<p>It appears your organisation is already in the BIG assist programme</p>

<ul>
  <li>Name: {{ person.displayname }}</li>
  <li>Address: {{ additional.registered_address }}</li>
  <li>Postcode: {{ additional.registered_postcode }}</li>
</ul>

<p>To prevent duplicate entries please contact the owner of the entry using the button below:</p>

<a href="{% url 'contact_company_owner' org.org.pk %}" class="link-button">Contact entry owner</a>

<h3>Thats not me!</h3>
<p>If this isn't you please check yout haven't made a typo. If you're certain the information you have provided is correct you can override this warning.</p>

<a class="dismiss link-button" href="#">Override</a>
</div>
{% endif %}
