{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}Choose Role – Dashboard - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ org }} <span class="discreet">select role</span></h1>
{# <a class="link-button" href="{% url 'customer_org_profile' %}">My organization detail</a> #}

<div class="width16 dashboard">
  <ul class="tabs">
  </ul>
  <div class="panel">
    {% block panelcontent %}
      <div class="col col-half col-1">
        <h2>Select role</h2>
        <p>You are registered as both a customer and supplier. To continue to your dashboard, select one in the form below. You can switch between your roles using the drop down at the top-right of the site at any time.</p>
        <p>
          <form method="POST" action="{% url 'choose_role' %}" id="choose-role-inline">
            {% csrf_token %}
            {{ form }}
            {# {{ choose_company_form }} #}
            <input type="submit" value="Go" />
          </form>
        </p>
      </div>
    {% endblock panelcontent %}
    <div class="clear"></div>
  </div>
</div>
<div class="col col-half col-1">
  <h3 class="underline">What&rsquo;s going on</h3>
    <ul class="bulletless">
    {% for p in section.page_set.all %}
        <li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col col-half col-2 last-col">
  <h3 class="underline">
    <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
    <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter"/></a>
  </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="clear"></div>
{% endblock content %}
