{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h2>{{ title|default:"Confirmation" }}</h2>
<p>{{ description }}</p>
<form method="post" action="{{ url }}">
    {% csrf_token %}
    {% if layout = 'bottom' %}
        <div class="confirmation-modal-controls">
            <input type="reset" class="simplemodal-close link-button left" value="{{ cancel|default:'Cancel' }}" />
            <input type="submit" class="action right" value="{{ action|default:'Send' }}" />
        </div>
        {% else %}
        <input type="submit" value="{{ action|default:'Send' }}" />
        <input type="reset" class="simplemodal-close" value="{{ cancel|default:'Cancel' }}" />
    {% endif %}

</form>
{% endblock content %}

