{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}

<div class="form_col">
{% if is_registration  %}
	<h1>Checking with your organisation</h1>
	<p>Your organisation is already registered with Assist/NCVO and has an online ‘group’. We will email the person/people who manage the group to confirm that you are part of this organisation (we can’t give you their names for privacy reasons). If you want to add a message please add it here:</p>

{% else %}
	<h1>Contact entry owner</h1>
	<p>
	    We can't release the contact information of the entry owner for privacy
	    reasons, but if you fill in the form below we'll contact them on your behalf
	    and ask them to confirm you as an authorised user for this organisation.
	</p>
{% endif %}

<form method="post" action="{% url 'contact_company_owner' person.pk %}">
  {% csrf_token %}

    {{ form|form }}

<div class="form-row">
	{% if is_registration %}
		<p class="form-input text">When a colleague responds we will tell you by email. You can then come back, sign in and continue. </p>
		<p class="form-input text">Sorry for the delay this will cause. Hope you understand the reasons.</p>
		
	{% endif %}
</div>

<div class="form-row">
			<span class="form-field"><span class="form-controls">
				<input class="submit-form" value="Send message" type="submit" />
			</span></span>
</div>
		


</form>
</div>
{% endblock content %}
