<span class="form-field {% if field.field.required %}required{% endif %} {% if field.errors %}field_error{% endif %}">
  <div style="float: right">{{ field.errors }}</div>
  <label class="form-label">{{ field.label_tag }}</label>
  <span class="form-input">
    {{ field }}
  </span>
  <span class="form-help">
    {{ field.help_text }}
  </span>
</span>
