{% extends 'base.html' %}
{% load url from future %}

{% block title %}BIG Assist programme for voluntary sector infrastructure organisations in England{% endblock %}

{% block content %}
    <!-- <h1>assist</h1> -->
    {% comment %}
 
    <a class="link-button" href="{% url 'customer_prequals' %}">Start the capability diagnostic</a>
    <a class="link-button" href="{% url 'supplier_prequals' %}">Become a supplier</a>

    {% endcomment %}


	<div class="col width11">
		<p class="home-large">BIG Assist supports infrastructure organisations in the voluntary sector. In some cases support will mean financial help – in the form of a voucher – towards services from approved providers. Support providers are experts with the experience and skills to help infrastructure organisations improve their effectiveness.</p>
		<p class="home-large">Support may also take the form of help from our peer-to-peer support community, which allows infrastructure organisations to share and learn from one another – both online and offline. Not all eligible organisations submitting a self-assessment will receive a voucher for financial support.</p>
		<p class="home-large"><a class="link-button browserid-login" href="#">Sign in</a> with persona to start your registration.</p>
		<p><a href="{% url 'generic_signin' %}">What is persona?</a></p>
		{% comment %}

		<p class="home-large">Are you an <a href="/news/are-you-eligible" target="_blank">infrastructure organisation</a> 
		                      looking to meet the changing environment, and
		                      seeking to adapt the way you operate? <strong class="pink">We can help</strong>.</p>
		<p class="home-large">BIG Assist is a programme putting you at the forefront of change, enabling you
		                      to reflect your organisational needs through an online diagnostic; providing you with
		                      direct support to successfully implement change; and providing you with online and
		                      offline opportunities to learn and network with other infrastructure organisations to
		                      support you in your development.</p>
		{% endcomment %}
	</div>
                  <div class="col width5 last-col">
                    <h3 class="underline hp-heading">What&rsquo;s going on</h3>
                    <ul class="bulletless">
                    {% for p in home_page_news %}
                        <li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                    <p><a href="{% url 'cms_section' 'news' %}">See all news</a></p>
                  </div>
                  <div class="clear"></div>
		  <h2>How BIG Assist helps infrastructure organisations</h2>
		  <div class="panel home-panel">

		    <div class="col col-third col-1">
		      <img src="{{ STATIC_URL}}images/BigAssist_self-assessment.png" alt="" class="image-centre"/>
		      <p>Become a customer by completing an online self-assessment and follow up review call.</p>
		      <p><a href="{% url 'generic_signin' %}" class="browserid-login">Sign in</a> to register and apply for support.</p>
		    </div>

		    <div class="col col-third col-2">
		      <img src="{{ STATIC_URL}}images/BigAssist_MarketPlace.png" alt="" class="image-centre" />
		      <p>Come and see our selection of quality approved suppliers ready to provide the support you need.</p>
		      <p><a href="{% url 'marketplace' %}" class="link-button" title="Browse the approved experts in the MarketPlace">Browse the Marketplace</a></p>
		    </div>
		    <div class="col col-third col-3 last-col">
		      <img src="{{ STATIC_URL}}images/BigAssist_ConnectSpace.png" alt="" class="image-centre"/>
		      <p>Begin learning and networking from other infrastructure organisations through our
                         forums, free resources and face to face opportunities.</p>
		      <p><a href="/news/our-peer-peer-programme" class="link-button" title="See how you can get involved with ConnectSpace and ShareSpace" target="_blank">Join in</a></p>
		    </div>
		    <div class="clear"></div>
		  </div>
                  <div class="panel panel-dark panel-snug">
                    <strong style="color:#888;margin-right:1em;text-transform:uppercase">Get in touch</strong><a href="mailto:assist@ncvo.org.uk" style="margin-right:1em;color:#4c4c4c">assist@ncvo.org.uk</a><span style="color:#888;margin-right:1em;">|</span>020 7520 2418
                  </div>
		  <div class="col col-half col-1">
		    <h3 class="underline hp-heading">Latest discussion</h3>
		    <ul class="bulletless">
                      {% for topic in topics %}
                        <li>
                          <h4 class="hp-forum">{{ topic.forum }}</h4>
                          <a href="/forum/post/{{ topic.post.id }}" title="test">{{ topic.post.topic }}</a>
                        </li> 
                      {% endfor %}
		    </ul>
		  </div>
		  <div class="col col-half col-2 last-col">
		    <h3 class="underline hp-heading">
		      <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
		      <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter" longdesc=""/></a>
		    </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560">Tweets by @BIGAssist</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		  </div>
		  <div class="clear"></div>
{% endblock content %}
