{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
{% if message %}
    {{ message }}
{% else %}
    Do you really want to join {{ object.org }} organisation?
    <form method="post" action="{% url 'join_bigassist' object.pk %}">
        {% csrf_token %}
        {{ form|form }}
        <input type="submit" name="submit" value="Yes" />
        <input type="submit" name="cancel" value="No" />
    </form>
{% endif %}
{% endblock content %}
