{% extends base_template %}

{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#add-users-button').click(function(evt) {
        evt.preventDefault();
        $('.add-users-info').hide();
        $('.add-users-form').show();
    });
    $('#add-users-cancel').click(function(evt) {
        evt.preventDefault();
        $('.add-users-info').show();
        $('.add-users-form').hide();
    });
  });
</script>
{% endblock javascript_slot %}

{% block panelcontent %}
<h2>Users in this organisation</h2>
<ul class="bullet">
    {% for member in members %}
    <li>{{ member }}</li>
    {% endfor %}
</ul>
{% if user|can:"manage_users" %}
<p class="add-users-info">
    <a href="#" class="link-button" id="add-users-button">Add user(s)</a>
</p>
<p>
  <em>You can add users to your organisation to help you work on the self assessment.</em>
</p>

<div class="add-users-form" style="display:none">
    <p>Email address (one per line)</p>
    <form action="{% url 'org_users' %}" method="post">
        {% csrf_token %}
        <textarea name="users"></textarea>
        <br />
        <label>Please select a role for the users</label>
        <input type="radio" name="type" id="type_member" value="member" checked="checked" />
        <label for="type_member">Member</label>
        <input type="radio" name="type" id="type_manager" value="manager" />
        <label for="type_manager">Manager</label>
        <br />
        <a href="#" id="add-users-cancel">cancel</a> <input type="submit" value="Add users" />
    </form>
    <p>Members can edit the self assessment. Managers can edit the self assesment, organisation profile and add new members.</p>
</div>
{% endif %}
{% endblock %}