{% extends 'base.html' %}
{% load form %}
{% load url from future %}

{% block title %}Update organisation details - {{ block.super }}{% endblock %}

{% block content %}
{% if readonly %}
<h1>Organisation details</h1>
{% else %}
<h1>Update organisation details</h1>
{% endif %}
<div class="form_col"/>
<form method="post" action="">
  {% csrf_token %}
  <fieldset>
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <h2>Organisation details</h2>
    <div class="form-row">{{ form.displayname|field }}</div>
    <!--div class="form-row">{{ form.ncvomem|field }}</div-->
    <div class="form-row">{{ form.companyno|field }}</div>
    <div class="form-row">{{ form.charityno|field }}</div>
    {% if readonly %}
    {% include "ro_field.html" with label='Organisation type' value=organisation_type_str %}
    {% else %}
    <div class="form-row">
      <span class="form-field required">
        <label class="form-label">{{ form.org_type.label }}</label>
        <span class="form-input">
          <ul>
            {% for value, title in form.org_type.field.choices %}
            <li>
            <label for="id_org_type_{{ value }}">
              <input type="radio" id="id_org_type_{{ value }}" name="org_type"
              value="{{ value }}"
                {% if form.org_type.value|slugify == value|slugify %}checked="checked"{% endif %}
                >{{ title }}</label>
                {% if value == 4 %}<div style="margin-left:90px">{{ form.detail|field }}</div>{% endif %}

                </li>
            {% endfor %}
          </ul>
        </span>
      </span>
    </div>
    {% endif %}

    <h2>Organisation contact details</h2>
    <span class="discreet">The following questions are required to start the customer assessment, but are optional for general site usage.</span>
    <div class="form-row">{{ form.main_address|field }}</div>
    <div class="form-row">{{ form.postcode|field }}</div>
    <div class="form-row">{{ form.registered_address|field }}</div>
    <div class="form-row">{{ form.registered_postcode|field }}</div>
    <div class="form-row">{{ form.tel_general|field }}</div>
    {# <div class="form-row">{{ form.tel_direct|field }}</div> #}
    {# <div class="form-row">{{ form.email_direct|field }}</div> #}
    <div class="form-row">{{ form.email_general|field }}</div>
    <div class="form-row">{{ form.website|field }}</div>
    {# <div class="form-row">{{ form.maincontactname|field }}</div> #}
    {# <div class="form-row">{{ form.maincontacttitle|field }}</div> #}

    {% if show_payment %}
    <h2>Payment details</h2>
    <div class="form-row">{{ form.bank_name|field }}</div>
    <div class="form-row">{{ form.bank_ac_name|field }}</div>
    <div class="form-row">{{ form.bank_ac_no|field }}</div>
    <div class="form-row">{{ form.bank_sortcode|field }}</div>
    {% endif %}


    {% if is_supplier %}
      <h2>Supplier specific organisation details</h2>
      <div class="form-row">{{ form.year_founded|field }}</div>
      <div class="form-row">{{ form.twitter|field }}</div>
      <div class="form-row">{{ form.linkedin|field }}</div>
    {% endif %}

    {% if not readonly %}
    <div class="form-row">
      <span class="form-field">
        <span class="form-controls">
          <input type="submit" value="Update details"/>
        </span>
      </span>
    </div>
    {% endif %}
  </fieldset>
</form>
</div>
<div id="check_company" class="info_col" style="display: none;"></div>
{% endblock content %}

{% block javascript_slot %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bigassist-org.js"></script>
{% endblock %}
