{% if batch_size_form %}
<div style="float: right; display: inline">
  <form class="batch-size-form" method="GET" action="{{ base_url }}{% if url_suffix %}?{{ url_suffix }}{% endif %}">
  {{ batch_size_form.batch_size }}
  <input type="submit" value="go" />
</form>
</div>
{% endif %}
{% if is_paginated %}
    <ul class="pagination">
      {% with page_param|default:"page" as page_qs %}
      {% if page_obj.has_previous %}
      <li>
      <a href="{{ base_url }}?{{ page_qs }}={{ page_obj.previous_page_number }}&amp;{{ url_suffix }}"
          >&laquo; Prev</a>
      </li>
      {% endif %}

      <li class="active"><a>{{ page_obj.number }} of {{ paginator.num_pages }}</a></li>

      {% if page_obj.has_next %}
      <li class="next">
      <a href="{{ base_url }}?{{ page_qs }}={{ page_obj.next_page_number }}&amp;{{ url_suffix }}"
          >Next &raquo;</a>
      </li>
      {% endif %}
      {% endwith %}
    </ul>
    <span class="hidden result_count">{{ paginator.count|default:0 }}</span>
{% else %}
    <span class="hidden result_count">{{ object_list|length }}</span>
{% endif %}
