{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Update profile</h1>
<form method="post" action="{% url 'profile_edit' %}">
  {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}

        {{ form|form }}

        <div class="form-row">
          <span class="form-field">
            <label class="form-label">Organisation</label>
            <span class="form-input">
                {{ organization }}
            </span>
          </span>
        </div>
    </fieldset>
    <div class="form-row">
      <span class="form-field">
        <span class="form-controls">
            <input type="submit" value="Update"/>
        </span>
      </span>
    </div>
</form>
{% endblock content %}
