{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h1>Personal information</h1>
<p>Please check that your personal information is complete. 
Your name and 'About you' description may appear to other users of the site.</p>

<p><a class="link-button" href="{% url 'profile_edit' %}">Edit</a></p>

<fieldset>
    {% for field in form %}
    <div class="form-row">
      <span class="form-field">
        <label class="form-label">{{ field.label_tag }}</label>
        <span class="form-input">
            {{ field.value }}
        </span>
      </span>
    </div>
    {% endfor %}
    <div class="form-row">
      <span class="form-field">
        <label class="form-label">Organisation</label>
        <span class="form-input">
            {{ organization }}
        </span>
      </span>
    </div>
</fieldset>
{% endblock content %}
