{% extends 'base.html' %}
{% load form %}
{% load url from future %}

{% block title %}Create an account - {{ block.super }}{% endblock %}

{% block content %}
<h1 id="form_header" data-alt-msg="Create a BIG Assist account for your organisation">
	{% if form.errors %}
		Create a BIG Assist account for your organisation
	{% else %}
		{% if khnp_user_orgs %}
			{% if not current_org %}
				Is the organisation you want to register listed below?
			{% else %}
				Create a BIG Assist account for your organisation
			{% endif %}
		{% else %}
			Create a BIG Assist account for your organisation
		{% endif %}
	{% endif %}
</h1>

{% if not current_org %}
	{# <p>Thank you for signing in with Mozilla Persona, now fill in your details to create a BIG Assist account.</p> #}
{% else %}
	<p>You have chosen to create an account for <b>{{ current_org.displayname }}</b> on BIG Assist.
	<br>Please complete form below to create your account.</p>
{% endif %}

<div class="form_col"/>

{% if not form.errors %}
	
	{% if khnp_user_orgs %}
		{% if not current_org %}

			<form id="select_org" style="margin-bottom: 2em" action="/">
				<div class="form-row">
					<label class="form-label">Yes</label>
		{% for org in khnp_user_orgs %}
					<span class="form-input">
						{# <input name="choose_org" id="choice_{{ forloop.counter }}" type="radio" value="{% if is_supplier %}{% url 'known_supplier_register' org.pk %}{% else %}{% url 'known_customer_register' org.pk %}{% endif %}" /> #}
						<input name="choose_org" id="choice_{{ forloop.counter }}" type="radio" value="{% url 'known_generic_register' org.pk %}" />
						<label for="choice_{{ forloop.counter }}">{{ org.displayname }}</label>
					</span>
		{% endfor %}
				</div>
				<div class="form-row">
					<label class="form-label">No</label>
					<span class="form-input">
						<input name="choose_org" id="choice_no" type="radio" value="create_new" />
						<label for="choice_no">&nbsp;</label>
					</span>
				</div>

				<div class="form-row">
					<span class="form-field"><span class="form-controls">
						<input type="submit" class="submit-form" value="Next step" id="submit_select_org" disabled />
					</span></span>

				</div>
			</form> 

			<script type="text/javascript">
			$(function() {
				$('#org_form').hide();
				$("#select_org").change(function(e){
					$("#submit_select_org").removeAttr('disabled');
				}).submit(function(e){
					var value = $('input[name=choose_org]:checked', "#select_org").val();
					if (value !== "create_new") {
						window.location.href = value;
					} else {
						$('#select_org').slideUp(400); 
						$('#org_form').slideDown(400); 
						var val = $('#form_header').data('alt-msg');
						$('#form_header').text(val);
					}				
					e.preventDefault();
				});
			});

			</script>

		{% endif %}
	{% endif %}

{% endif %}

<form method="post" action="" id="org_form">
	{% csrf_token %}


	{% if not similar %}

		{% if khnp_user_orgs %}
			<div style="display:none">{{ form.org_id|field }}</div>
		{% endif %}

		<fieldset>
			{{ form.non_field_errors }}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			<h2>Your details</h2>
			<div class="form-row">{{ form.firstname|field }}</div>
			<div class="form-row">{{ form.surname|field }}</div>

			<h2>Organisation details</h2>
			<div class="form-row">{{ form.displayname|field }}</div>
			<!--div class="form-row">{{ form.ncvomem|field }}</div-->
			<div class="form-row">
				<span class="form-field required">
					<label class="form-label">{{ form.org_type.label }}</label>
					<span class="form-input">
						<ul>
							{% for value, title in form.org_type.field.choices %}
							<li>
							<label for="id_org_type_{{ value }}">
								<input type="radio" id="id_org_type_{{ value }}" name="org_type"
								value="{{ value }}"
									{% if form.org_type.value|slugify == value|slugify %}checked="checked"{% endif %}
									>{{ title }}</label>
									{% if value == 1 %}<div style="margin-left:50px">{{ form.detail_1|field }}</div>{% endif %}
									{% if value == 2 %}<div style="margin-left:50px">{{ form.detail_2|field }}</div>{% endif %}
									{# {% if value == 4 %}<div style="margin-left:50px">{{ form.detail|field }}</div>{% endif %} #}
									</li>
							{% endfor %}
						</ul>
					</span>
				</span>
			</div>

			<div id="org_type_detail" class="form-indent">
				<div class="form-row" data-idref="{{ form.charityno.id_for_label }}">{{ form.charityno|field }}</div>
				<div class="form-row" data-idref="{{ form.companyno.id_for_label }}">{{ form.companyno|field }}</div>
				<div class="form-row" data-idref="{{ form.detail.id_for_label }}">{{ form.detail|field }}</div>
			</div>

			<h2>Organisation contact details</h2>
			<div class="form-row">{{ form.main_address|field }}</div>
			<div class="form-row">{{ form.postcode|field }}</div>
			<div class="form-row">{{ form.registered_address|field }}</div>
			<div class="form-row">{{ form.registered_postcode|field }}</div>
			<div class="form-row">{{ form.tel_general|field }}</div>
			{# <div class="form-row">{{ form.tel_direct|field }}</div> #}
			{# <div class="form-row">{{ form.email_direct|field }}</div> #}
			<div class="form-row">{{ form.email_general|field }}</div>
			<div class="form-row">{{ form.website|field }}</div>
			{# <div class="form-row">{{ form.maincontactname|field }}</div> #}
			{# <div class="form-row">{{ form.maincontacttitle|field }}</div> #}

			<div class="form-row">
				<span class="form-field">
					<span class="form-controls">
						<input type="submit" class="submit-form" value="Create account"/>
					</span>
				</span>
			</div>
		</fieldset>

	{% else %}
		<p><strong>Did you mean:</strong></p>
		{% for person_dict in similar %}
			<p>
				{{ person_dict.person.displayname }}
				{% if person_dict.has_members %}
				<a href="{% url 'contact_company_owner' person_dict.person.pk %}" class="link-button">Select</a>
				<!--
				<a href="{% url 'request_membership' person_dict.person.pk %}" class="openmodal link-button">Request membership</a>
				-->

				{% else %}

					{% if is_supplier %}
					<a href="{% url 'supplier_become_manager' person_dict.person.pk %}" class="openmodal link-button">Select</a>
					{% else %}
					<a href="{% url 'customer_become_manager' person_dict.person.pk %}" class="openmodal link-button">Select</a>
					{% endif %}
				{% endif %}

			</p>
		{% endfor %}
		<div>
			<p>No? Then create a new record for my organisation.</p>
			<div class="form-row">
				<span class="form-field">
					<span class="form-controls">
						<input type="submit" name="force_create" value="Create new record"/>
					</span>
				</span>
			</div>
		</div>
	{% endif %}
</form>
{# Match ORG #}
{% if not form.errors %}{% if not current_org %}
	{% if not khnp_user_orgs %}
		<form id="match_org" style="margin-bottom: 2em" method="get" action="{% if is_supplier %}{% url 'supplier_match_orgs' %}{% else %}{% url 'customer_match_orgs' %}{% endif %}">
			<div class="form-row">
				<label class="form-label">Enter the name of your organisation</label>
				<span class="form-input">
					<input type="text" placeholder="name of org" id="match_org_name" />
					<a href="#" class="link-button" id="check_org">go</a>
				</span>
			</div>
			<div id="match_org_results"></div>
		</form>

		<script type="text/javascript">
		$(function() {

			$(document).on('click', "#check_org", function(e){
				e.preventDefault();
				var value = $("#match_org_name").val();
				$.get("{% if is_supplier %}{% url 'supplier_match_orgs' %}{% else %}{% url 'customer_match_orgs' %}{% endif %}?name="+value, function(data) {
					$("#match_org_results").html(data);
				})
			});

			$('#match_org_name').on('keypress', function(e) {
				if(e.keyCode == 13) {
					e.preventDefault();
					$("#check_org")[0].click();
				}
			});

			$(document).on('click', "#create_new_org", function(e){
				e.preventDefault();
				var value = $("#match_org_name").val();
				$('#id_displayname').val(value);
				$('#match_org').hide();
				$('#org_form').slideDown(400); 
			});


			$('#org_form').hide();
			$("#match_org").change(function(e){
				$("#submit_match_org").removeAttr('disabled');
			}).submit(function(e){
				var value = $('input[name=match_org]:checked', "#match_org").val();
				if (value !== "create_new") {
					window.location.href = value;
				} else {
					var value = $("#match_org_name").val();
					$('#id_displayname').val(value);

					$('#match_org').hide(400); 
					$('#org_form').slideDown(400); 
					// var val = $('#form_header').data('alt-msg');
					// $('#form_header').text(val);
				}				
				e.preventDefault();
			});



		});
		</script>
	{% endif %}
{% endif %}{% endif %}
{# end match org  #}

<p>Information about data protection can be found in our <a href="/privacy">privacy policy</a>.</p>
</div>
<div id="check_company" class="info_col" style="display: none;"></div>

{% if khnp_user_orgs %}
	{% if not current_org %}

	{% endif %}
{% endif %}

{% endblock content %}

{% block javascript_slot %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bigassist-org.js"></script>
{% endblock %}


