<div class="form-row">
  <span class="form-field">
    <label class="form-label">{{ label }}</label>
    <span class="form-input">
      {{ value|default:"" }}
      {% if extra %} <em class="discreet">{{ extra }}</em> {% endif %}
    </span>
  </span>
</div>
