{% extends 'base.html' %}
{% load url from future %}

{% block title %}Sign in - {{ block.super }}{% endblock %}

{% block content %}
<h1>Signing in with Persona</h1>
<p>NCVO uses <a href="http://www.mozilla.org/en-US/persona/">Mozilla Persona</a> for signing users into the site.</p>
<h2>What is Persona?</h2>
<ul class="bullet">
  <li>Persona allows you to sign in to multiple sites using the same email address and password.</li>
  <li>Unlike similar services Persona does not store any personal data.</li>
  <li>NCVO plan to use Persona for all their sites, so you won't have to remember multiple logins.</li>
</ul>
<h2>How does it work?</h2>
<ul class="bullet">
  <li>Persona will open a new window where you will be asked to enter an email address.</li>
  <li>You will then be asked to select a password (8 characters or more), and confirm it.</li>
  <li>Persona will then send you an email, asking you to confirm the email address belongs to you.</li>
  <li>Once you confirm your password you be will brought back to BIG Assist to complete your registration.</li>
</ul>
<p>Once you've registered you can sign back in at any time using the Persona link in the top right of the screen.</p>

<p><a class="link-button browserid-login" href="#">Register / Sign in</a></p>
{% endblock content %}


