<!DOCTYPE html>{% load url from future %}{% load form %}
<html>
  <head>
    <title>download file</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0 0 1em 0;
        font-family: Helvetica, Arial, sans-serif;
        color: #414141;
      }
    </style>
  </head>
  <body>

    {% if file %}
    <p>
        <a target="_blank" href="{% url 'xforms_filedownload_process' formtype fileilk diag_id file %}">{{ file }}</a>
    </p>
    {% else %}
    <p>No file saved</p>
    {% endif %}

  </body>
</html>
