<!DOCTYPE html>{% load url from future %}{% load form %}
<html>
  <head>
    <title>upload file</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0 0 1em 0;
        font-family: Helvetica, Arial, sans-serif;
        color: #414141;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[type=file]').change(function() {
          $form = $(this).parents('form');
          $form.siblings('p').remove();
          $form.siblings('#spinner').show();
          $form.siblings('input[type=file]').hide();
          $(this).parents('form').submit();
        });
      });
    </script>
  </head>
  <body>

    {% if file %}
    <p>Uploaded: <strong>{{ file }}</strong></p>
    {% else %}
    <p>No file saved</p>
    {% endif %}

    <img src="{{ STATIC_URL }}images/spinner.gif" style="display: none; margin: 0 0 1em 0;" id="spinner"/>
    <form method="post" enctype="multipart/form-data" action="{% url 'xforms_fileupload' formtype fileilk diag_id %}">
      {% csrf_token %}
      {{ form|form }}
      {# #071 <input type="submit" value="Save File" /> #}
    </form>

  </body>
</html>
