{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>{{ approval.suppl }} review</h1>
<div class="col width8">
  <ul>
    <li>Status: {% if approval.resubmission %}Resubmission{% else %}New Submission{% endif %}</li>
    <li>Previous status: {% if not approval.prev_appr %}N/A{% else %}
      <ul>
        {% for topic in approval.prev_appr.approvaltopic_set.all %}
        <li>{{ topic }} {{ topic.is_approvad|yesno:"accepted,not accepted" }}</li>
        {% endfor %}
      </ul>
      </li>
    {% endif %}
  </ul>

  Organisation profile:
  <a class="link-button" href="{% url 'supplier_full_profile' approval.suppl.pk %}">Profile</a>
  <h2>Assessment</h2>
  <a class="link-button" href="{% url 'admin_supplier_approval_comments' approval.suppl.pk %}">View assessment</a>

  <h2>Decision</h2> 
  <form method="POST" action="{% url 'panel_approval_review' approval.pk %}">
    {% csrf_token %}
    {{ form|form }}
    <input type="submit" value="Save decision" />
  </form>
</div>
{% endblock content %}


