{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<h1>Panel <span class="discreet">dashboard</span></h1>
<div class="width16 dashboard">
  <div class="panel">
    <div class="col width16">
      <h2>{{ deadline.deadline|date }} supplier applications</h2>
      {% if deadline.panel_state == 'completed' %}
      This panel has been completed.
      {% elif not approvals %}
      There are currently no submissions to review.
      {% else %}
      <div class="col width8">
        Overview:
        <ul>
          <li>{{ new_submissions }} new submission{{ new_submissions|pluralize }}</li>
          <li>{{ re_submissions }} resubmission{{ re_submissions|pluralize }}</li>
        </ul>

        Breakdown
        <ul>
          {% for org_type in org_types %}
          <li>{{ org_type.count }} {{ org_type.org_type }}</li>
          {% endfor %}
        </ul>

        <ul>
          {% for area in areas %}
          <li>{{ area.count }} {{ area.area }}</li>
          {% endfor %}
        </ul>

        <div>
          {% if deadline.panel_state == "in_progress" %}
          <form method="POST" action="">
            {% csrf_token %}
            <select name="approval">
              {% for approval in approvals %}
              {% if approval|can:"can_panel_review" %}
              <option value="{{ approval.pk }}">{{ approval.suppl }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <input type="submit" name="go_to_submission" value="Go"/>
          </form>
          {% endif %}
          <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" name="start_panel" value="{% if not deadline|can:"begin_review" %}Continue review{% else %}Begin review{% endif %}"/>
            {% if pdf_ready %}
                <a class="link-button" href="{% url 'admin_assessments_pdf_download' deadline.pk %}">Download PDF</a>
                <a class="link-button" href="{% url 'admin_assessments_pdf' %}">Generate new PDF</a>
                {% if not pdf_task_success %}
                <p>PDF ERROR: {{ pdf_task_message }}</p>
                {% endif %}
            {% else %}
                {% if pdf_progress %}
                <a class="link-button" href="#" class="disabled">PDF in progress ({{ pdf_progress }})</a>
                {% else %}
                <a class="link-button" href="{% url 'admin_assessments_pdf' %}">Generate PDF</a>
                {% endif %}
            {% endif %}

          </form>
        </div>

      </div>
      <div class="col width7">
        Progress:
        <ul>
          <li>{{ completed }} review{{ completed|pluralize }} completed</li>
          <li>{{ in_progress }} review{{ in_progress|pluralize }} uncompleted</li>
        </ul>

        Breakdown
        <ul>
          <li>{{ passed }} Passed</li>
          <li>{{ failed }} Failed</li>
        </ul>

        <ul>
          {% for org_type in completed_org_types %}
          <li>{{ org_type.count }} {{ org_type.org_type }}</li>
          {% endfor %}
        </ul>

        <ul>
          {% for area in completed_areas %}
          <li>{{ area.count }} {{ area.area }}</li>
          {% endfor %}
        </ul>


        {% if deadline|can:"complete_review" %}
        <form method="POST" action="">
          {% csrf_token %}
          <input type="submit" name="complete_panel" value="Mark review as finished"/>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock content %}

