{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }} <span class="discreet">dashboard</span></h1>
<!--<a class="link-button" href="{% url 'customer_org_profile' %}">My organization detail</a>-->
<div class="width16 dashboard">
  <ul class="tabs">
    {% if not prequal %}
    <li class="selected">
      <a href="{% url 'home' %}">Welcome</a>
    </li>
    {% endif %}
    <li class="right"><a href="{% url 'generic_org_profile' %}">Organisation</a></li>
    <li class="right{% if tab == 'users' %} selected{% endif %}"><a href="{% url 'org_users' %}">Users</a></li>
  </ul>
  <div class="panel">
    {% block panelcontent %}

      <div class="col col-half">
        {% if not current_role %}
          <h2>BIG Assist</h2>
          <p>BIG Assist supports infrastructure organisations in the voluntary sector. In some cases support will mean financial help – in the form of a voucher – towards services from approved providers. Support providers are experts with the experience and skills to help infrastructure organisations improve their effectiveness.</p>
          <p>You can use this site to apply for support from BIG Assist:</p>
          <ul>
            <li><a class="link-button" href="{% url 'customer_prequals' %}">Apply for support</a> </li>
            <li>or to become an approved supplier to the programme </li>
            <li><a class="link-button" href="{% url 'supplier_prequals' %}">Apply to become a supplier</a></li>
          </ul>
        {% endif %}
      </div>

    {% endblock panelcontent %}
    <div class="clear"></div>
  </div>
</div>
<div class="col col-half col-1">
  <h3 class="underline">What&rsquo;s going on</h3>
    <ul class="bulletless">
    {% for p in section.page_set.all %}
        <li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col col-half col-2 last-col">
  <h3 class="underline">
    <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
    <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter"/></a>
  </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="clear"></div>
{% endblock content %}
