{% extends 'base.html' %}
{% load url from future %}
{% load assist %}
{% load form %}

{% block content %}
<h2>{{ title|default:"Confirmation" }}</h2>

{# <p>{{ description }}</p> #}

{% comment %}
<pre>
	{{ project_total }}
	{% if project_total < 0 %}
		Total is less than zero
	{% elif project_total == 0 %}
		Total is exactly zero
	{% elif project_total > 0 %}
		Greater than zero
	{% endif %}
</pre>
{% endcomment %}

{% if project_total == 0 %}
	{% if voucher %}
		<p>You have chosen to use your voucher (<b>{{ voucher.get_residual_value|currencize }}</b>), this will pay for the project and you will not be invoiced.</p>
		<p>You are about to accept this project. Continue?</p>
	{% endif %}
{% elif project_total < 0 %}
	{% if voucher %}
		<p>You have chosen to use your voucher (<b>{{ voucher.get_residual_value|currencize }}</b>), this will pay for the project and you will not be invoiced.</p>
		<p>The remaining value of your voucher will be {{ pos_total|currencize }}.</p>
		<p>You are about to accept this project. Continue?</p>
	{% endif %}
{% elif project_total > 0 %}
	{% if voucher %}
			<p>You have chosen to pay toward the cost of a project whose value is {{ project.price|currencize }}. At the end of the project, the supplier will invoice you <strong class="red">{{ project_total|currencize }}</strong> directly.</p>
			<p>You are about to accept this project. Continue?</p>

	{% else %}
		{# {% if warn_vouchers %} #}
			<p>You have chosen to <strong>continue without a voucher</strong> for a project with a value of {{ project.price|currencize }}. At the end of the project, the supplier will invoice you <strong class="red">{{ project.price|currencize }}</strong> directly.</p>
			<p>You are about to accept this project. Continue?</p>
		{# {% endif %} #}
	{% endif %}
{% endif %}


{% comment %}
	
{% if voucher %}

		<p>You have chosen to use the voucher for {{ voucher.area }} of a value {{ voucher.get_residual_value|currencize }}</p>
	
{% else %}
	{% if warn_vouchers %}
		<div class="alert">You have an available voucher to use. Are you sure you do not want to use it?</div>
	{% endif %}
{% endif %}

{% endcomment %}







<form method="post" action="{{ url }}">
	{% csrf_token %}
	{% if voucher %}
	<input type="hidden" name="voucher" value="{{ voucher.pk }}" />
	{% endif %}

	{% if layout = 'bottom' %}
		<div class="confirmation-modal-controls">
			<input type="reset" class="simplemodal-close link-button left" value="{{ cancel|default:'Cancel' }}" />
			<input type="submit" class="action right" value="{{ action|default:'Send' }}" />
		</div>
	{% else %}
		<input type="submit" value="{{ action|default:'Send' }}" />
		<input type="reset" class="simplemodal-close" value="{{ cancel|default:'Cancel' }}" />
	{% endif %}

</form>
{% endblock content %}


