{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Mentoring details</h1>

<div class="col width12">
<p>The BIG Assist mentoring scheme enables key individuals from infrastructure organisations to learn from each other by providing access to suitable mentors - offering four mentoring sessions. Mentoring can take place through face to face sessions, online, skpye - this must be agreed by each organisation. Mentoring opportunities are designed to be provided where this is an appropriate mechanism to meet a learning need.</p>

<p>By registering as a BIG Assist Mentor you are required to share knowledge, experience, encouragement, skills, advice and small amounts of hands-on training to steer a mentee in the right direction to reach his or her goals, as a BIG Assist mentor you should not attempt to force change against the will of the mentee. As a BIG Assist Mentor you are agreeing to the following as a minimum:<p>

<p>Mentor &amp; Mentee together should:</p>
<ul class="bullet">
<li>Identify roles the mentor can play to help the mentee achieve their goals.</li>
<li>Communicate on a regular basis.</li>
<li>Refer back to previous conversations to make sure that things have been done.</li>
<li>Set the agenda for each meeting.</li>
<li>Cancel only when absolutely necessary – 4 sessions in total should be held.</li>
</ul>

<p>As a Mentor you should:</p>
<ul class="bullet">
<li>Create a positive environment for open communication.</li>
<li>Provide guidance based on your past experiences and expertise.</li>
<li>Help your mentee identify problems and guide them towards solutions.</li>
<li>Lead your mentee through the problem solving processes.</li>
<li>Offer constructive criticism in a supportive way.</li>
</ul>

<p>BIG Assist mentoring opportunities will be organised directly between the 'mentor' and the 'mentee'; the mentee will apply for the sponsorship online from BIG Assist once an agreement in principle has been made. Mentor and Mentee will be required to confirm the sessions have taken place online. The mentee will be required to provide feedback to BIG Assist; upon receipt of this payment can be made.</p>

<p>
Flat rate <strong>£{{ amount }}</strong>
</p>

<form method="post" action="{% url 'customer_become_a_mentor' %}">
  {% csrf_token %}
  {{ form|form }}
  <div class="form-row">
      <div class="form-controls">
          <input type="submit" value="Submit" />
      </div>
  </div>
</form>
</div>
{% endblock content %}
