{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Become a mentor</h1>

<form method="post" action="{% url 'customer_become_a_mentor2' %}">
  {% csrf_token %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Submit" />
  </div>
</form>
{% endblock content %}
