{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h1>You don't appear to be eligible for this programme</h1>
<p>You don't appear to be eligible for the Assist programme, which is available only to local or specialist infrastructure organisations in the voluntary sector in England.</p>
<p>If you believe you do in fact qualify, please call the BIG Assist helpline on 0207 520 2418 and talk to an advisor before starting the self-assessment. We don't want you to waste your time completing a fairly demanding self-assessment if you don't qualify for the programme.</p>
<p>There are a range of other resources coming to this site which you may find useful in improving your efficiency and effectiveness. They will be available on the site's <a href="{% url 'marketplace' %}" title="Link to BIG Assist's list of useful resources and organisations">What's on offer</a>.</p>
<p>If, after talking to us, you are sure that you do qualify for support through BIG Assist, you will find a link to the self-assessment through your <a href="/" title="BIG Assist dashboard">dashboard</a>.</p>
<p>For any other questions, please contact us on <a href="mailto:assist@ncvo.org.uk">assist@ncvo.org.uk</a>.</p>
{% endblock content %}
