{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h1>You may not be eligible for the programme</h1>
<p>Your answers suggest you may not be an 'infrastructure organisation' in the definition used by the BIG Assist programme. We don't want you to waste your time completing a fairly demanding self-assessment if you don't qualify for the programme.</p>
<p>We suggest you call the BIG Assist helpline on 0207 520 2418 and talk to an advisor in more detail about whether your organisation qualifies for support.</p>
<p>There are a range of other resources coming to this site which you may find useful in improving your efficiency and effectiveness. They will be available on the site's <a href="{% url 'marketplace' %}" title="Link to BIG Assist's list of useful resources and organisations">What's on offer</a>.</p>
<p>For any other questions, please contact is on <a href="mailto:assist@ncvo.org.uk">assist@ncvo.org.uk</a>.</p>
<p>If you're sure, you can continue to the <a href="{% url 'customer_diagnostic' %}">self-assessment</a></p>
{% endblock content %}
