{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
{% endblock %}

{% block panelcontent %}
    {% if visits.count == 0 %}
        <h2>You don't host any visits</h2>
    {% else %}
        <h2>
        You have
        {{ total_potential }} potential visitor{{ total_potential|pluralize }} and
        {{ total_confirmed }} confirmed visitor{{ total_completed|pluralize }}
        </h2>
    {% endif %}
    <div class="right">
        <a class="link-button" href="{% url 'customer_host_a_visit' %}">Host another visit</a>
    </div>
    {% for visit in visits %}
        <h3>{{ visit.title }}</h3>
        <span>{{ visit.visit_date }}</span>
        <a href="{% url 'visit_edit' visit.pk %}" class="link-button">Edit details</a>
        {% if visit|can:"remove_visit" %}
        <a href="{% url 'visit_remove' visit.pk %}" class="link-button openmodal">Remove visit</a>
        {% endif %}

        {% if visit.visitor_set.count %}
        <table class="list-table">
            <thead>
                <tr>
                    <th>Applicant</th>
                    <th>Current status</th>
                    <th>Sponsorship</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for visitor in visit.visitor_set.all %}
                <tr>
                    <td>{{ visitor.visitor_org }}</td>
                    <td>{{ visitor.current_status }}</td>
                    <td>
                        {% if visitor.bursary|is_none %}
                            {% if visitor.amount %}
                                Pending approval
                            {% else %}
                                n/a
                            {% endif %}
                        {% elif visitor.bursary %}
                        Approved
                        {% else %}
                        Not approved
                        {% endif %}
                    </td>
                    <td><a href="{% url 'customer_customer_contact' visitor.visitor_org.pk %}" class="openmodal link-button">Contact</a></td>
                    <td>
                        {% if not visitor.visit_instance %}
                        <a href="{% url 'visitor_accept' visitor.pk %}" class="link-button">Accept</a>
                        <a href="{% url 'visitor_reject' visitor.pk %}" class="openmodal link-button">Decline</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This visit currently doesn't have any applicants</p>
        {% endif %}
    {% endfor %}
{% endblock panelcontent %}