{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script>
  $(document).ready(function() {
    $('a.showoffer').click(function(event) {
        event.preventDefault();
        $('div#offer-' + $(this).data('pid')).toggle();
    })
    $('a.accept_project').click(function(evt) {
      $(this).attr('href', $(this).attr('href').split('?')[0]+"?"+$(this).parents('form').serialize());
      setup_modal.call(this, evt);
    });
  });
</script>
{% endblock %}

{% block panelcontent %}
    <h2 class="statusbar">
        {% if total_potential or total_current %}
        You have {{ total_current }} current and {{ total_potential }} potential project{{ total_potential|pluralize }}</h2>
        {% else %}
        You don't have any projects</h2>
        {% endif %}
    {% if current %}
        <h3>Current projects</h3>
        {% for project in current %}
            <div class="row">
                <strong>{{ project.suppl }}</strong> | {{ project.get_customer_state_display }}
                <div class="project-buttons">
                    <a class="link-button" href="{% url 'customer_project_details' project.pk %}">See project details</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if potential %}
        <h3>Potential projects</h3>
        {% for project in potential %}
            <div class="row">
              <div class="project-buttons">
                  <a class="link-button openmodal" href="{% url 'customer_supplier_contact' project.suppl.pk %}">Contact</a>
                  <a class="link-button openmodal" href="{% url 'customer_supplier_contact_dismiss' project.pk %}">Dismiss</a>
              </div>
              <strong>{{ project.suppl }}</strong> | {{ project.get_customer_state_display }}
              {% if project.state == 'proposed' %}
                  | <a href="#" class="showoffer" data-pid="{{ project.pk }}">show offer</a>
                  <div id="offer-{{ project.pk }}" class="offer" style="display:none">
                      <form>
                      <table>
                          <tbody>
                              <tr>
                                  <th>Price</th>
                                  <td>£{{ project.price }}</td>
                                  <th rowspan="4" valign="top">Description of work</th>
                                  <td rowspan="4" valign="top">
                                      {{ project.description|linebreaksbr }}<br />
                                      <a class="link-button accept_project"
                                         href="{% url 'customer_supplier_contact_accept' project.pk %}">Accept this project</a>
                                  </td>
                              </tr>
                              <tr>
                                  <th>Voucher</th>
                                  <td>
                                    {% for voucher in project.applicable_vouchers %}
                                    <input type="radio" id="voucher-{{ voucher.pk }}" name="voucher" value="{{ voucher.pk }}" />
                                    <label for="voucher-{{ voucher.pk}}">Voucher {{ voucher.number }} - {{ voucher.get_residual_value|currencize }}</label>
                                    {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <th>Start date</th>
                                  <td>{{ project.startdate|date }}</td>
                              </tr>
                              <tr>
                                  <th>End date</th>
                                  <td>{{ project.enddate|date }}</td>
                              </tr>
                          </tbody>
                      </table>
                      </form>
                  </div>
              {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if dismissed %}
        <h3>Dismissed projects</h3>
        {% for project in dismissed %}
        <div class="row">
            <strong>{{ project.suppl }}</strong> at {{ project.dismissed|date }} by
            {% if project.dismissed_by_cust %}
            you
            {% else %}
            supplier
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if invoiced %}
        <h3>Invoiced projects</h3>
        {% for project in invoiced %}
        <div class="row">
            <strong>{{ project.suppl }}</strong> completed at {{ project.accepted|date }}
            <div class="project-buttons">
                <a class="link-button" href="{% url 'customer_project_details' project.pk %}">See project details</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock panelcontent %}
