{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script>
  $(document).ready(function() {
    $('#voucher-filter-submit').hide();
    $('tr.voucher-state-expired').hide();
    $('#voucher_filter').change(function() {
        var val = $(this).val();
        $('.expired-vouchers-message').hide();
        if ( val == 'expired' ) {
            $('tr.voucher-state-current').hide();
            $('tr.voucher-state-expired').show();
            var count = $('tr.voucher-state-expired').length;
            if ( count == 0 ) {
                $('.expired-vouchers-message').show();
            }
        } else if ( val == 'current' ) {
            $('tr.voucher-state-expired').hide();
            $('tr.voucher-state-current').show();
        } else {
            $('tr.voucher').show();
        }
    })
  });
</script>
{% endblock %}

{% block panelcontent %}
    <h2 class="statusbar">You have {{ total_vouchers }} voucher{{ total_vouchers|pluralize }}</h2>
    <div class="right">
        <form action="{% url 'customer_dashboard' 'vouchers' %}" id="vouchers-form">
            {% csrf_token %}
            <select name="voucher_filter" id="voucher_filter">
                <option value="current"{% if voucher_filter not in not_current_states %} selected="selected"{% endif %}>Show current vouchers</option>
                <option value="expired"{% if voucher_filter == 'expired' %} selected="selected"{% endif %}>Show expired vouchers</option>
                <option value="all"{% if voucher_filter == 'all' %} selected="selected"{% endif %}>Show all vouchers</option>
            </select>
            <input id="voucher-filter-submit" type="submit" name="submit" value="Filter" />
        </form>
    </div>
    <p style="display: none" class="expired-vouchers-message">There are no expired vouchers</p>
    {% if vouchers %}
    <table class="list-table vouchers">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for voucher in vouchers %}
            <tr class="voucher voucher-state-{{ voucher.get_state }}">
                <td>
                  Voucher {{ voucher.number }} | {{ voucher.get_residual_value|currencize }} ({{ voucher.value|currencize }})<br />
                    <strong>Use:</strong> {{ voucher.area }}
                </td>
                <td>{% if voucher.expires > today %}
                        {% if voucher.get_residual_value > 0 %}<a href="{% url 'marketplace' %}?tab=marketplace&amp;topic={{ voucher.area.pk }}" class="link-button">Find suppliers for this voucher</a>{% endif %}
                    {% endif %}
                    </td>
                <td>
                {% if voucher.expires < today %}
                    <em class="discreet">voucher expired {{ voucher.expires|date }}</em>
                {% else %}
                    <em class="discreet">voucher expires {{ voucher.expires|date }}</em>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock panelcontent %}
