{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script>
  $(document).ready(function() {
    $('a.showoffer').click(function(event) {
        event.preventDefault();
        $('div#offer-' + $(this).data('pid')).toggle();

          var el = $(this);
          el.text() == el.data("text-swap") 
            ? el.text(el.data("text-original")) 
            : el.text(el.data("text-swap"));
    })
    $('a.accept_project').click(function(evt) {
      $(this).attr('href', $(this).attr('href').split('?')[0]+"?"+$(this).parents('form').serialize());
      setup_modal.call(this, evt);
    });

    $('.proposed').each(function(){
        var pid = $(this).data('pid');

        var pp = $('#project-price-' + pid).data("project-price");

        $("#offer-total-" + pid).hide();
        $("#offer-total-message-" + pid).hide();

        var total_message = function(total, message) {
          $("#offer-total-" + pid).fadeOut(200);
          $("#offer-total-message-" + pid).fadeOut(200);
          $("#offer-total-" + pid).html('£' + total).fadeIn(200);
          $("#offer-total-message-" + pid).html("<span>" + message + "</span>").fadeIn(200);
        }


        $("#offer-form-" + pid).change(function(){
          var sel = $(this).find("input.voucher:checked").data("sel-voucher-value");
          var total = pp-sel;

          $("#project_total-" + pid).val(total);

          if (total < 0) {
            var new_total = total *= -1; 
            total_message(new_total, 'Remaining value of voucher');
          } else if(total == 0) {
            total_message(total, 'Your voucher covers the project cost');
          }
          else {
            total_message(total, 'Not covered by voucher &ndash; payable by you');
          }
          $(this).find("a.accept_project.disabled").removeClass('disabled');

        });
    });

  });
</script>
{% endblock %}

{% block panelcontent %}
    <h2 class="statusbar">
        {% if total_potential or total_current %}
        You have {{ total_current }} current and {{ total_potential }} potential project{{ total_potential|pluralize }}</h2>
        {% else %}
        You don't have any projects</h2>
        {% endif %}
    {% if current %}
        <h3>Current projects</h3>
        {% for project in current %}
            <div class="row">
                <strong>{{ project.suppl }}</strong> | {{ project.get_customer_state_display }}
                <div class="project-buttons">
                    <a class="link-button" href="{% url 'customer_project_details' project.pk %}">See project details</a>
                  {% if project|can:"cust_can_provide_feedback" %}
                    <a href="{% url 'customer_project_feedback' project.pk %}" class="link-button action">Provide feedback</a>
                  {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if potential %}
        <h3>Potential projects</h3>
        {% for project in potential %}
            <div class="row">
              <div class="project-buttons">
                  <a class="link-button openmodal" href="{% url 'customer_supplier_contact' project.suppl.pk %}">Contact</a>
                  <a class="link-button openmodal" href="{% url 'customer_supplier_contact_dismiss' project.pk %}">Dismiss</a>
              </div>
              <strong>{{ project.suppl }}</strong> | {{ project.get_customer_state_display }}
              {% if project.state == 'proposed' %}
                  | <a href="#" class="showoffer" data-pid="{{ project.pk }}" data-text-swap="hide offer" data-text-original="show offer">show offer</a>
                  <div id="offer-{{ project.pk }}" class="offer proposed" data-pid="{{ project.pk }}" style="display:none">

                  <style type="text/css">
                    .offer-col {
                      margin-top: 1.4em;
                    }
                    .disabled {
                      cursor: default;
                      display: none !important;
                    }
                    .offer-col dt { font-weight: bold; }
                    @media screen and (min-width: 670px) {
                      .offer-col dt { 
                        border-top:  1px solid #ccc;
                        clear: left;
                      }
                      .offer-col dt > span {
                        float: left;
                        width: 34%;
                        padding: 0.33em 0;
                      }
                      .offer-col dd { 
                        /*background: pink; */
                        margin-left: 36%;
                        padding: 0.33em 0;
                      }
                      .offer-col dd > input[type="radio"] {
                        margin-left: -1.8em;
                        margin-right: 0.2em;
                      }

                    }
                  </style>

                  <form id="offer-form-{{ project.pk }}">
                    <dl class="offer-col offer-information col col-half">
                      <dt><span>Description of work</span></dt>
                      <dd>{{ project.description|linebreaksbr }}<br /></dd>

                      <dt><span>Status</span></dt>
                      <dd>{{ project.get_customer_state_display }}</dd>

                      <dt><span>Supplier</span></dt>
                      <dd>{{ project.suppl }}</dd>

                      <dt><span>Start date</span></dt>
                      <dd>{{ project.startdate|date }}</dd>

                      <dt><span>End date</span></dt>
                      <dd>{{ project.enddate|date }}</dd>

                      <dt><span>Contact supplier</span></dt>
                      <dd>{{ project.suppl.org.get_contact_email }}</dd>
                    </dl>

                    <dl class="offer-col offer-actions col col-half last-col">
                      <dt><span>Project price</span></dt>
                      <dd id="project-price-{{ project.pk }}" data-project-price="{{ project.price }}">£{{ project.price }}
                        <input type="hidden" name="project_total" id="project_total-{{ project.pk }}" value="" />
                        <input type="hidden" name="neg" id="neg-{{ project.pk }}" value="" />
                      </dd>

                      <dt><span>Available vouchers</span></dt>
                      {# This is a horrible hack. If you can see a better way of doing it be my guest  #}
                      {% for voucher in project.applicable_vouchers %}

                        {% if voucher.expires|date == project.enddate|date %}
                          <dd>
                            <input class="voucher" type="radio" id="voucher-{{ voucher.pk }}-{{ project.pk }}" name="voucher" value="{{ voucher.pk }}" data-sel-voucher-value="{{ voucher.get_residual_value }}" />
                            <label for="voucher-{{ voucher.pk}}-{{ project.pk }}">
                              <strong>{{ voucher.get_residual_value|currencize }}</strong>
                              available for {{ voucher.area }}</label>
                              <em class="discreet">voucher expires {{ voucher.expires|date }}</em>
                          </dd>
                        {% elif voucher.expires|timeuntil:project.enddate != '0 minutes' %}
                          <dd>
                            <input class="voucher" type="radio" id="voucher-{{ voucher.pk }}-{{ project.pk }}" name="voucher" value="{{ voucher.pk }}" data-sel-voucher-value="{{ voucher.get_residual_value }}" />
                            <label for="voucher-{{ voucher.pk}}-{{ project.pk }}">
                              <strong>{{ voucher.get_residual_value|currencize }}</strong>
                              available for {{ voucher.area }}</label>
                              <em class="discreet">voucher expires {{ voucher.expires|date }}</em>
                          </dd>
                        {% else %}
                          <dd>
                            <input class="voucher" type="radio" id="voucher-{{ voucher.pk }}-{{ project.pk }}" name="voucher" value="{{ voucher.pk }}" data-sel-voucher-value="{{ voucher.get_residual_value }}" disabled="disabled" />
                            <label for="voucher-{{ voucher.pk}}-{{ project.pk }}" class="discreet" title="This voucher cannot be used because it expires before the proposed complete date">
                              <strong>{{ voucher.get_residual_value|currencize }}</strong>
                              available for {{ voucher.area }}</label>
                              <em class="discreet">voucher expires {{ voucher.expires|date }}</em>
                          </dd>
                        {% endif %}

                      {% endfor %}
                      <dd>
                        <input class="voucher" type="radio" id="no-voucher-{{ project.pk }}" name="voucher" value="" data-sel-voucher-value="0" />
                        <label for="no-voucher-{{ project.pk }}">Continue without voucher</label>
                      </dd>

                      <dt id="offer-total-message-{{ project.pk }}"><span>&nbsp;</span></dt>
                      <dd id="offer-total-{{ project.pk }}">&nbsp;</dd>

                      <dt><span></span></dt>
                      <dd>
                        <a class="link-button action accept_project disabled"
                          href="{% url 'customer_supplier_contact_accept' project.pk %}">Accept this project</a>
                       </dd>
                    </dl>

                  </form>

                    <div class="clear">&nbsp;</div>

                  </div>
              {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if dismissed %}
        <h3>Dismissed projects</h3>
        {% for project in dismissed %}
        <div class="row">
            <strong>{{ project.suppl }}</strong> at {{ project.dismissed|date }} by
            {% if project.dismissed_by_cust %}
            you
            {% else %}
            supplier
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if invoiced %}
        <h3>Invoiced projects</h3>
        {% for project in invoiced %}
        <div class="row">
            <strong>{{ project.suppl }}</strong> completed at {{ project.accepted|date }}
            <div class="project-buttons">
                <a class="link-button" href="{% url 'customer_project_details' project.pk %}">See project details</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock panelcontent %}
