{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<input type="reset" class="simplemodal-close" value="Cancel" />
<h1>Communication log entry</h1>
{% with object.iteminfo as logitem %}
<table>
    <thead></thead>
    <tbody>
        <tr>
            <th>From:</th>
            <td>{{ logitem.sender }}</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>{{ logitem.comm_type }}</td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>{{ logitem.created|date:"DATE_FORMAT" }}</td>
        </tr>
        <tr>
            <th>Details:</th>
            <td>{{ logitem.details }}</td>
        </tr>
    </tbody>
</table>
{% endwith %}
{% endblock content %}

