{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block panelcontent %}
    <div class="col col-half">
        {% if diagnostic %}
            <h2 class="statusbar">Status: {{ diagnostic.get_state_display }}</h2>
        {% else %}
            <h2 class="statusbar">Welcome to your BIG Assist dashboard</h2>
        {% endif %}
{% with diagnostic.prev_diag as prev_diag %}
        {% if not diagnostic %}
            
            {% if prequal %}
                <p><a class="link-button" href="{% url 'customer_diagnostic' %}">Start the self-assessment</a></p>
            {% else %}
                <p><a class="link-button action" href="{% url 'customer_qualification' %}">Start the pre qualification</a></p>
            {% endif %}
            <p><a class="link-button" href="{% url 'marketplace' %}">See what's on offer</a></p>
            <p><a class="link-button" href="/about-us">More about BIG Assist</a></p>

        {% else %}

        {% if diagnostic.state == "ineligible" %}
            <p>Your self-assessment was submitted on {{ diagnostic.submitted|date }}.</p>
            <p>You are welcome to use the website to assess and review consultancy and training, <a href="{% url 'marketplace' %}">check out visit opportunities</a>, and benefit from our guidance articles. </p>
            <p>However, we will not help you with funding any of these activities.</p>
        {% endif %}


        {% if diagnostic.get_rough_state == "form_in_progress" %}
            {% if prev_diag %}
                <p><a class="link-button action"
                    href="{% url 'customer_diagnostic' %}">Continue resubmission of self-assessment </a></p>
              {% else %}
                <p><a class="link-button action"
                    href="{% url 'customer_diagnostic' %}">Continue self-assessment</a></p>
            {% endif %}
        {% endif %}

        {% if diagnostic.state == "prequalified" %}
            <p><a class="link-button action"
                href="{% url 'customer_diagnostic' %}">Start self-assessment</a></p>
        {% endif %}




            {% if diagnostic.get_rough_state == "approved" or diagnostic.state == "recommendation_submitted" %}
                <h2>Application report</h2>
            {% endif %}

            {% if not diagnostic|can:"cust_can_edit_diagnostic" %}
                <p><a class="link-button"
                  href="{% url 'customer_diagnostic' %}">View your self-assessment</a></p>
            {% endif %}
            


            {% if diagnostic|can:"cust_view_recommendation" %}
                 {% if diagnostic.get_rough_state == "approved" %}
                    <p><a class="link-button"
                      href="{% url 'customer_recommendation' %}">View our recommendation</a></p>
                {% else %}
                    <p><a class="link-button action"
                      href="{% url 'customer_recommendation' %}">Review our recommendation</a></p>

                {% endif %}

            {% endif %}

            {% if diagnostic.get_rough_state == "approved" %}
            <p><a class="link-button"
              href="{% url 'customer_commlog_list' %}">View contact log</a></p>
            {% endif %}

            {# This needs a clause that will check if ok to resubmit #}
            {% if not diagnostic|can:"can_resubmit" %}
                {% if spent_vouchers == total_vouchers %}
                <h2>Reapplication</h2>
                    <p><a class="link-button openmodal"
                          href="{% url 'customer_diagnostic_resubmit' %}">Apply for more vouchers</a></p>
                {% endif %}
            {% endif %}

            {% if diagnostic.get_rough_state == "recommendation_in_progress" %}

                <h2>Contact log</h2>
                {% if diagnostic.customercommlog_set.count %}
                <ul class="bulletless">
                    <li><strong>{{ diagnostic.submitted|date }}</strong> | Customer | Self-assessment submitted</li>

                    {% for logrow in diagnostic.customercommlog_set.all %}
                        {% with logrow.iteminfo as logitem %}
                        <li>
                            <strong>{{ logitem.created|date }}</strong> | {{ logitem.sender }} | {{ logitem.comm_type }}
                            {% if logitem.details %}
                                <a class="openmodal" href="{% url 'customer_commlog_detail' logitem.pk %}">details</a>
                            {% endif %}
                            {% if logitem.preview %}
                                <a href="{% url 'customer_recommendation' %}">View our recommendation</a>
                            {% endif %}
                        </li>
                        {% endwith %}
                    {% endfor %}
                     {% if diagnostic.submitted %}
                {% endif %}
                </ul>
                {% else %}
                <p class="discreet">There are no contacts in the log</p>
                {% endif %}
            {% endif %}


    {% if diagnostic.has_contact_info %}
        <h3>Customer diagnostic contact details <a href="{% url 'customer_diagnostic_contact_edit' %}?modal=open" class="link-button openmodal">Edit</a></h3>
      {% with diagnostic as diag %}
          {% include "_diag_contact_details.html" %}
      {% endwith %}
    {% endif %}

        {% endif %}
 
{% comment %} 
            {% if not prev_diag %}
            {# {% if not diagnostic or diagnostic.get_rough_state == "form_in_progress" %} #}
            {% if diagnostic.state == "prequalified" %}
                <p>The customer self-assessment process is now open. This is an important and detailed process, which will take infrastructure organisations some time to complete by someone with a full and over-arching perspective of the organisation. It is important to complete the self-assessment aspect carefully and completely.</p>
                <p>You can submit your completed self-assessment as soon as you are ready –  given this is a new and innovative programme, NCVO wants to support customers effectively and therefore if you have any problems or queries when completing the self-assessment do contact the BIG Assist team.</p>
            {% endif %}
        {% endif %}
{% endcomment %}

        {% if prev_diag %}
            <h2>History</h2>

            {% if vouchers %}
                <h4>Vouchers</h4>
                <ul class="bullet">
                    {% for voucher in vouchers %}
                        <li>{{ voucher.area }} <em class="discreet">voucher expires {{ voucher.expires|date }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

    </div>

    <div class="col col-half last-col">

{% comment "Remove guidance text for all except submitted as no new funding" %}
        {% if not diagnostic %}
            <h2>What's next?</h2>
            <ol>
                <li>
                    Complete the pre-qualification. This short questionnaire checks that you are eligible for the BIG Assist programme.
                </li>
                <li>If you are confirmed as eligible you can start your self-assesment.</li>
            </ol>
        {% endif %}

        {% if diagnostic.state == "prequalified" %}
            <h2>What's next?</h2>
            <ol>
                <li class="very_discreet">
                    Complete the pre-qualification. This short questionnaire checks that you are eligible for the BIG Assist programme.
                </li>
                <li class="very_discreet">If you are confirmed as eligible you can start your self-assesment.</li>
                <li>Start your self-assessment. This is an important and detailed process, which will take infrastructure organisations some time to complete by someone with a full and over-arching perspective of the organisation. It is important to complete the self-assessment aspect carefully and completely.</li>
                <li>You can submit your completed self-assessment as soon as you are ready. If you have any problems or queries when completing the self-assessment do contact the BIG Assist team.</li>
            </ol>
        {% endif %}

        {% if diagnostic.state == "in_progress" %}
            <h2>What's next?</h2>
            <ol>
                <li>Complete your self-assessment. This is an important and detailed process, which will take infrastructure organisations some time to complete by someone with a full and over-arching perspective of the organisation. It is important to complete the self-assessment aspect carefully and completely.</li>
                <li>You can submit your completed self-assessment as soon as you are ready. If you have any problems or queries when completing the self-assessment do contact the BIG Assist team.</li>
            </ol>
        {% endif %}
{% endcomment %}
        {% if diagnostic.get_rough_state == "recommendation_in_progress" %}
            <h2>What's next?</h2>
            <ol>
                <li {% if diagnostic.state == "recommendation_submitted" %} class="very_discreet" {% endif %}>
                    We will check that your self-assessment is complete.
                </li>
                <li {% if diagnostic.state == "recommendation_submitted" %} class="very_discreet" {% endif %}>
                    A BIG Assist reviewer will contact you to arrange a call to discuss your self-assessment.
                </li>
                <li {% if diagnostic.state == "recommendation_submitted" %} class="very_discreet" {% endif %}>
                    The reviewer will then write a report based on the information gathered. This will include a list of recommendations (and possibly vouchers).
                </li>
                <li>
                    {% if diagnostic.state == "recommendation_submitted" %}C{% else %}You will then c{% endif %}onfirm whether you are happy with the report and its recommendations. Any vouchers attached to the recommendations will become available to spend in the marketplace. If you aren't happy you can appeal the recommendations.
                </li>
            </ol>
            {# <p>Your progress through these stages can be monitored on this dashboard.</p> #}
            <p>If you want to see what else BIG Assist will offer, go to the <a href="{% url 'marketplace' %}">What's on offer section</a></p>
        {% endif %}
        {% if diagnostic.state == "recommendation_rejected" %}
            <h2>What's next?</h2>
            <ol>
                <li>You have rejected your recommendations</li>
                <li>You can still use the site to see <a href="{% url 'marketplace' %}">what's on offer</a></li>
                <li>Or reapply using the links in the Reapplication section of this page</li>
            </ol>
        {% endif %}
        {% if diagnostic.state == "recommendation_appealed" %}
            <h2>What's next?</h2>
            <ul>
                <li>You have indicated that you would like to appeal the decision that the customer consultant has made following your diagnostic.</li>
                <li>All BIG Assist appeals are undertaken by the Independent Panel; to make your appeal please email assist@ncvo.org.uk for the attention of Nicola North, Project Manager.</li>
                <li>Please clearly state within your email why you feel the decision taken was wrong, and provide any additional evidence which you would like to be considered.
                </li> 
                {# <li>If you do not want to appeal, but want to reject your recommendations, you can:</li> #}
                {# <li><a class="link-button openmodal" href="{% url 'customer_recommendation_reject' %}">Reject your recommendations</a></li> #}
            </ul>
        {% endif %}
        {% if diagnostic.state == "recommendation_revised" %}
            <h2>What's next?</h2>
            <ul>
                <li>Confirm whether you are happy with the report and its recommendations. Any vouchers attached to the recommendations will become available to spend in the marketplace as soon as you accept the recommendations.
                </li>
            </ul>
        {% endif %}

        {% if diagnostic.get_rough_state == "approved" %}
            {% with diagnostic.customerdevpri_set.all as devpris %}
                <h2>Development priorities</h2>

                <ul class="bullet">
                {% for devpri in devpris %}
                    <li>{{ devpri.topic.topic }}</li>
                {% endfor %}
                </ul>

            {% endwith %}
            <h2>What's next?</h2>
            <ol>
                <li><a href="{% url 'marketplace' %}?tab=marketplace">Spend your vouchers</a></li>
                <li><a href="/news/customer-guidelines">Customer guidelines</a></li>
                <li><a href="{% url 'marketplace' %}?tab=library">Browse our Assist library for helpful resources</a></li>
                <li><a href="{% url 'marketplace' %}?tab=connectspace">Visit ConnectSpace to browse opportunities in visits</a></li>
            </ol>
        {% endif %}
{% endwith %}
  {% if not current_role %}
      <h2>Did you know</h2>
      <ul>
        <li>You can also apply to <a href="{% url 'add_supplier_role' %}" class="link-button openmodal">become a supplier</a></li>
      </ul>
  {% endif %}
    </div>
{% endblock panelcontent %}
