{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
{% endblock %}

{% block panelcontent %}
    {% if total_meetspace == 0 %}
        <h2>You have no visits</h2>
    {% else %}
        <h2>
        You have
        {{ total_potentialv }} potential visit{{ total_potentialv|pluralize }}
        and {{ total_completedv }} completed visit{{ total_completedv|pluralize }}
        </h2>
    {% endif %}
    <div class="right">
        <a class="link-button" href="{% url 'customer_host_a_visit' %}">Host a visit yourself</a>
    </div>
    {% if visits %}
    <table class="list-table">
        <thead>
            <tr>
                <th></th>
                <th>Status</th>
                <th>Sponsorship</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {# All visits where I am a visitor #}
            {% for visitor in visits %}
            <tr>
                <td>{{ visitor.visit.host }}</td>
                <td>{{ visitor.get_state_display }}</td>
                <td>
                    {% if visitor|can:"apply_for_bursary" %}
                    <a href="{% url 'visitor_bursary' visitor.pk %}" class="link-button">Apply for sponsorship</a>
                    {% else %}
                        {% if visitor.bursary|is_none %}
                            {% if visitor.amount %}
                                Requested:&nbsp;{{ visitor.amount|currencize }}
                            {% else %}
                                Not requested
                            {% endif %}
                        {% elif visitor.bursary %}
                        Granted:&nbsp;{{ visitor.amount|currencize }}
                        {% else %}
                        Not granted
                        {% endif %}
                    {% endif %}
                </td>
                <td><a href="{% url 'customer_customer_contact' visitor.visit.host.pk %}" class="openmodal link-button">Contact</a></td>
                <td>
                    {% if visitor|can:"leave_feedback" %}
                    <a href="{% url 'visitor_feedback' visitor.pk %}" class="link-button">Leave feedback</a>
                    {% else %}
                        {% if visitor.feedback %}
                            Feedback given ({{ visitor.fb_score }})
                        {% endif %}
                    {% endif %}
                    {% if visitor|can:"discard_visit" %}
                    <a href="{% url 'visitor_discard' visitor.pk %}" class="openmodal link-button">Discard</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <p>
        <a class="link-button" href="{% url 'marketplace'%}?tab=connectspace">Find a visit in the ConnectSpace</a>
    </p>
{% endblock panelcontent %}
