{% extends 'customer/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
  <script type="text/javascript">
  $(document).ready(function() {
    $('button.date-button').click(function() {
        $this = $(this);
        var id=$this.data('did');
        var mpk=$this.data('mentee');
        $this.hide();
        $('#did-block-'+mpk+'-'+id).show();
    });
    $('button.did-submit').click(function() {
        $this = $(this);
        var id=$this.data('did');
        var mpk=$this.data('mentee');
        var value=$('#did-input-'+mpk+'-'+id).val();
        var jqxhr = $.post('/mentee/arrange/', {did: id, mentee: mpk, value: value}, 'text');
        jqxhr.complete(function(data) {
            var text=data.responseText;
            if (text == 'PAST') {
                alert('Please select date in the future.');
            } else if (text) {
                $('#did-block-'+mpk+'-'+id).replaceWith(data.responseText);
            } else {
                $('#did-block-'+mpk+'-'+id).hide();
                $('#did-btn-'+mpk+'-'+id).show();
            }
        });
    });
  })
  </script>
{% endblock %}

{% block panelcontent %}
    {% with potential.count as total_potential %}
    {% with confirmed.count as total_confirmed %}
    {% if total_potential == 0  and total_confirmed == 0 %}
        <h2>You don't have any mentees</h2>
    {% else %}
        <h2>
        You have
        {{ total_potential }} potential mentee{{ total_potential|pluralize }}
        {{ total_confirmed }} confirmed mentee{{ total_completed|pluralize }}
        </h2>
    {% endif %}
    {% if mentor %}
    <div class="right">
        <a class="link-button" href="{% url 'mentor_edit' mentor.pk %}">Edit my mentoring details</a>
    </div>
    {% endif %}
    {% if total_potential %}
        <h3>Potential mentees</h3>
        <table class="list-table">
            <thead>
                <tr>
                    <th>Applicant</th>
                    <th>Current status</th>
                    <th>Sponsorship</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mentee in potential %}
                <tr>
                    <td>{{ mentee.mentee_org }}</td>
                    <td>{{ mentee.get_state_display }}</td>
                    <td>
                        {% if mentee.bursary|is_none %}
                            {% if mentee.amount %}
                                Pending approval: &nbsp;{{ mentee.amount|currencize }}
                            {% else %}
                                n/a
                            {% endif %}
                        {% elif mentee.bursary %}
                        Approved: &nbsp;{{ mentee.amount|currencize }}
                        {% else %}
                        Not approved
                        {% endif %}
                    </td>
                    <td><a href="{% url 'customer_customer_contact' mentee.mentee_org.pk %}" class="openmodal link-button">Contact</a></td>
                    <td>
                        {% if mentee|can:"acceptreject_mentee" %}
                        <a href="{% url 'mentee_accept' mentee.pk %}" class="openmodal link-button">Accept</a>
                        <a href="{% url 'mentee_reject' mentee.pk %}" class="openmodal link-button">Decline</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if total_confirmed %}
        <h3>Confirmed mentees</h3>
        <table class="list-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Agreed dates</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mentee in confirmed %}
                {% with mentee.pk as mpk %}
                <tr>
                    <td>{{ mentee.mentee_org }}</td>
                    <td>
                        {% if mentee.date1 %}
                            {{ mentee.date1|date:"DATE_FORMAT"}}
                        {% else %}
                        <button class="date-button"
                                id="did-btn-{{mpk}}-1"
                                data-mentee="{{ mpk }}"
                                data-did="1">Arrange</button>
                        <div id="did-block-{{mpk}}-1" style="display: none">
                            <input type="text"
                                   id="did-input-{{mpk}}-1"
                                   size="10"
                                   class="datepicker" />
                            <button class="did-submit"
                                    data-mentee="{{ mpk }}"
                                    data-did="1">Go</button>
                        </div>
                        {% endif %}<br />
                        {% if mentee.date2 %}
                            {{ mentee.date2|date:"DATE_FORMAT"}}
                        {% else %}
                        <button class="date-button"
                                id="did-btn-{{mpk}}-2"
                                data-mentee="{{ mpk }}"
                                data-did="2">Arrange</button>
                        <div id="did-block-{{mpk}}-2" style="display: none">
                            <input type="text"
                                   id="did-input-{{mpk}}-2"
                                   size="10"
                                   class="datepicker" />
                            <button class="did-submit"
                                    data-mentee="{{ mpk }}"
                                    data-did="2">Go</button>
                        </div>
                        {% endif %}<br />
                        {% if mentee.date3 %}
                            {{ mentee.date3|date:"DATE_FORMAT"}}
                        {% else %}
                        <button class="date-button"
                                id="did-btn-{{mpk}}-3"
                                data-mentee="{{ mpk }}"
                                data-did="3">Arrange</button>
                        <div id="did-block-{{mpk}}-3" style="display: none">
                            <input type="text"
                                   id="did-input-{{mpk}}-3"
                                   size="10"
                                   class="datepicker" />
                            <button class="did-submit"
                                    data-mentee="{{ mpk }}"
                                    data-did="3">Go</button>
                        </div>
                        {% endif %}<br />
                        {% if mentee.date4 %}
                            {{ mentee.date4|date:"DATE_FORMAT"}}
                        {% else %}
                        <button class="date-button"
                                id="did-btn-{{mpk}}-4"
                                data-mentee="{{ mpk }}"
                                data-did="4">Arrange</button>
                        <div id="did-block-{{mpk}}-4" style="display: none">
                            <input type="text"
                                   id="did-input-{{mpk}}-4"
                                   size="10"
                                   class="datepicker" />
                            <button class="did-submit"
                                    data-mentee="{{ mpk }}"
                                    data-did="4">Go</button>
                        </div>
                        {% endif %}<br />
                    </td>
                    <td><a href="{% url 'customer_customer_contact' mentee.mentee_org.pk %}" class="openmodal link-button">Contact</a></td>
                    <td>
                        {% if mentee|can:"complete" %}
                        <a href="{% url 'mentee_complete' mentee.pk %}" class="openmodal link-button">Complete</a>
                        {% endif %}
                        {% if mentee|can:"complete_early" %}
                        <a href="{% url 'mentee_complete_early' mentee.pk %}" class="openmodal link-button">Complete early</a>
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% endwith %}
    {% endwith %}
{% endblock panelcontent %}