{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }} <span class="discreet">dashboard</span></h1>
<!--<a class="link-button" href="{% url 'customer_org_profile' %}">My organization detail</a>-->
<div class="width16 dashboard">
  <ul class="tabs">
    {% if not prequal %}
    <li class="selected">
      <a href="{% url 'home' %}">Welcome</a>
    </li>
    {% elif diagnostic %}
    <li {% if tab == 'diagnostic' %}class="selected"{% endif %}>
      <a href="{% url 'customer_dashboard' 'diagnostic' %}">Application</a>
    </li>
    <li {% if tab == 'vouchers' %}class="selected"{% endif %}>
      <a href="{% url 'customer_dashboard' 'vouchers' %}">Vouchers <span class="counter">{{ total_vouchers }}</span></a>
    </li>
    <li {% if tab == 'projects' %}class="selected"{% endif %}>
      <a href="{% url 'customer_dashboard' 'projects' %}">Projects <span class="counter">{{ total_projects }}</span></a>
    </li>
    <li {% if tab == 'connectspace' %}class="selected"{% endif %}>
      <a href="{% url 'customer_dashboard' 'connectspace' %}">ConnectSpace <span class="counter">{{ total_meetspace }}</span></a>
    </li>
    {% if is_visit_host %}
    <li {% if tab == 'visitors' %}class="selected"{% endif %}>
      <a href="{% url 'customer_dashboard' 'visitors' %}">Visitors <span class="counter">{{ total_visitors }}</span></a>
    </li>
    {% endif %}
    {% endif %}
    <li class="right"><a href="{% url 'customer_org_profile' %}">Organisation</a></li>
    <li class="right{% if tab == 'users' %} selected{% endif %}"><a href="{% url 'org_users' %}">Users</a></li>
  </ul>
  <div class="panel">
    {% block panelcontent %}{% endblock panelcontent %}
    <div class="clear"></div>
  </div>
</div>
<div class="col col-half col-1">
  <h3 class="underline">What&rsquo;s going on</h3>
    <ul class="bulletless">
    {% for p in section.page_set.all %}
        <li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col col-half col-2 last-col">
  <h3 class="underline">
    <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
    <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter"/></a>
  </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="clear"></div>
{% endblock content %}
