{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}


	<h2>Update application contact details for {{ object.cust }}</h2>
	<form method="post" action="{% url 'customer_diagnostic_contact_edit' %}">

		{% csrf_token %}
		{{ form.media }}
		{% for hidden in form.hidden_fields %}
		  {{ hidden }}
		{% endfor %}
		{{ form.non_field_errors }}
		{% for hidden in form.hidden_fields %}
		  {{ hidden }}
		{% endfor %}
		{% if is_modal %}
			<input type='hidden' name='modal' value='True' />
		{% endif %}

		{% for field in form.visible_fields %}
			<div class="form-row" id="{{ field.html_name }}">
				{{ field|field }}
			</div>
		{% endfor %}
    <div class="form-row">
      <span class="form-field">
        <span class="form-controls">
			<a class="link-button" href="{% url 'home' %}" class="simplemodal-close"> Back</a>
			<input class="link-button action" type="submit" value="Update" />
        </span>
      </span>
    </div>
	</form>

{% endblock content %}