{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Get in touch</h1>
<p>We'll contact {{ supplier }} for you and they will get back to you to discuss your interest.</p>
<form method="post" action="{% url 'customer_contacts_supplier' supplier.pk %}">
  {% csrf_token %}
  {{ form|form }}

	<div class="form-row">
	<span class="form-field"><span class="form-controls">
		<input type="submit" class="link-button action" value="Express interest" />
	</span></span>
	</div>

</form>
{% endblock content %}
