{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Get in touch</h1>
<p>If you would like more information about BIG Assist fill in the form below or use the contact details to get in touch.</p>
<form method="post" action="{% url 'customer_get_in_touch' %}">
  {% csrf_token %}
  {{ form|form }}
  	<div class="form-row">
	<span class="form-field"><span class="form-controls">
		<input type="submit" class="link-button action" value="Send" />
	</span></span>
	</div>
</form>

<h2>Contact details</h2>
<ul class="bulletless">
<li>Telephone: 020 7520 2418</li>
<li>Email: assist@ncvo.org.uk</li>
</ul>
<p>BIG Assist is based at:</p> 
<p>National Council for Voluntary Organisations (NCVO)<br/>
Society Building<br/>
8 All Saints Street<br/>
London<br/>
N1 9RL</p>

{% endblock content %}
