{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#id_date_type_0').click(function() {$('#id_date').val('').prop('disabled', true)});
    $('#id_date_type_1').click(function() {$('#id_date').prop('disabled', false)});
    $('#id_date').focus(function() {$('#id_date_type_2').prop('selected', true)});
  });
</script>
{% endblock %}


{% block content %}
<h1>Update visit</h1>

<form method="post" action="{% url 'visit_edit' object.pk %}">
  {% csrf_token %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" class="link-button action" value="Save" />
  </div>
</form>
{% endblock content %}
