{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Hosting visit</h1>

<div class="col width12">
<p>The BIG Assist sponsored visit scheme enables key individuals from infrastructure organisations to learn from peers during a site visit – this is an extremely valuable way of learning and sharing best practice. Sponsored visit opportunities are designed to be provided where this is an appropriate mechanism to meet a learning need.</p>

<p>The BIG Assist visits can take a number of forms:</p>
<ul class="bullet">
<li>A group from one organisation visiting another on a one-off basis</li>
<li>Two organisations exchanging ideas through visiting each other</li>
<li>A group made up of individuals from a range of organisations visiting another – this is particularly pertinent to specialist infrastructure groups</li>
<li>An organisation hosting an event to enable local infrastructure organisations to network and learn from each other</li>
</ul>

<p>By registering as a BIG Assist host organisation you are confirming the following:</p>
<p>Host & Visitor together should:</p>
<ul class="bullet">
<li>Identify the purpose of the visit to achieve the learning outcome.</li>
<li>Set the ‘agenda’ for the meeting.</li>
<li>Agree the time, date, location of the visit as well as share details of personnel – who will be meeting who.</li>
<li>Cancel only if absolutely necessary.</li>
</ul>

<p>As a host you agree to:</p>
<ul class="bullet">
<li>Create a welcoming environment.</li>
<li>Share information based on your past experiences and expertise.</li>
</ul>

<p>BIG Assist visits will be organised, content and logistics, directly between the ‘host’ organisation and the ‘visiting’ organisation; the visiting organisation will apply for the sponsorship online from BIG Assist once an agreement in principle has been made. Host and Visitor will be required to confirm the visit has taken place online. The visiting organisations will be required to provide feedback to BIG Assist after the event; upon receipt of this payment can be made.</p>

<p>
Flat rate <strong>£{{ amount }}</strong>
</p>

<form method="post" action="{% url 'customer_host_a_visit' %}">
  {% csrf_token %}
  {{ form|form }}
  <div class="form-row">
      <div class="form-controls">
          <input type="submit" class="link-button action" value="Submit" />
      </div>
  </div>
</form>
</div>
{% endblock content %}
