{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Update mentoring details</h1>

<form method="post" action="{% url 'mentor_edit' object.pk %}">
  {% csrf_token %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Save" />
  </div>
</form>
{% endblock content %}
