{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}{{ mentor.mentor }} - {{ block.super }}{% endblock %}

{% block content %}
<p><a class="link-button" href="{% url 'marketplace' %}/?tab=connectspace">Back to What's on offer</a></p>

<h1>{{ mentor.mentor }}
    {% if mentee %}
        <span class="discreet">contacted</span>
    {% endif %}
</h1>
<h2>{{ mentor.get_subheading }}</h2>
<div class="width16 profile">
    <div class="width12 col">
        <p>{{ mentor.description }}</p>
    </div>
    <div class="width4 col last-col">
        {% if mentor|can:"get_in_touch" %}
        <p><a class="link-button" href="{% url 'mentor_get_in_touch' mentor.pk %}">Get in touch</a></p>
        {% endif %}
    </div>
</div>

{% endblock content %}

