{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Leave feedback</h1>
<p>Rate how your mentoring went</p>
<form method="post" action="{% url 'mentee_feedback' mentee.pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Mentoring organisation" value=mentee.mentor.mentor_org %}
  {% include "ro_field.html" with label="Mentor" value=mentee.mentor %}
  {% if mentee.bursary and mentee.purpose %}
      {% include "ro_field.html" with label="Purpose of the mentoring" value=mentee.purpose %}
  {% endif %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Submit feedback" />
  </div>
</form>
{% endblock content %}
