{% extends 'base.html' %}
{% load url from future %}
{% load form assist %}

{% block content %}
<h1>Apply for sponsorship</h1>
<p>
    Sponsorships are available to help organisations attend
    peer-to-peer mentroing.
</p>

<form method="post" action="{% url 'mentee_bursary' mentee.pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Mentoring organisation" value=mentee.mentor.mentor_org %}
  {% include "ro_field.html" with label="Mentor" value=mentee.mentor %}
  {% include "ro_field.html" with label="Amount" value=amount|currencize %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Apply" />
  </div>
</form>
{% endblock content %}
