{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h1>Who qualifies?</h1>

<p>To fill in the Big Assist customer self-assessment you should be a local or specialist voluntary sector or social enterprise support organisation and work in England.</p>

<p>Big Assist is designed to support organisations who mainly work with voluntary sector organisations rather than providing mostly individual support or support to commercial businesses.</p>

<p>Applicants who only help find bids for grants and support organisations with networking may need to demonstrate they provide other types of support or may not qualify to complete the self-assessment.</p>


<p>If an organisation doesn’t qualify for the self-assessment they can still access support resources on the Big Assist website and there will also be an extensive events programme with both face to face and on line events around the country.</p>

<p>If you need clarification around qualification for the Big Assist self-assessment please <a href="{% url 'customer_get_in_touch' %}">contact us</a>.</p>

{% endblock content %}

