{% extends 'base.html' %}
{% load url from future %}

{% block title %}Requirements for users - {{ block.super }}{% endblock %}

{% block content %}
<h1>Requirements for users of the diagnostic</h1>
<p>The BIG Assist programme is designed to help infrastructure organisations.</p>
<p>By infrastructure organisation, we mean civil society organisations whose <strong>main or only purpose</strong> is to support the work of other groups in the voluntary and community sector. A civil society organisation is:</p>
<ul class="bullet">
  <li>a registered charity</li>
  <li>a voluntary and community unincorporated charitable association</li>
  <li>a community benefit society registered as an industrial and provident society</li>
  <li>a community interest company</li>
  <li>an organisation of another type if you operate as a social enterprise and principally reinvest your surpluses for social benefit</li>
</ul>
<h2>Are you an infrastructure organisation?</h2>
</p>
<div class="panel width16">
    <div class="col col-third col-1">
        <h3>Yes</h3>
        <p>If you are an infrastructure organisation as defined above, then you can register to be a BIG Assist customer by completing the self-assessment.</p>
        <p><a class="link-button openmodal" href="{% url 'add_customer_role' %}">Start the self-assessment</a></p>
    </div>

    <div class="col col-third col-2">
        <h3>I'm not sure</h3>
        <p>If you are not sure whether you are an infrastructure organisation as defined above, then get it touch and we’ll be able to help.</p>
        <p><a class="link-button" href="{% url 'customer_get_in_touch' %}" title="Get in touch to discuss whetehr you qualify">Get in touch</a></p>
    </div>

    <div class="col col-third last-col">
        <h3>No</h3>
        <p>If you are not an infrastructure organisation as defined above, then we’re sorry but you cannot register as a BIG Assist customer.</p>
        <p><a class="link-button" href="{% url 'customer_prequal_reasons' %}" title="Read more about our our requirements">Read more</a></p>
    </div>
    <div class="clear"></div>
</div>
{% endblock content %}

