{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<a href="{% url 'customer_dashboard' 'projects' %}">Back to dashboard</a>

<h1>Provide feedback</h1>
<form method="post" action="{% url 'customer_project_feedback' project.pk %}">
  {% csrf_token %}
  <p>Provide feedback about your project with {{ project.suppl }}.
     This feedback will be sent to BIG Assist and to {{ project.suppl }}.</p>
  {{ form|form }}

	<div class="form-row">
	<span class="form-field"><span class="form-controls">
		<input type="submit" class="link-button action" value="Submit" />
	</span></span>
	</div>

</form>
{% endblock content %}
