{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<a href="{% url 'customer_dashboard' 'projects' %}">Back to dashboard</a>

<h1>Project details</h1>

{% include "ro_field.html" with label="Status" value=project.get_supplier_state_display %}
{% include "ro_field.html" with label="Supplier" value=project.suppl %}
{% include "ro_field.html" with label="Price (&#163;)" value=project.price %}
{% if project.voucher %}{% include "ro_field.html" with label="Voucher" value=project.voucher.area extra=project.voucher.expires|date %}{% endif %}
{% include "ro_field.html" with label="Description of work" value=project.description|linebreaksbr %}
{% include "ro_field.html" with label="Start date" value=project.startdate|date %}
{% include "ro_field.html" with label="Completion date" value=project.enddate|date %}
{% if project.proposed %}{% include "ro_field.html" with label="Date proposed" value=project.proposed|date %}{% endif %}
{% if project.accepted %}{% include "ro_field.html" with label="Date accepted" value=project.accepted|date %}{% endif %}

{% with project.suppl.org.get_contact_email as email %}
{% if email %}
<div class="form-row">
  <span class="form-field">
    <label class="form-label">Contact supplier</label>
    <span class="form-input">
      <a href="mailto:{{ email }}">{{ email }}</a>
    </span>
  </span>
</div>
{% endif %}
{% endwith %}


<div class="actions space-above">
  {% if project|can:"cust_can_complain_about_project" %}
  <h2>Problems?</h2>
  <p>If you are experiencing problems with the delivery of your contract please
     try to resolve them directly with the supplier.
     If this is proving difficult, please use
     the button below to tell BIG Assist.</p>
  <p>  <a href="{% url 'customer_project_problems' project.pk %}" class="link-button">Tell BIG Assist about a problem with this project</a></p>
  {% endif %}
  {% if project|can:"cust_can_provide_feedback" %}
  <p>
  <a href="{% url 'customer_project_feedback' project.pk %}" class="link-button">Provide feedback</a>
  <a href="{% url 'customer_project_not_complete' project.pk %}" class="link-button">Make a complaint</a>
  </p>
  {% endif %}
</div>
{% endblock content %}

