{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<a href="{% url 'customer_dashboard' 'projects' %}">Back to dashboard</a>

<h1>Report problem</h1>

<form method="post" action="{% url 'customer_project_problems' project.pk %}">
  {% csrf_token %}
  {{ form|form }}
  <input type="submit" value="Submit" />
</form>
{% endblock content %}
