{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<a href="{% url 'customer_dashboard' 'projects' %}">Back to dashboard</a>

<h1>Make a complaint about this project</h1>
<p>{{ project.suppl }} marked this project as complete {# at ??? #}</p>
<p>If this is not correct please, or you have another complaint to make about this project use the form below to tell us.</p>
{# <p>If you don't notify us before 11 August 2012 your account will be debitted for the full amount of the project.</p> #}

<form method="post" action="{% url 'customer_project_not_complete' project.pk %}">
  {% csrf_token %}
  {{ form|form }}
  <input type="submit" value="Submit" />
</form>

<p>We will contact you to discuss how best to resolve this situation.</p>
{% endblock content %}
