{% extends 'base.html' %}
{% load url from future %}
{% load form %}
{% load assist %}

{% block title %}Your recommendation - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ diag.cust }} diagnostic recommendation</h1>
<p>Based on the information gathered through the diagnostic your reviewer has given you the following recommendations.</p>
<div class="col col-1 width10" style="padding: 1em 0 0 0">
  <h2>Background to organisation</h2>
  <p>{{ diag.orgnl_overview|linebreaksbr }}</p>
  <p><em>**It is suggested that the preferred supplier(s) for the work contact the organisation for the full diagnostic report**</em></p>

  <h2>Recommendation for support</h2>
  <p>{{ diag.financial_health|linebreaksbr }}</p>

  <h2>Suggested outcomes of support from BIG Assist</h2>
  <p>{{ diag.snr_lev_commit|linebreaksbr }}</p>
</div>
<div class="col col-2 width5 last-col" style="padding:1em 0 0 0;">
  <h2>Development priorities</h2>
  {% for dev_pri in dev_pris %}
  <div class="dev_pri">
    <h4>{{ dev_pri.topic }}</h4>
    <ul class="bullet">
      <li>Priority order: {{ dev_pri.pri_lev }}</li>
      <li>Support type: {{ dev_pri.support_type }}</li>
      <li>Voucher value: {{ dev_pri.value }}</li>
    </ul>
  </div>
  {% endfor %}

  <div class="clear">
  {% if show_disclaimer %}
  <p class="discreet">By approving these recommendations you are also accepting
  terms of use for vouchers.</p>
  {% endif %}
  
  {% if diag|can:"cust_approve_recommendation" %}
  <p>
  <a class="link-button action openmodal"
  href="{% url 'customer_recommendation_approve' %}"
  >Approve these recommendations</a>
  </p>
  {% endif %}

  {% if diag|can:"cust_reject_recommendation" %}
  <p>
  <a class="link-button action openmodal"
  href="{% url 'customer_recommendation_reject' %}"
  >Reject these recommendations</a>  
  </p>
  {% endif %}

  {% if diag|can:"cust_appeal_recommendation" %}
  <p>
  <a class="link-button action openmodal"
  href="{% url 'customer_recommendation_appeal' %}"
  >Appeal these recommendations</a>  
  </p>
  {% endif %}

  </div>

</div>
{% endblock content %}

