{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>{{ object }} contact details</h1>
<dl>
{% if address %}
<dt>Address</dt>
<dd>{{ address|linebreaksbr }}</dd>
{% endif %}
{% if phone %}
<dt>Contact phone</dt>
<dd>{{ phone }}</dd>
{% endif %}
{% if email %}
<dt>Contact email</dt>
<dd>{{ email }}</dd>
{% endif %}
{% endblock content %}

