{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}{{ supplier }} - {{ block.super }}{% endblock %}

{% block content %}
<p><a class="link-button" href="{% url 'marketplace' %}?tab=marketplace">Back to What's on offer</a></p>

<h1>
    {{ supplier }} <span class="discreet">profile</span>
    {% if khnp_organisation %}{{ supplier|get_project_state:khnp_organisation }}{% endif %}
</h1>
<div class="width16 profile">
    <div class="width8 col">
        <h2>&nbsp;</h2>
        <p class="introduction">{{ diag.short_desc|safe }}</p>
        {# <p>{{ diag.long_desc|safe }}</p> #}

        <h2>Expertise</h2>
        <p>{{ diag.expertise|safe }}</p>

        {% if diag.io_types_worked_with %}
            <h2>Organisations we have worked for include</h2>
            <ul class="bullet">
            {% for io_type in diag.get_io_types_worked_with_list %}
                <li>{{ io_type }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <h2>Percentage of total turnover accounted for</h2>
        <table>
        {% for key, value in diag.get_pc_turnover_from_dict.items %}
            <tr>
                <td>{{ value.0 }}</td>
                <td><b>{{ value.1|floatformat }}%</b></td>
            </tr>
        {% endfor %}
        </table>

        {% if diag.blogs_link %}
            <h2>Advice and support</h2>
            <p>{{ diag.blogs_link }}</p>
        {% endif %}

        <h2>Organisation details</h2>
        <table>
            {% if supplier.year_founded %}
            <tr>
                <td>Year founded</td>
                <td>{{ supplier.year_founded }}</td>
            </tr>
            {% endif %}
            {% if diag.employee_no %}
            <tr>
                <td>Number of employees</td>
                <td>{{ diag.employee_no }}</td>
            </tr>
            {% endif %}

            {% if supplier.org.companyno %}
                <tr>
                    <td>Company number</td>
                    <td>{{ supplier.org.companyno }}</td>
                </tr>
            {% endif %}
            {% if supplier.org.charityno %}
                <tr>
                    <td>Charity number</td>
                    <td>{{ supplier.org.charityno }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="width4 col">
        <h2>Reputation</h2>
    {% if feedback %}
        <p>Rated an average of <strong>{{ feedback|floatformat }}</strong>/5 by {{ feedback_count }} BigAssist infrastructure organisation{{ feedback_count|pluralize }} after {{ project_count }} completed project{{ project_count|pluralize }}</p>

        {% if user.is_authenticated %}
        <h2>Customer feedback</h2>
        <ul>
        {% for fb in feedback_object %}
            {% if fb.fb_comment %}
                <li>“{{ fb.fb_comment }}”</li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    {% else %}
        <p>No completed projects yet</p>
    {% endif %}



    </div>

    <div class="width4 col last-col">
        <h2>Contacts</h2>
        {% if user|can:"contact_supplier" %}
            <p><a class="link-button" href="{% url 'customer_contacts_supplier' supplier.pk %}">Get in touch</a></p>
        {% endif %}
        <h3>Address</h3>
        <p>{{ supplier_address|linebreaksbr }}</p>
        <h3>Phone</h3>
        <p>{{ supplier_phone }}</p>

        <h3>Email</h3>
        <p><a href="mailto:{{ supplier_email }}">{{ supplier_email }}</a></p>

        {% if supplier_website %}
            <h3>Website</h3>
            <p><a href="{{ supplier_website }}" title="Go to {{ supplier_website }}">{{ supplier_website_display }}</a></p>
        {% endif %}
        
        {% if supplier.org.get_contact_twitter %}
            <h3>Twitter</h3>
            <a href="{{ supplier.org.get_twitter_link }}" title="Go to {{ supplier.org.get_twitter_link }}">{{ supplier.org.get_contact_twitter }}</a>
        {% endif %}
        {% if supplier.org.get_contact_linkedin %}
            <h3>LinkedIn</h3>
            <a href="{{ supplier.org.get_contact_linkedin }}" title="Go to {{ supplier.org.get_contact_linkedin }}">LinkedIn profile</a>
        {% endif %}
        

        {% if topics %}
        <h2>We can help you with</h2>
        <ul>
            {% for topic in topics|dictsort:"topic.area.area" %}
            <li>{{ topic.topic.area }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if regions %}
        <h2>Region{{ total_regions|pluralize }}</h2>
        <ul>
            {% for region in regions %}
                <li>{{region.get_region_display}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if delivery_people %}
        <h2>Who delivers support?</h2>
        <ul>
            <li>{{delivery_people}}</li>
        </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}

