{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Leave feedback</h1>
<p>Rate how your visit went</p>
<form method="post" action="{% url 'visitor_feedback' visitor.pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Organisation hosting visit opportunity" value=visitor.visit.host %}
  {% include "ro_field.html" with label="Name of visit" value=visitor.visit.title %}
  {% if visitor.bursary and visitor.purpose %}
      {% include "ro_field.html" with label="Purpose of the visit" value=visitor.purpose %}
  {% endif %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Submit feedback" />
  </div>
</form>
{% endblock content %}
