{% extends 'base.html' %}
{% load url from future %}
{% load form assist %}

{% block content %}
<h1>Apply for sponsorship</h1>
<p>
    Sponorships are available to help organisations attend
    peer-to-peer visits. They are intended to cover
    the stated cost of the visit, travel and accommodation costs.
</p>

<form method="post" action="{% url 'visitor_bursary' visitor.pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Visit host" value=visitor.visit.host %}
  {% include "ro_field.html" with label="Amount" value=amount|currencize %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Apply" />
  </div>
</form>
{% endblock content %}
