{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block title %}{{ supplier }} - {{ block.super }}{% endblock %}

{% block content %}
<p><a class="link-button" href="{% url 'marketplace' %}?tab=connectspace">Back to What's on offer</a></p>

<h1>{{ visit.host }}
    {% if visitor %}
        <span class="discreet">contacted</span>
    {% endif %}
</h1>
{% if visit.title %}<h2>{{ visit.title }}</h2>{% endif %}
<div class="width16 profile">
    <div class="width8 col">
        <h2>Visit description</h2>
        <p>{{ visit.description }}</p>
    </div>
    <div class="width4 col">
        <h2>Where</h2>
        <p>{{ visit.address|linebreaksbr }}</p>
        <h2>When</h2>
        <p>{{ visit.visit_date }}</p>
    </div>
    <div class="width4 col last-col">
        {% if visitor %}
            {% if visitor|can:"apply_for_bursary" %}
            <p><a class="link-button" href="{% url 'visitor_bursary' visitor.pk %}">Apply for sponsorship</a></p>
            {% endif %}
        {% else %}
            {% if visit|can:"get_in_touch" %}
            <p><a class="link-button" href="{% url 'visit_get_in_touch' visit.pk %}">Get in touch</a></p>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}

