{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Contact form</h1>

<form method="post" action="{% url 'visit_get_in_touch' visit_pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Recipient" value=visit.host %}
  {{ form|form }}
  <div class="form-controls">
    <input type="submit" value="Submit" />
  </div>
</form>
{% endblock content %}
