{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>Arrange visit</h1>
<form method="post" action="{% url 'visitor_accept' visitor.pk %}">
  {% csrf_token %}
  {% include "ro_field.html" with label="Applicant" value=visitor.visitor_org %}
  {% include "ro_field.html" with label="Visit" value=visitor.visit %}
  {{ form|form }}

  <div class="form-row">
	<span class="form-field"><span class="form-controls">
		<input type="submit" class="link-button action" value="Arrange meeting" />
	</span></span>
  </div>
</form>
{% endblock content %}
