/* assist.css */

/* Generic typographic styles */

body {
  font-size: 87.5%; /*setting base size to 14px*/
  line-height: 1.4;
  font-family: Verdana, sans-serif;
  color: rgb(77,77,77);
  margin: 0;
  padding: 0;
}

p, ul, ol {
  margin: 0.66em 0 0 0;
}

a {
  color: rgb(27,117,188);
}

h1 {
  font-size: 2em;
  margin: 1em 0 0 0;
  color: rgb(62,22,99);
}

h2 { 
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: rgb(64,22,99);
}

h3 {
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0 0 0;
}
.discreet {
  font-weight: normal;
  color: #888;
}


/* Basic layout styles */

.header {
  padding: 3em 0 1em;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ccc;
}

.footer {
  padding: 0;
  clear: both;
  border-top: 1px solid #ccc;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
}
ul.bullet li:before {
  content: '\25A0';
  display: inline-block;
  width: 0.85em;
  text-indent: 0;
  font-weight: bold;
  color: #aaa;
  position: relative;
  top: -1px;
}
ul.bullet li {
  padding-left: 0.85em;
  text-indent: -0.85em;
  margin: 0.25em 0 0;
}
ul.bulletless {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.bulletless li {
  margin: 0.25em 0 0;
}

ul.inline {
  margin: 0;
}
.inline li {
 display: inline;
 margin: 0 0.5em 0 0;
}

/* Sticky footer hack */

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* Page elements */

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.tabs li {
  display: inline;
  margin: 0;
  padding: 0;
}
.tabs li:first-of-type a {
  margin-left: 0;
}
.tans li:last-of-type a {
  margin-right: 0;
}
.tabs li.right {
  float: right;
}
.tabs a {
  display: inline-block;
  padding: 0 0 0.2em;
  border-bottom: 0.3em solid transparent;
  margin: 0 0.3em;
  color: #777;
  text-decoration: none;
}
.tabs a:hover {
  border-color: #eee;
  color: #4d4d4d;
}
.tabs .selected a {
  border-color: #ccc;
  font-weight: bold;
  color: rgb(64,22,99);
}

.panel {
  padding: 1em;
  background: #f2f2f2;
}

.panel h2,
.panel h3 {
  font-size: 1.25em;
  color: rgb(64,22,99);
  padding: 0 0 0.25em;
  margin: 0 0 1em;
  border-bottom: 1px solid #ccc;
}

.clear {clear: both;}

.counter {
  display: inline-block;
  padding: 2px 4px;
  border-radius:8px;
  background: rgb(171,7,115);
  color: #fff;
  font-size: 0.8em;
  line-height: 1;
}

ul.pagination {
  text-align: center;
}
ul.pagination li {
  display: inline;
}

/* Custom styles (only if we need to) */

.logo { 
  display: block;
  background: url(../images/logo_beta.png) 0 0 no-repeat;
  width: 204px;
  height: 45px;
}

.main_nav {
  position: absolute;
  bottom: -1em;
  right: 0;
  border-bottom: 0;
}

.dashboard {
  margin: 1em 0 0 0;
}

h2.statusbar {
  margin: 0 0 3em;
  font-weight: 300;
  color: #888;
  border: 0;
}
h2.statusbar .status {
  font-weight: bold;
  color: rgb(171,7,115);
}

.footer_panel a {
  height: 5em;
  padding: 1em 1.25em;
  float: right;
}
.footer_panel a:hover {
  background: #f2f2f2;
}

.footer .tabs { border-bottom: 0; }
.footer .tabs a {
  padding: 0.2em 0 0;
  border-bottom: 0;
  border-top: 0.3em solid transparent;
}
.footer .tabs a:hover {
  border-color: #ccc;
}
.footer p {
  font-size: 0.85em;
  color: #777;
  margin: 3.75em 0 0 0;
}
.market-search {
  margin: 2em 0 1em 0;
}

.market-results {
  position: relative;
}
.concertina-col {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
}

.concertina-col.col-1 .title { background: rgb(171,7,115); }
.concertina-col.col-2 .title { background: rgb(0,179,176); }
.concertina-col.col-3 .title { background: rgb(100,155,69); }
.concertina-col.col-4 .title { background: rgb(200,174,26); }

.concertina-col .title h2 {
  white-space: nowrap;
  color: #fff;
}
.concertina-col .title h2 span {
  font-weight: normal;
}
.concertina-col .title *:hover {
  color: #fff;
}

.concertina-col .panel p {
  margin: 0;
}
.concertina-col .panel li p {
  margin-top: 0.5em;
}
.equal .concertina-col .panel p {
  color: #808080;
}
.concertina-col h3 {
  margin: 1.5em 0 0 0;
}
.concertina-col.col-1 h3 { color: rgb(171,7,115); }
.concertina-col.col-2 h3 { color: rgb(0,179,176); }
.concertina-col.col-3 h3 { color: rgb(100,155,69); }
.concertina-col.col-4 h3 { color: rgb(200,174,26); }
.concertina-col h3 span {
  color: #888;
  font-weight: normal;
}

.profile h2 {
  color: rgb(171,7,115);
}

.login {
  position: absolute;
  top: -2.75em;
  right: 0.3em;
}

.list-table {
  width: 100%;
  border-spacing: 0;
  clear: both;
  margin: 0 0 1.5em 0;
}
.list-table thead th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  padding: 0 1em 0.5em 0;
}
.list-table tbody th {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em 0.5em 0;
  width: 12em;
}
.list-table td {
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em 0.5em 0;
}

.progress_bar {
  display: inline-block;
  height: 0.75em;
  padding: 0;
  margin: 0;
  background: #ccc;
  position: relative;
}
.progress_bar > .progress {
  background: rgb(100,155,69);
  height: 0.75em;  
}

table {
  margin: 1.5em 0 0 0;
  border-spacing: 0;
}

th, td {
  margin-bottom: 1px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

tbody th,
tbody td {
  vertical-align: top;
  padding: 0.5em 1em 0.5em 0;
}

thead th {
  vertical-align: bottom;
}