/* Layout styles for between 481px and 1023px */

html, body {height: 100%;}


.wrap {min-height: 100%;}

.centre {
  margin: 0;
  padding: 0 9px;
  position: relative;
}

.main { 
  overflow: auto;
  padding-bottom: 8.1em;
}

.footer {
  margin: -7.1em 0 0 0;
  height: 6em;
  border-top: 1px solid #ccc;
  position: relative;
}

/* Sticky footer hack */
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.width1  { width: 6.5%; }
.width2  { width: 15%; }
.width3  { width: 23.5; }
.width4  { width: 32%; }
.width5  { width: 40.5%; }
.width6  { width: 49%; }
.width7  { width: 57.5%; }
.width8  { width: 66%; }
.width9  { width: 74.5%; }
.width10 { width: 83%; }
.width11 { width: 91.5%; }
.width12, .width13, .width14, .width15, .width16 { 
  width: auto; 
  display: block; 
  float: none; 
}

.col {
  margin: 0 2% 1em 0;
  float: left;
}

.last-col {
  margin: 0 0 1em 0;
}

.col-half {width: 49%;}
.col-half.col-2 {margin: 0 0 1em 0;}
.col-third {width: 49%;}
.col-third.col-2 {margin: 0 0 1em 0;}
.col-quarter {width: 32%;}
.col-quarter.col-3 {margin: 0 0 1em 0;}


.concertina-col {
  padding: 2.5em 0 0 0;
  background: #f2f2f2;
  margin: 0 0 0.33em 0;
  width: 100%;

}
.concertina-col .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #888;
  margin: 0;
  height: 2.5em;
}
.concertina-col .title h2 {
  margin: 0.25em 0 0 0.75em;
  font-size: 1.25em;
}
.equal .concertina-col { height: auto; }
.equal ul {
  display: none;
}
.non-equal .concertina-col { height: 0; }
.non-equal .concertina-col.selected { 
  height: auto;
}
.concertina-col .panel {
}
.concertina-col.selected .panel {
}

.corner-panel {
  float: right;
  width: 15em;
  padding: 0 0 1em 1em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -5.5em 0 1em 0;
}

.review-list {
  float: left;
  width: 12em;
  margin: 0 -1px 0 0;
}
.review-list li a,
.review-list li span {
  display: block;
  padding: 0.3em 0.2em 0.3em 0;
  border-right: 0.3em solid transparent;
  text-decoration: none;
  color: #777;
}
.review-list li a:hover,
.review-list li span:hover {
  border-color: #fff;
  color: #4d4d4d;
}
.review-list li.selected a,
.review-list li.selected span {
  border-color: #ccc;
  color: rgb(64,22,99);
  font-weight: bold;
}

.review-panel {
  margin: 0 0 0 12em;
  border-left: 1px solid #ccc;
  padding: 0 0 0 1em;
}
.review-item {
  display: none;
}
.review-item.selected {
  display: block;
}

.progress_bar {
  width: 8em;
}

/* Forms styles */

.form_col,
.review_col,
.form_col_short,
.info_col { 
  display: block;
  margin: 0 0 3em 0;
  float: none;
  width: auto;
}

label.form-label,
label.xforms-label {
  width: 9em;
}

span.form-controls,
span.xforms-submit {
  padding: 0 0 0 10.5em;
}

/* Footer styles */

.footer ul.tabs {
  float: left;
  margin: 0.5em 1em 0 0;
}
.footer ul.tabs li {
  display: block;
  margin: 0 0 0.1em;
}

.footer ul.tabs a {
  margin: 0;
  border-top: 0;
  padding: 0;
}

.footer p {
  padding: 0.9em 0 0;
  margin: 0;
}