/* Layout styles for 1024px and larger */

html, body {height: 100%;}

.wrap {min-height: 100%;}

.centre {
  margin: 0 auto;
  width: 63em;
  position: relative;
}

.main { 
  overflow: auto;
  padding-bottom: 8.1em;
}

.footer {
  margin: -7.1em 0 0 0;
  height: 6em;
  border-top: 1px solid #ccc;
  position: relative;
}

/* Sticky footer hack */
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


.width1  { width: 4.375%; }
.width2  { width: 10.75%; }
.width3  { width: 17.125%; }
.width4  { width: 23.5%; }
.width5  { width: 29.875%; }
.width6  { width: 36.25%; }
.width7  { width: 42.625%; }
.width8  { width: 49%; }
.width9  { width: 55.375%; }
.width10 { width: 61.75%; }
.width11 { width: 68.125%; }
.width12 { width: 74.5%; }
.width13 { width: 80.875%; }
.width14 { width: 87.25%; }
.width15 { width: 93.625%; }
.width16 { width: 100%; }

.panel.width16 {
  width: auto;
}

.col {
  margin: 0 2% 1em 0;
  float: left;
}
.last-col {
  margin: 0 0 1em 0;
}

.col-half {width: 49%;}
.col-half.col-2 {margin: 0 0 1em 0;}

.col-third {width: 32%;}
.col-third.col-3 {margin: 0 0 1em 0;}

.col-quarter {width: 23.5%;}
.col-quarter.col-4 {margin: 0 0 1em 0;}

.concertina-col {
  padding: 0 0 0 3em;
  min-height: 35em;
  background: #f2f2f2;
  margin: 0 1em 0 0;
  float: left;
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  overflow: hidden;
}
.concertina-col.col-4 {
  margin-right: 0;
}
.concertina-col .title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 3em;
  background: #888;
  margin: 0;
}
.concertina-col .title h2 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-tranform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin: 0.75em 0 0 0.25em;
  font-size: 1.5em;
}
.equal .concertina-col { width: 11.999em; }
.equal .concertina-col ul {
  display: none;
}

.non-equal .concertina-col { width: 0;  height: 100%;}
.non-equal .concertina-col ul { display: none; }

.non-equal .concertina-col.selected { width: 47.999em; }
.non-equal .concertina-col.selected .panel {
  width: 45.999em;
}
.non-equal .concertina-col.selected ul { width: auto; display: block; }

.corner-panel {
  float: right;
  width: 15em;
  padding: 0 0 1em 1em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -5.5em 0 1em 0;
}

.review-list {
  float: left;
  width: 12em;
  margin: 0 -1px 0 0;
}
.review-list li a,
.review-list li span {
  display: block;
  padding: 0.3em 0.2em 0.3em 0;
  border-right: 0.3em solid transparent;
  text-decoration: none;
  color: #777;
}
.review-list li a:hover,
.review-list li span:hover {
  border-color: #fff;
  color: #4d4d4d;
}
.review-list li.selected a,
.review-list li.selected span {
  border-color: #ccc;
  color: rgb(64,22,99);
  font-weight: bold;
}

.review-panel {
  margin: 0 0 0 12em;
  border-left: 1px solid #ccc;
  padding: 0 0 0 1em;
}
.review-item {
  display: none;
}
.review-item.selected {
  display: block;
}

.progress_bar {
  width: 10em;
}

/* Forms styles */

.form_col {
  float: left;
  width: 45em;
}
.review_col {
  width: 100%;
  float: none;
  margin: 0 0 2em 0;
}
.form_col_short {
  width: 40em;
  margin: 0 auto 2em;
}
.info_col {
  width: 18em;
  margin: 0 0 2em 46em;
}

label.form-label,
label.xforms-label {
  width: 11.64em;
}
span.form-controls,
span.xforms-submit {
  padding: 0 0 0 13em;
}

input.xforms-value,
textarea.xforms-value {
  max-width: 31.5em;
}