/* form.css */
/* Stylesheet containing all the css for the forms on the site, both html and xforms based */

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0 0 0;
  padding: 0;
  border: 0;
  position: static;
}

legend {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(171,7,115);
}


div.form-row,
div.xforms-row {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #ccc;
  display: block;
}

span.form-field,
span.xforms-input,
span.xforms-output {
  margin: 0;
  padding: 0;
  display: inline;
}

label.form-label,
label.xforms-label {
  display: inline-block;
  margin: 0 1em 0 0;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}

span.form-input,
span.xforms-input span.value,
span.xforms-output span.value {
  display: inline-block;
}

.xforms-item,
.form-item {
  display: block;
  width: 100%;
  margin: 0 0 0.25em 0;
}

.xforms-item input[type=text],
.form-item input[type=text] {
  margin: 0.25em 0 0 1.75em;
}

span.form-help,
span.form-item-help,
span.xforms-hint {
  display: none;
}

span.hint {
	font-weight: normal;
	font-style: italic;
}

input[type=text], textarea {
  border: 1px solid #808080;
  padding: 3px;
  font-size: 14px;
  font-family: inherit;
}
input[type=text]:focus,
textarea:focus {
  border-color: rgb(171,7,115);
  outline: 3px solid #f2f2f2;
}
input:disabled {
  border: 1px solid #ccc;
  background: #f2f2f2;
}

.form-controls input[type=submit],
.xforms-submit button,
a.link-button {
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
  color: #4d4d4d;
  padding: 0.1em 0.5em;
  line-height: 1;
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 10%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#fcfcfc), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcfcfc 10%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 1px 0 #fff;
  text-decoration: none;
  white-space: nowrap;
}
.form-controls input[type=submit]:active,
.xforms-submit button:active,
a.link-button:active {
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.25);
  text-shadow: 0 0 0 transparent;
}
.form-controls input[disabled=disabled],
.xforms-submit button[disabled=disabled],
a.link-button.diasbled {
  background: #fcfcfc;
  color: #bbb;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  border: 1px solid #ccc;
}

.nugget {
  padding: 0.5em 1em 0.75em;
  background: #f2f2f2;
}
.nugget h2 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: rgb(171,7,115);
}

.form_nav {
  list-style: none;
  padding: 0;
  margin: 2em 0 -1em;
  border-bottom: 1px solid #ccc;
}
.form_nav li {
  display: inline;
}
.form_nav li a {
  display: inline-block;
  padding: 45px 0.5em 0.2em;
  border-bottom: 0.3em solid transparent;
  background-image: url(../images/progress.png);
  background-repeat: no-repeat;
  text-decoration: none;
  color: #414141;
}
.form_nav li a:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: rgb(64,22,99);
}
.form_nav li.selected a {
  background-color: #f2f2f2;
  border-color: #ccc;
  font-weight: bold;
  color: rgb(64,22,99);
}

.form_nav li.progress0 a   { background-position: center 7px; }
.form_nav li.progress10 a  { background-position: center -93px; }
.form_nav li.progress20 a  { background-position: center -193px; }
.form_nav li.progress30 a  { background-position: center -293px; }
.form_nav li.progress40 a  { background-position: center -393px; }
.form_nav li.progress50 a  { background-position: center -493px; }
.form_nav li.progress60 a  { background-position: center -593px; }
.form_nav li.progress70 a  { background-position: center -693px; }
.form_nav li.progress80 a  { background-position: center -793px; }
.form_nav li.progress90 a  { background-position: center -893px; }
.form_nav li.progress100 a { background-position: center -993px; }

.xforms-required-icon { display: none; }
.xforms-required .xforms-required-icon {
  display: block;
  color: red;
}
