{% load url from future %}
{% load assist %}
<ul class="bulletless connects">
    {% comment %}
        related javascript code (show/hide details) is in marketplace.html
    {% endcomment %}
    {% for visit in object_list %}
    <li>
        <h3>{{ visit.get_type }}: {{ visit }}{% if khnp_organisation %} {{ visit|get_visit_state:khnp_organisation }}{% endif %}</h3>
        {% if visit.get_subheading %}<h4>{{ visit.get_subheading }}</h4>{% endif %}
        <p>{{ visit.description|linebreaksbr }}</p>
        <p>
            <a class="link-button" href="{{ visit.get_absolute_url }}">Full profile</a>
            {% if visit|can:"get_in_touch" %}
            <a class="link-button" href="{{ visit.get_in_touch_url }}">Get in touch</a>
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% url 'connectsgroup' as base_url %}
{% include "pagination.html" with base_url=base_url %}

