{% load url from future %}
{% load assist %}

{# <pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre> #}

<ul class="bulletless experts">
    {% comment %}
        Experts related javascript code (show/hide details) is in marketplace.html
    {% endcomment %}
    {% for expert in object_list %}
    <li>
      <h3>{{ expert }}{% if khnp_organisation %} {{ expert|get_project_state:khnp_organisation }}{% endif %} 
        {% if expert.avg %}
          <span class="expert-score">Rated {{ expert.avg|floatformat }}/5 from {{ expert.feedback_count }} project{{ expert.feedback_count|pluralize }}</span> 
        {% endif %}

      </h3>
      <p>{{ expert.org_type }} | <a class="expert-details" data-pk="{{ expert.pk }}" href="#">show details</a></p>
      {% with expert.get_supplier_diagnostic as diag %}
      <div class="expert-detail-{{ expert.pk}} hidden">
          {% if diag.short_desc  %}<p>{{ diag.short_desc }}</p>{% endif %}
          <p><a class="link-button" href="{% url 'supplier_full_profile' expert.pk %}">Full profile</a>
          {% if user|can:"contact_supplier" %}
          <a class="link-button" href="{% url 'customer_contacts_supplier' expert.pk %}">Get in touch</a></p>
          {% endif %}
      </div>
      {% endwith %}
    </li>
    {% endfor %}
</ul>
{% url 'expertsgroup' as base_url %}
{% include "pagination.html" with base_url=base_url %}
