{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<a class="link-button" href="{% url 'marketplace' %}?tab=library">Back to Library</a>
<div class="width10 article">
  <h1>{{ page.title }}</h1>
  <p class="discreet">{{ page.description|safe }}</p>
  {{ page.body|safe }}
</div>
{% endblock content %}

