{% load url from future %}

{% if no_filter %}
<p>You have not specified any Topics. Here are a selection of recent articles which you may be interested in.</p>
{% endif %}
<ul class="bulletless articles">
  <li>
    {% for page in object_list %}
    <h3><a href="{% url 'library_article' %}?path={{ page.url }}">{{ page.title }}</a></h3>
    <p>{{ page.description }}
    {% endfor %}
  </li>
</ul>
{% url 'librarygroup' as base_url %}
{% include "pagination.html" with base_url=base_url %}
