{% extends 'base.html' %}
{% load form %}
{% load assist %}
{% load url from future %}

{% block title %}Create an account - {{ block.super }}{% endblock %}

{% block content %}
<h1>Is the organisation you want to register listed below?</h1>
<p>Your email domain <b>{{ khnp_user.get_contact_email_domain }}</b> matches organisation(s) in our database.</p>
{# email domain matches #}
{# {{ user.email }} <br> #}
{# {{ khnp_user.get_email_domains }} <br> #}

<div id="registration-domain-match" class="col width11 last-col">
{% for domain in khnp_user.get_email_domains %}
	<div class="possible match">
		{% if domain.object.my_org.all %}{# Org is BA org #}
			<span class="org-name">{{ domain.object.displayname }}</span>
			{# <a href="{% url 'request_membership' domain.object.pk %}" class="next-action link-button">Request membership for this organisation</a> #}
			<a href="{% url 'contact_company_owner' domain.object.pk %}?registration=true" class="next-action link-button">Request membership for this organisation</a>
			<br><span class="org-ba-org">Registered with BIG Assist</span>
		{% else %}
			<span class="org-name">{{ domain.object.displayname }}</span>
			<a href="{% url 'known_generic_register' domain.object.pk %}" class="next-action link-button">Create a BIG Assist organisation</a>
		{% endif %}
	</div>
{% endfor %}
	<div class="no match">
		<span>Not listed above?</span>
		<a href="{% url 'generic_register_new' %}" class="next-action link-button">Create a new BIG Assist organisation</a>
	</div>
</div>

{% comment %}
	
	<hr>
	{% if khnp_user.get_email_domains.count >= 1 %}
		<div class="form-row">
			<span class="form-input text">We found organisation(s) that match your email domain, are any of these your organisation?</span>
		</div>

		<div class="form-row">
			<label class="form-label">Yes</label>
			<span class="form-input">
			{% for domain in khnp_user.get_email_domains %} 
				{% if domain.object.my_org.all %}
					<input name="match_org" id="choice_{{ forloop.counter }}" type="radio" value="{% url 'contact_company_owner' domain.object.id %}?registration=true" />
					<label for="choice_{{ forloop.counter }}">{{ domain.object.displayname }} <span class="discreet">Registered with BIG Assist</span></label> <br>
				{% else %}
					<input name="match_org" id="choice_{{ forloop.counter }}" type="radio" value="{% url 'known_generic_register' domain.object.id %}" />
					<label for="choice_{{ forloop.counter }}">{{ domain.object.displayname }}</label> <br>
				{% endif %}
			{% endfor %}
			</span>
		</div>
		<div class="form-row">
			<label class="form-label">No</label>
			<span class="form-input">
				<input name="match_org" id="choice_no" type="radio" value="create_new" />
				<label for="choice_no">Create a new organisation on BIG Assist</label>
			</span>
		</div>

		<div class="form-row">
			<span class="form-field"><span class="form-controls">
				<input type="submit" class="submit-form" value="Next step" id="submit_match_org" disabled />
			</span></span>

		</div>

	{% else %}
		<div class="form-row">
			<span class="form-field"><span class="form-controls">
				<input type="submit" class="submit-form" value="Create account" id="create_new_org" />
			</span></span>

		</div>

	{% endif %}
{% endcomment %}

{# email domain matches end #}
<div class="clear">
	<p>Information about data protection can be found in our <a href="/privacy">privacy policy</a>.</p>
</div>



{% endblock content %}