{% load url from future %}
{% load assist %}


{% if object_list.count >= 1 %}
		<div class="form-row">
			<span class="form-input text">We found organisation(s) that match your name, are any of these your organisation?</span>
		</div>

		<div class="form-row">
			<label class="form-label">Yes</label>
			<span class="form-input">
			{% for org in object_list %}
				<input name="match_org" id="choice_{{ forloop.counter }}" type="radio" value="{% url 'contact_company_owner' org.id %}?registration=true" />
				<label for="choice_{{ forloop.counter }}">{{ org.displayname }} 
					{% for o in org.my_org.all %}
						<span class="discreet">Registered with BIG Assist</span>
					{% endfor %}
				</label> <br>
			{% endfor %}
			</span>
		</div>
		<div class="form-row">
			<label class="form-label">No</label>
			<span class="form-input">
				<input name="match_org" id="choice_no" type="radio" value="create_new" />
				<label for="choice_no">Create a new organisation on BIG Assist</label>
			</span>
		</div>

		<div class="form-row">
			<span class="form-field"><span class="form-controls">
				<input type="submit" class="submit-form" value="Next step" id="submit_match_org" disabled />
			</span></span>

		</div>

{% else %}
		<div class="form-row">
			<span class="form-field"><span class="form-controls">
				<input type="submit" class="submit-form" value="Create account" id="create_new_org" />
			</span></span>

		</div>

{% endif %}

	