{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<p>Please register or sign in.</p>
<p><a class="link-button browserid-login" href="#">Register / Sign in</a></p>
{% else %}
<p>Your current user role does not allow you to view this page.</p>
{% endif %}
{% endblock content %}
