{% extends 'pybb/base.html' %}
{% load pybb_tags i18n thumbnail assist %}

{% block title %}{% get_khnp_user target_user as khnp_user %}{{ khnp_user.get_person }}{% endblock %}

{% block content %}
    {% get_khnp_user target_user as khnp_user %}
    <h1>{{ khnp_user.get_person }}</h1>
    <div class="userinfo">
        <div class="info">
            <div class="label">{% trans "Statistics" %}</div>
            <div>{% trans "Number of posts" %}: {{ target_user.posts.all.count }}
            </div>
            <div>{% trans "Number of topics" %}: {{ topic_count }}
                {% comment %}
                &nbsp;
                <a href="{% url 'pybb:user_topics' profile.username %}">
                    {% trans "Find all topics" %}
                </a>
                {% endcomment %}
            </div>
            <div>{% trans "Date of registration" %}: {% pybb_time target_user.date_joined %}</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class='controls'>
        {% if perms.pybb.block_users %}
            <a href='{% url 'pybb:block_user' target_user.username %}'>{% trans 'Block' %}</a>
        {% endif %}
        {% if perms.pybb.can_edit %}
            <a href='{% url 'admin:pybb_profile_change' target_user.pybb_profile.id %}'>{% trans 'Edit' %}</a>
        {% endif %}
    </div>

{% endblock %}
