{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block title %}Making an appeal{% endblock %}

{% block content %}
<h1>Making an appeal</h1>
<p>Appeals exist in case you feel the process itself was a fault (for example uploading files didn't work) or the process didn't fairly let you describe your organisation. You cannot appeal against the independent panel's decision. If you wish to appeal write a message explaining what you feel was at fault below and we will get back to you shortly.</p>

<form method="post" action="{% url 'supplier_appeal_assessment' %}">
  {% csrf_token %}
  {{ form|form }}
  <input type="submit" value="Make appeal"/>
</form>
{% endblock content %}


