{% if approval.is_partially_approved %}
Your application was (partially) successful. The services which we have approved or not approved are listed below:
<ul>
  {% for topic in approval.approvaltopic_set.all %}
  <li>{{ topic }} - {% if topic.is_approved %}
    <span class="accepted">Accepted</span>
    {% else %}<span class="rejected">Not approved</span>{% endif %}
  </li>
  {% endfor %}
</ul>
<p><strong>Feedback</strong></p>
<p>{{ approval.panel_text }}</p>
{% elif approval.state == 'rejected' %}
<p>Your application has not been approved.
{% if approval.panel_text %}
Here is the feedback:
<p>{{ approval.panel_text }}</p>
{% endif %}
</p>
{% else %}
<p>Your application has been approved.</p>
{% endif %}

