{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<p><a class="link-button" href="{% url 'supplier_dashboard' 'contacts' %}">Back to dashboard</a></p>
<h1>{{ diag.cust }} diagnostic recommendation</h1>
<div class="col col-1 width11">
  <h2>Organisational overview</h2>
  <p>{{ diag.orgnl_overview|linebreaksbr }}</p>

  <h2>Priority areas for support</h2>
  <p>{{ diag.financial_health|linebreaksbr }}</p>

  <h2>Recommendation for support</h2>
  <p>{{ diag.snr_lev_commit|linebreaksbr }}</p>
</div>
<div class="col col-2 width5 last-col">
  <h2>Development priorities</h2>
  {% for dev_pri in diag.customerdevpri_set.all %}
  <div class="dev_pri">
    <h4>{{ dev_pri.topic }}</h4>
    <ul class="bullet">
      <li>Priority order: {{ dev_pri.pri_lev }}</li>
      <li>Support type: {{ dev_pri.support_type }}</li>
      <li>Voucher value: {{ dev_pri.value }}</li>
      <li>Sponsorship recommended: {{ dev_pri.bursary_rcmd|yesno:"Yes,No" }}</li>
    </ul>
  </div>
  {% endfor %}

</div>
{% endblock content %}
