{% extends 'supplier/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block panelcontent %}
<div class="col">
  <h2>Current projects</h2>
  {% include 'supplier/project_list.html' with empty_str="You currently have no projects" %}
</div>
{% endblock panelcontent %}

