{% extends 'supplier/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block panelcontent %}
<div class="col col-half">

  {% with assessment.prev_appr as prev_appr %}
    <h2 class="statusbar">Welcome to your BIG Assist dashboard</h2>
    {% if not assessment or org.get_state == 'not_started' %}
      <p>You haven't started your application</p>
      <p><a class="link-button" href="{% url 'supplier_assessment' %}">Start your application</a></p>
    {% elif assessment.state == 'in_progress' %}
      {% if not prev_appr %}
          <p>You have started the application</p>
          <p><a class="link-button" href="{% url 'supplier_assessment' %}">Continue your application</a></p>
      {% else %}
          <p>You have started reapplication</p>
          {% if prev_appr.panel_text %}
            <p>Previous application feedback: {{ prev_appr.panel_text }}</p>
          {% endif %}
          <p><a class="link-button" href="{% url 'supplier_assessment' %}">Continue reapplication</a> <br><br></p>
      {% endif %}
    {% elif assessment.state == 'submitted' or assessment.state == 'reviewed' %}
      <p>Your application has been submitted and we will email you when we have made a decision.
         We will contact you to arrange a review of your application promptly.</p>
      <p><a class="link-button" href="{% url 'supplier_assessment'%}?readonly=1">View the application</a></p>
      <br />

      {% if prev_appr %}
      <h4>Outcome of your previous submission</h4>
      <div>
        {% include "supplier/approval_summary.html" with approval=prev_appr %}
      </div>
      {% endif %}

    {% elif assessment.state == 'rejected' %}
      <p><strong>Your application has not been approved. Here is the feedback:</strong></p>
      <p>{{ assessment.panel_text }}</p>
      <p><a class="link-button" href="{% url 'supplier_assessment'%}?readonly=1">View application</a></p>
      {% if assessment|can:"can_resubmit_approval" %}
      <p><a class="link-button openmodal" href="{% url 'supplier_resubmit_assessment'%}">Edit and reapply</a></p>
      {% endif %}
    {% elif assessment.state == 'approved' %}
      {% include "supplier/approval_summary.html" with approval=assessment %}

      <p><a class="link-button" href="{% url 'supplier_assessment'%}?readonly=1">View the application</a></p>
      {% if assessment|can:"can_resubmit_approval" %}
      <p><a class="link-button openmodal" href="{% url 'supplier_resubmit_assessment'%}">Edit and reapply</a></p>
      {% endif %}
      <p class="discreet"><em>To update the long or short description of your organisation which appears in the BIG Assist marketplace, please <a href="mailto:assist@ncvo.org.uk">email us</a> with the revised text(s). We will check it for accuracy against your application and update your entry on the site.</em></p>
    {% else %}
      <p><a class="link-button" href="{% url 'supplier_assessment'%}?readonly=1">Your application</a></p>
    {% endif %}

    {% if assessment.has_contact_info %}
      <h3>Supplier approval contact details <a href="{% url 'supplier_assessment_contact_edit' %}?modal=open" class="link-button openmodal">Edit</a></h3>
      {% with assessment as diag %}
          {% include "_diag_contact_details.html" %}
      {% endwith %}
    {% endif %}

    {% if deadlines %}
      {% if not assessment or org.get_state == 'not_started' or assessment.state == 'in_progress' %}
        <h2>Next submission deadlines</h2>
        <ul class="bullet">
          {% for deadline in deadlines %}
          {% with days=deadline.remaining.days %}
          <li>{{ deadline.deadline|date }} ({{ days }} day{{ days|pluralize }})</li>
          {% endwith %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endwith %}
</div>


  {% if not current_role %}
    <div class="col col-half last-col">
      <h2>Did you know</h2>
      <ul>
        <li>You can also apply to <a href="{% url 'add_customer_role' %}" class="link-button openmodal">become a customer</a></li>
      </ul>
    </div>
  {% endif %}
{% endblock panelcontent %}

{% block extrapanel %}
{% if assessment.state == 'rejected' %}
<div class="panel">
  <div class="col clear">
    <h2>What to do now</h2>
    <p>You can do one of the following: you can make changes to your application and resubmit, you can appeal the result, or you can engage with BIG Assist through the Library and ShareSpace.</p>

    <h3>Resubmitting your application</h3>
    {% if assessment|can:"can_resubmit_approval" %}
      <p style="float: right"><a class="link-button openmodal" href="{% url 'supplier_resubmit_assessment'%}">Make changes to your assessment</a></p>
    {% endif %}

    <p>Sometimes a rejection can be because you haven't supplied enough of the right type of information, factual errors in your submission or because you didn't express yourself clearly enough. The above report should put you on the right track to correcting these errors. Once you think you have fixed them you can resubmit to be included in the next review.</p>

    <h3>Appealing the result</h3>
    {% if assessment|can:"can_resubmit_approval" %}
      <p style="float: right"><a class="link-button" href="{% url 'supplier_appeal_assessment'%}">Lodge an appeal</a></p>
    {% endif %}

    <p>If you feel that the application process was at fault, or a factual mistake was made during the review then you may appeal the decision. You may not appeal against the review panel's qualitative judgements.</p>
    
    <h3>Engage with BIG Assist</h3>
    <p>BIG Assist has plenty of material to help you grow and improve your business in the <a href="{% url 'marketplace' %}/?tab=library">Library</a></p>
    <p><a href="{% url 'marketplace' %}/?tab=connectspace">ConnectSpace</a> is a great place to ask questions and converse with other BIG Assist users.</p>


  </div>
  <div class="clear"></div>
</div>
{% endif %}
{% endblock extrapanel %}

