{% extends 'base.html' %}
{% load url from future %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ org }} <span class="discreet">dashboard</span></h1>
<div class="width16 dashboard">
  {% if bank_warning %}
  <ul class="messages">
    <li class="error">Before we can pay you, you must update your
    <a href="{% url 'supplier_org_profile' %}">organisation details</a>
    with your bank account details.</li>
  </ul>
  {% endif %}
  <ul class="tabs">
    <li {% if tab == 'assessment' %}class="selected"{% endif %}>
      <a href="{% url 'supplier_dashboard' 'assessment' %}">Assessment</a>
    </li>
    <li {% if tab == 'contacts' %}class="selected"{% endif %}>
    <a href="{% url 'supplier_dashboard' 'contacts' %}">Contacts <span class="counter">{{ no_contacts }}</span></a>
    </li>
    <li {% if tab == 'projects' %}class="selected"{% endif %}>
    <a href="{% url 'supplier_dashboard' 'projects' %}">Projects <span class="counter">{{ no_projects }}</span></a>
    </li>
    <li {% if tab == 'invoices' %}class="selected"{% endif %}>
    <a href="{% url 'supplier_dashboard' 'invoices' %}">Invoices <span class="counter">{{ no_invoices }}</span></a>
    </li>
{% comment %}
    <li class="right{% if org.get_state == 'submitted' %} disabled{% endif %}">
      <a href="{% if org.get_state != 'submitted' %}{% url 'supplier_org_profile' %}{% else %}#{% endif %}">Organisation</a>
    </li>
{% endcomment %}
    <li class="right">
      <a href="{% url 'supplier_org_profile' %}">Organisation</a>
    </li>
    <li class="right{% if tab == 'users' %} selected{% endif %}"><a href="{% url 'org_users' %}">Users</a></li>
  </ul>
  <div class="panel">
    {% block panelcontent %}{% endblock panelcontent %}
    <div class="clear"></div>
  </div>
  <br />
  {% block extrapanel %}{% endblock extrapanel %}
  <div class="col col-half col-1">
  <h3 class="underline">What&rsquo;s going on</h3>
    <ul class="bulletless">
    {% for p in section.page_set.all %}
        <li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col col-half col-2 last-col">
  <h3 class="underline">
    <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
    <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter"/></a>
  </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="clear"></div>
</div>
{% endblock content %}
