{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<a href="{% url 'supplier_dashboard' 'contacts' %}">Back to dashboard</a>

<h1>Expression of interest</h1>

{% include "ro_field.html" with label="Organisation" value=project.cust %}

{% if project|can:"can_view_cust_capability_report" %}
<div class="form-row">
  <span class="form-field">
    <label class="form-label">Assist recommendations</label>
    <span class="form-input">
      <a href="{% url 'supplier_customer_capability_report' project.pk %}" class="link-button">Assist recommendations</a>
    </span>
  </span>
</div>
{% endif %}

{% include "ro_field.html" with label="Project brief" value=project.cover_note|linebreaksbr %}

<div class="form-row">
  <span class="form-field">
    <label class="form-label">Contact</label>
    <span class="form-input">
      {{ project.cust }} have asked to be contacted by <strong>{{ project.comm_method }}</strong>
      <br />
      {{ project.cust_contact|linebreaksbr }}
    </span>
  </span>
</div>

<div class="actions">
  {% if project|can:"can_make_project" %}
  <a href="{% url 'supplier_project_make_view' project.pk %}" class="link-button">Make contract</a>
  {% endif %}
  {% if project|can:"can_dismiss_project" %}
  <a href="{% url 'supplier_project_dismiss_view' project.pk %}" class="link-button openmodal">Dismiss</a>
  {% endif %}
</div>
{% endblock content %}
