{% extends 'base.html' %}
{% load url from future %}

{% block title %}Our requirements - {{ block.super }}{% endblock %}

{% block content %}
<h1>Meeting our requirements</h1>
<p>
It’s important that our suppliers meet the broad requirements we’ve listed
because we want to provide the best and most cost-effective service to our
customers. Suppliers with a lack of relevant experience or financial stability
could mean we fail to deliver what the customer needs in a timely and cost-
effective manner.
</p>
<p>
A good track record and experience of working with the types of organisations
we help can be created over time; keeping records of your clients and the
outcomes of what you do for them will help your eligibility with Assist. You
can demonstrate your financial stability through the submission of summary
accounts for the last two years.
</p>
<p>
<a class="link-button" href="{% url 'supplier_register' %}">Start the application</a></p>
<a class="link-button" href="{% url 'home' %}">Back to home</a>
</p>

{% endblock content %}

