{% extends 'base.html' %}
{% load url from future %}

{% block title %}Requirements for suppliers - {{ block.super }}{% endblock %}

{% block content %}
<h1>Requirements for becoming a supplier</h1>
<p>We aim to provide a reliable and effective service for customers in the charity sector. This means we need our suppliers to meet these broad requirements:
<ul class="bullet">
    <li>You need to offer at least one of the types of services BIG Assist's customers might need</li>
    <li>You are an established organisation (running for at least two years)</li>
    <li>You need to demonstrate that you are financially stable</li>
    <li>You should have a demonstrable track record in the service you are offering, and experience of working with infrastructure organisations</li>
</ul>
<p>BIG Assist Supplier applications are welcomed from both voluntary sector infrastructure organisations and private sector companies.</p>

<p>This application process is on-going and open throughout the BIG Assist programme. To help us offer an organised and efficient service, the process will be managed by a series of rounds in which applications will be assessed. You may start and submit your application at any time.</p>

<p>The next cut-off date for submitted applications to be assessed will be <strong>29 July 2015</strong>.</p>

<h2>What next?</h2>
</p>
<div class="panel width16">
    <div class="col col-half col-1">
        <p>If you think you meet all of these, the ‘I meet all these requirements’ button
           will take you to pages where you create an account and give us more details
           about your organisation. You don't have to complete everything in one go;
           you can come back and add or change information at any time.
           Once you submit your completed information, BIG Assist will assess
           it and either accept you as a supplier or explain why your submission has failed.</p>
         <p><a class="link-button openmodal" href="{% url 'add_supplier_role' %}">I meet all these requirements</a></p>
        
    </div>

    <div class="col col-half last-col">
        <p>If you don’t think you currently meet our broad requirements,
           the 'I don’t meet all of these’ button will explain why
           they are important and what you could do to meet them.</p>
        <p><a class="link-button" href="{% url 'supplier_dont_meet' %}">I don't meet all these</a></p>
    </div>
    <div class="clear"></div>
</div>
{% endblock content %}

