{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<a href="{% url 'supplier_dashboard' 'contacts' %}">Back to dashboard</a>

<h1>Contact details</h1>

<div class="form-row">
      {{ project.cust }} have asked to be contacted by {{ project.comm_method }}
</div>

{% include "ro_field.html" with label=project.comm_method|capfirst value=project.cust_contact|linebreaksbr %}

{% endblock content %}
