{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block content %}
<a href="{% url 'supplier_dashboard' 'projects' %}">Back to dashboard</a>

<h1>Project details</h1>

{% include "ro_field.html" with label="Status" value=project.get_supplier_state_display %}
{% include "ro_field.html" with label="Customer" value=project.cust %}
{% include "ro_field.html" with label="Price (&#163;)" value=project.price %}
{% include "ro_field.html" with label="Description of work" value=project.description|linebreaksbr %}
{% include "ro_field.html" with label="Start date" value=project.startdate|date %}
{% include "ro_field.html" with label="Completion date" value=project.enddate|date %}
{% if project.proposed %}{% include "ro_field.html" with label="Date proposed" value=project.proposed|date %}{% endif %}
{% if project.accepted %}{% include "ro_field.html" with label="Date accepted" value=project.accepted|date %}{% endif %}
{% if project.completed %}{% include "ro_field.html" with label="Date completed" value=project.completed|date %}{% endif %}

{% with project.cust.org.get_contact_email as email %}
{% if email %}
<div class="form-row">
  <span class="form-field">
    <label class="form-label">Contact customer</label>
    <span class="form-input">
      <a href="mailto:{{ email }}">{{ email }}</a>
    </span>
  </span>
</div>
{% endif %}
{% endwith %}

<div class="actions space-above">
  {% if project|can:"can_complete_project" %}
  <p><a href="{% url 'supplier_project_complete_view' project.pk %}" class="link-button openmodal">Mark project complete (triggers invoice)</a></p>
  {% endif %}
</div>
{% endblock content %}

