{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block javascript_slot %}
<script>
  $(document).ready(function() {
    {# unless end date changes assume project is ok #}
    $("#id_confirm_enddate").prop("checked", true);
    {# if end date changes take proper action #}
    $("#id_enddate").change(function() {
        var enddate = $(this);
        var enddate_value = Date.parse(enddate.val());
        var voucher_expiry = Date.parse(enddate.data("voucher-expiry"));

        if (enddate_value <= voucher_expiry || isNaN(voucher_expiry)) {
        	$("#id_confirm_enddate").prop("checked", true);
        } else if (enddate_value > voucher_expiry) {
        	$("#id_confirm_enddate").prop("checked", false);
        }
    });
  });
</script>
{% endblock %}

{% block content %}
<a href="{% url 'supplier_dashboard' 'contacts' %}">Back to dashboard</a>

<h1>Edit project</h1>
<form method="post" id="propose_project" action="{% url 'supplier_project_edit_view' project.pk %}">
  {% csrf_token %}
  {# {{ form|form }} #}

<div id="price" class="form-row">{{ form.price|field }}</div>
<div id="description" class="form-row">{{ form.description|field }}</div>
<div id="startdate" class="form-row">{{ form.startdate|field }} </div>
<div id="enddate" class="form-row">{{ form.enddate|field }}</div>
<style type="text/css">
	#confirm_enddate > .form-field { display: none; }
	#confirm_enddate > .form-field.field_error { display: block; }
</style>
<div id="confirm_enddate" class="form-row">{{ form.confirm_enddate|field }}</div>

{# <p style="clear:both">By proposing a project you as a BIG Assist Approved Supplier are confirming that you have the ability and capacity to fulfil the work. If the customer accepts your proposal you will enter into an agreement directly with them. Payment for this work will be made by NCVO on completion &ndash; however will not be made until confirmation of such has been received by both yourself as the supplier and the customer. </p> #}

	<div class="form-row">
	<span class="form-field"><span class="form-controls">
		<input type="submit" class="link-button action" value="Update project" />
	</span></span>
	</div>

</form>
{% endblock content %}
