{% load url from future %}
{% load assist %}

{% for project in projects %}
<div>
  <h3>{{ project.cust }}{% if project.state == "proposed" %}<span class="discreet"> - {{ project.get_supplier_state_display }}</span>{% endif %}</h3>
  {% if project.state == 'created' %}Received {{ project.created|date }}{% endif %}
  {% if project.state == 'proposed' %}Project proposed {{ project.proposed|date }}{% endif %}
  {% if project.state == 'accepted' %}Project accepted {{ project.accepted|date }}{% endif %}
  {% if project.state == 'completed' %}Project completed {{ project.completed|date }}{% endif %}
  <div>
    <p>
    {% if project|can:"can_view_eoi" %}
    <a href="{% url 'supplier_preproject_detail_view' project.pk %}" class="link-button">Details</a>
    {% endif %}
    {% if project|can:"can_view_project" %}
    <a href="{% url 'supplier_project_detail_view' project.pk %}" class="link-button">Project details</a>
    {% endif %}
    {% if project|can:"can_view_cust_capability_report" %}
    <a href="{% url 'supplier_customer_capability_report' project.pk %}" class="link-button">BIG Assist recommendations</a>
    {% endif %}
    {% if project|can:"can_view_contacts" %}
    <a href="{% url 'supplier_project_contacts_view' project.pk %}" class="link-button">Contact</a>
    {% endif %}
    {% if project|can:"can_edit_project" %}
    <a href="{% url 'supplier_project_edit_view' project.pk %}" class="link-button">Edit project</a>
    {% endif %}
    {% if project|can:"can_make_project" %}
    <a href="{% url 'supplier_project_make_view' project.pk %}" class="link-button">Make project</a>
    {% endif %}
    {% if project|can:"can_dismiss_project" %}
    <a href="{% url 'supplier_project_dismiss_view' project.pk %}" class="link-button openmodal">Dismiss</a>
    {% endif %}
    {% if project|can:"can_complete_project" %}
    <a href="{% url 'supplier_project_complete_view' project.pk %}" class="link-button openmodal">Mark project complete (triggers invoice)</a>
    {% endif %}
    </p>
  </div>
</div>
{% empty %}
<div>{{ empty_str }}</div>
{% endfor %}

