{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h2>Enter invoice POP</h2>
<p>Add a transaction number</p>
  <form method="post" action="{% url 'admin_add_pop_view' payment.pk %}">
    {% csrf_token %}
    {{ form|form }}
    <input type="submit" value="Add" />
    <input type="reset" class="simplemodal-close" value="Cancel" />
  </form>
</div>
{% endblock content %}


