{% load assist %}
{% load url from future %}
<h2>Sponsorship history</h2>
<form method="post" action="{% url 'admin_dashboard_bursary_history' %}">
  {% csrf_token %}
  {{ form.period }}
  <input type="submit" value="Show" />
</form>

<div>{{ total_count }} sponsorships</div>
<div>{{ total_sum|currencize }}</div>
