{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h2>Add new communication log entry</h2>
  <form method="post" action="{% url 'admin_customer_communication' diag_id %}">
    {% csrf_token %}
    {{ form|form }}
    <input type="submit" name="submit" value="Add new log entry" />
    <input type="submit" name="cancel" class="simplemodal-close" value="Cancel" />
  </form>
</div>
<div style="clear: both; display:block"></div>
{% endblock content %}
