{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<a href="{% url 'admin_organisation_profile' customer.pk %}">Back to profile page</a>
<h1>Contact log history with {{ customer }}</h1>
<table>
    <thead>
        <tr>
            <th>From</th>
            <th>Type</th>
            <th>Date</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% with object.iteminfo as logitem %}
        <tr>
            <td>{{ logitem.sender }}</td>
            <td>{{ logitem.comm_type }}</td>
            <td>{{ logitem.created|date:"DATE_FORMAT" }}</td>
            <td>{{ logitem.details }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% url 'admin_customer_commlog_list' as base_url %}
{% include "pagination.html" with base_url=base_url %}
{% endblock content %}

