{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}
{% load render_table from django_tables2 %}

{% block javascript_slot %}
<script type="text/javascript">

function setup_switcher() {
    $('#dashboard-database .tabs li a').click(function(e) {
          e.preventDefault();
          $('#dashboard-database .tabs li').removeClass('selected');
          $(this).parent().addClass('selected');
          var panel_id = $(this).attr('href');
          $('#dashboard-database .panel').hide();
          $(panel_id).show();
    });
};

$(document).ready(function() {
    setup_switcher();

    var $is_report = getURLParameter('report');
    if ( $is_report ) {
        $('a[href="#reports"]').click();
    }

});
</script>
{% endblock %}

{% block panelcontent %}
<div id="dashboard-database">
    <ul class="tabs">
        <li class="selected">
          <a href="#database">Search database</a>
        </li>
        <li>
          <a href="#reports">Reports</a>
        </li>
    </ul>

    <div id="database" class="panel">
      <form action="{% url 'admin_dashboard_database' %}" method="GET">
        <div class="filter">
            {{ form.text }}
            {{ form.org_type }}
            {{ form.order_by }}
            {{ form.batch_size }}
            <input type="submit" name="submit" value="Filter" />
        </div>
      </form>
      <p>{{ paginator.count }} organisations</p>
      <table class="list-table">
          <thead>
              <tr>
                  <th title="Supplier approval id">SA</th>
                  <th title="Customer application id">CA</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          {% for org in object_list %}
          <tr>
              {% with org.get_supplier_diagnostic as suppl_diag %}
              {% with org.get_customer_diagnostic as cust_diag %}
                  
                  <td title="Supplier approval id">{{ suppl_diag.pk }}</td>
                  <td title="Customer application id">{{ cust_diag.pk }}</td>
                  <td>{{ org }}</td>
                  <td>
                      {{ org.get_role_for_display }}
                  </td>
                  <td nowrap>
                    {% if suppl_diag %}
                      <b>SA</b> {{ suppl_diag.get_admin_state_display }} <br />
                    {% endif %}
                    {% if cust_diag %}
                      <b>CA</b> {{ cust_diag.get_admin_state_display }}
                    {% endif %}
                  </td>
                  <td><a class="link-button" href="{% url 'admin_organisation_profile' org.pk %}">Profile</a></td>
              {% endwith %}
              {% endwith %}
          </tr>
          {% endfor %}
          </tbody>
      </table>
      {% url 'admin_dashboard_database' as base_url %}
      {% include "pagination.html" with base_url=base_url %}
    </div>

    <div id="reports" class="panel" style="display: none">
      <form action="{% url 'admin_dashboard_database' %}" method="GET">
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        {% if reports %}
        <select name="report">
            {% with get_params.report as current_report %}
            {% for report in reports|dictsort:"title" %}
            <option value="{{ report.pk }}"{% if current_report == report.pk|stringformat:"s" %} selected="selected"{% endif %}>{{ report.title }}</option>
            {% endfor %}
            {% endwith %}
        </select>
        <input type="submit" name="show-report" value="Show" />
        <input type="submit" name="download-report" value="Download" />
        {% else %}
        <p>There are no reports defined</p>
        {% endif %}
        {% if report_result %}
            {% render_table report_result %}
        {% endif %}
        {% if report_error %}
            <p>{{ report_error }}</p>
        {% endif %}

     </form>
     <p><a class="link-button" href="{% url 'admin_selfassessments_csv' %}">Download all self-assessments</a></p>
   </div>

</div>
{% endblock panelcontent %}
