{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block panelcontent %}
<table class="list-table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Customer</th>
            <th>Value</th>
            <th>Invoice date</th>
            <th>Complaint?</th>
            <th>POP</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
    <tr>
        {% with payment.get_related_object as related %}
            <td>{{ payment.payee_org }}</td>
            <td>{{ related.cust }}</td>
            <td nowrap>{{ payment.amount }}</td>
            <td>{{ payment.invoice_date|date }}</td>
            <td>{{ payment.has_complaint|yesno:"Yes,No,Not yet" }}</td>
            <td>
              {% if payment.pop %}
              {{ payment.pop }}
              {% else %}
              <a href="{% url 'admin_add_pop_view' payment.pk %}" class="link-button openmodal">Add POP</a>
              {% endif %}
            </td>
            <td>
              {% if payment|can:"send_to_finance" %}
              <a href="{% url 'admin_send_to_finance' payment.pk %}" class="link-button openmodal">Send to finance</a>
              {% endif %}
            </td>
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock panelcontent %}

