{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.review-list li.org').each(function() {
      var link = $(this).children('a:first');
      var text = link.text();
      var id = link.attr('name');
      link.remove();
      $(this).html('<span name="' + id + '">' + text + '</span>');
    });
    $('.review-list li span').live('click', function() { $(this).parent().addClass('selected').siblings().removeClass('selected');
      var id = $(this).attr('name');
      var y_pos = $(this).position().top + 3;
      $('#' + id + '').addClass('selected').siblings().removeClass('selected').parent().css('padding-top',y_pos + 'px');
    });

    var $custid = getURLParameter('org');
    if ( $custid ) {
        $('.review-list li span[name="review-' + $custid + '"]').click();
    }
  });
</script>
{% endblock %}

{% block panelcontent %}
<ul class="review-list width4">
    {% for org in customers %}
      {% with org.get_customer_diagnostic as diag %}
      {% ifchanged diag.get_admin_state_display %}
        <li class="diag_state">{{ diag.get_admin_state_display }}</li>
      {% endifchanged %}
        <li class="org {% if forloop.first %}selected{% endif %} {% if diag.recommendation_overdue %} overdue {% endif %}" {% if diag.recommendation_overdue %} title="Customer overdue accepting recommendations" {% endif %}><a href="" name="review-{{ org.pk }}">
        {{ diag.pk }}. {{ org|default:org.pk }}</a> 
        </li>
      {% endwith %}
    {% endfor %}
</ul>
<div class="review-panel width12">
    {% for org in customers %}
      {% with org.get_customer_diagnostic as diag %}
        <div id="review-{{ org.pk }}" class="review-item{% if forloop.first %} selected{% endif %}">
            <h3>{{ org }}</h3>
            <div class="col col-half col1">
                <p>Status: <strong>{{ diag.get_admin_state_display }}</strong></p>
                <p>Submit date {{ diag.submitted|date }}</p>
                <h4>Contact details</h4>
                <p>
                {# phone: {{ org.org|contact:"tel_direct" }}<br /> #}
                {# email: {{ org.org|contact:"email_direct" }}<br /> #}
                phone: {{ diag.contact_phone }}<br />
                email: {{ diag.contact_email }}<br />
                </p>
                <h4>Diagnostic</h4>
                <p><a href="{% url 'admin_customer_diagnostic' org.pk %}" class="link-button" target="_blank">
                  View self-assessment {% if diag|can:"edit_comments" %}(with comments){% endif %}
                  <img src="{{ STATIC_URL }}images/new-window.gif" alt="(opens in a new window)"/>
                </a></p>


              {% if diag|can:"show_ineligible" %}
                <p>
                  <a href="{% url 'admin_customer_make_ineligible' diag.pk %}" class="link-button openmodal">Make customer ineligible</a>
                </p>
              {% endif %}

                <h4>Recommendation</h4>
                {% if diag|can:"view_recommendation" %}
                <p><a class="link-button"
                  href="{% url 'admin_customer_recommendation' diag.pk %}"
                  >Review recommendation</a></p>
                {% endif %}

                {% if diag|can:"edit_recommendation" %}
                <p><a class="link-button"
                  href="{% url 'admin_customer_recommendation_edit' diag.pk %}"
                  >Edit recommendation</a></p>
                {% endif %}

                {% if diag|can:"revise_recommendation" %}
                <p><a class="link-button action"
                  href="{% url 'admin_customer_recommendation_revise' diag.pk %}"
                  >Revise recommendation</a></p>
                {% endif %}
                {% if diag|can:"add_recommendation" %}
                <p><a class="link-button"
                  href="{% url 'admin_customer_recommendation_edit' diag.pk %}"
                  >Start recommendation</a></p>
                {% endif %}
                {% if diag.recommendation_overdue %}
                  <p class="overdue">Customer is overdue accepting their recommendations. Action required.</p>
                {% endif %}
            </div>
            <div class="col col-half col2 last-col">
                <h4>Contact log</h4>
                {% if diag.customercommlog_set.count %}
                <ul class="bulletless">
                    {% for logrow in diag.customercommlog_set.all %}
                        {% with logrow.iteminfo as logitem %}
                        <li>
                            <strong>{{ logitem.created|date }}</strong> | {{ logitem.sender }} | {{ logitem.comm_type }}
                            {% if logitem.details %}
                                <a class="openmodal" href="{% url 'customer_commlog_detail' logitem.pk %}">details</a>
                            {% endif %}
                            {% if logitem.preview %}
                                <a href="{% url 'admin_customer_recommendation' diag.pk %}">preview</a>
                            {% endif %}
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
                {% else %}
                <p class="discreet">There are no contacts in the log</p>
                {% endif %}
                <p><a href="{% url 'admin_customer_communication' diag.pk %}" class="link-button">Log new communication</a></p>
            </div>
            {% if diag|can:"force_send_recommendation" %}
            <p><a class="link-button openmodal"
            href="{% url 'admin_customer_recommendation_send_no_consent' diag.pk %}"
            >Force complete self-assessment</a></p>
            {% endif %}


        </div>
      {% endwith %}
    {% endfor %}
  <div class="clear"></div>
</div>

{% endblock panelcontent %}
