{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h1>Admin <span class="discreet">dashboard</span></h1>
<div class="width16 dashboard">
  <ul class="tabs">
    <li {% if tab == 'database' %}class="selected"{% endif %}>
      <a href="{% url 'admin_dashboard_database' %}">Database</a>
    </li>
    <li {% if tab == 'customer' %}class="selected"{% endif %}>
      <a href="{% url 'admin_dashboard_customer' %}">Customer review ({{ total_customer }})</a>
    </li>
    <li {% if tab == 'supplier' %}class="selected"{% endif %}>
      <a href="{% url 'admin_dashboard_supplier' %}">Supplier review ({{ total_supplier }})</a>
    </li>
    <li {% if tab == 'connectspace' %}class="selected"{% endif %}>
      <a href="{% url 'admin_dashboard_meetspace' %}">ConnectSpace admin</a>
    </li>
    <li {% if tab == 'bursary' %}class="selected"{% endif %}>
      <a href="{% url 'admin_dashboard_bursary' %}">Sponsorship admin</a>
    </li>
    <li {% if tab == 'invoices' %}class="selected"{% endif %}>
    <a href="{% url 'admin_dashboard_invoices' %}">Invoices ({{ total_invoices }})</a>
    </li>
  </ul>
  <div class="panel">
    <div class="col width16">
        {% block panelcontent %}{% endblock panelcontent %}
    </div>
    <div class="clear"></div>
  </div>
<div class="col col-half col-1">
  <h3 class="underline">What&rsquo;s going on</h3>
	<ul class="bulletless">
      {% for newsitem in news %}
        <li><a href="{{ newsitem.get_absolute_url }}">{{ newsitem.title }}</a></li>
      {% endfor %}
	</ul>
</div>
<div class="col col-half col-2 last-col">
  <h3 class="underline">
    <a href="http://twitter.com/BIGAssist">@BIGAssist <span class="discreet">on</span>
    <img class="twitter-logo" src="{{ STATIC_URL}}images/twitter.png" alt="Twitter"/></a>
  </h3>
<a class="twitter-timeline" href="https://twitter.com/BIGAssist" data-widget-id="264391897898946560"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="clear"></div>
</div>
{% endblock content %}
