{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}
{% load form %}

{% block panelcontent %}
<h2>Unprocessed supplier submissions</h2>

<div style="float: left; width: 300px">
  <h4>Submitted for the {{ last_deadline.deadline|date }} panel.</h4>

  <ul>
    {% for approval in last_approvals %}
    <li>
      <a href="{% url 'admin_supplier_approval_review' approval.suppl.pk %}">{{ approval.suppl|default:approval.suppl.pk }}</a>
      {% if approval.assessor_comments %}(started){% endif %}
    </li>
    {% empty %}
    <li><em>No unprocessed suppliers</em></li>
    {% endfor %}
  </ul>
</div>
<div style="float: left; width: 300px">
  <h4>Submitted for the {{ next_deadline.deadline|date }} panel.</h4>

  <ul>
    {% for approval in next_approvals %}
    <li>
      <a href="{% url 'admin_supplier_approval_review' approval.suppl.pk %}">{{ approval.suppl|default:approval.suppl.pk }}</a>
      {% if approval.assessor_comments %}(started){% endif %}
    </li>
    {% empty %}
    <li><em>No unprocessed suppliers</em></li>
    {% endfor %}
  </ul>
</div>

<div id="deadline-list" style="float: left">
  <h4>Deadlines</h4>
  <ul>
    {% for deadline in deadlines %}
    <li>{{ deadline.deadline|date }}</li>
    {% endfor %}
  </ul>
  <form method="post" action="{% url 'admin_dashboard_supplier' %}"/>
    {% csrf_token %}
    {% with add_deadline_form.deadline as field %}
    <span class="form-field {% if field.errors %}field_error{% endif %}">
      <div style="float: right">{{ field.errors }}</div>
      <span class="form-input">
      {{ field }}
    </span>
    </span>
    {% endwith %}
    <input type="submit" value="Add" name="add_deadline"/>
  </form>
</div>

<div style="clear: both">
  <a class="link-button" href="{% url 'panel_dashboard' %}">Go to panel</a>
</div>

{% comment %}
<table class="list-table">
    <thead>
        <tr>
            <th>Approval ID</th>
            <th>Supplier name</th>
            <th>State</th>
            <th>Submission date</th>
        </tr>
    </thead>
    <tbody>
    {% for org in suppliers %}
    <tr>
        {% with org.get_supplier_diagnostic as approval %}
            <td>{{ approval.pk }}</td>
            <td><a href="{% url 'admin_supplier_approval_review' org.pk %}">{{ org|default:org.pk }}</a></td>
            <td nowrap>{{ approval.get_admin_state_display }}</td>
            <td>{{ approval.submitted|date }}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endcomment %}
{% endblock panelcontent %}
