{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.review-list li').each(function() {
      var link = $(this).children('a:first');
      var text = link.text();
      var id = link.attr('name');
      link.remove();
      $(this).html('<span name="' + id + '">' + text + '</span>');
    });
    $('.review-list li span').live('click', function() { $(this).parent().addClass('selected').siblings().removeClass('selected');
      var id = $(this).attr('name');
      var y_pos = $(this).position().top + 3;
      $('#' + id + '').addClass('selected').siblings().removeClass('selected').parent().css('padding-top',y_pos + 'px');
    });

    var $visitid = getURLParameter('visit');
    if ( $visitid ) {
        $('.review-list li span[name="review-' + $visitid + '"]').click();
    }
  });
</script>
{% endblock %}

{% block panelcontent %}
{% if viments %}
<h1>Unmoderated visits</h1>
<ul class="review-list width4">
    {% for viment in viments %}
        <li {% if forloop.first %}class="selected"{% endif %}><a href="" name="review-{{ viment.pk }}">{{ viment.get_type }}: {{ viment }}</a></li>
    {% endfor %}
</ul>
<div class="review-panel width12">
    {% for viment in viments %}
        <div id="review-{{ viment.pk }}" class="review-item{% if forloop.first %} selected{% endif %}">
            {% if viment.get_type == 'VISIT' %}
                <p><strong>Description</strong></p>
                <p>{{ viment.description }}</p>
                <p><strong>Visit address</strong></p>
                <p>{{ viment.address|linebreaksbr }}</p>
                <p><strong>Contact email address</strong></p>
                <p>{{ viment.get_contact_email }}</p>
                <p><strong>Visit date</strong></p>
                <p>{{ viment.visit_date }}</p>
                <p>
                    <a class="link-button openmodal"
                       href="{% url 'admin_visit_approve' viment.pk %}">Approve</a>
                    <a class="link-button openmodal"
                       href="{% url 'admin_visit_reject' viment.pk %}">Reject</a>
                </p>
            {% endif %}
        </div>
    {% endfor %}
  <div class="clear"></div>
</div>
{% else %}
<h1>There aren't any unmoderated visits.</h1>
{% endif %}

{% endblock panelcontent %}
