{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('a.row-detail').click(function(event) {
        event.preventDefault();
        var key = $(this).data('key');
        var el = $('tr.' + key);
        el.toggle();
        if ( el.is(":visible") ) {
            $(this).html('Hide detail')
        } else {
            $(this).html('Show detail')
        }
    })
    $('#bursary-history').load("{% url 'admin_dashboard_bursary_history' %}", function() {
      setup_history_submit();
    });

    setup_history_submit = function() {
      $('#bursary-history form input[type="submit"]').click(function(evt) {
        evt.preventDefault();
        var form = $(this).parents('form');
        data = form.serialize();

        $.post(form.attr('action'), data, function(data) {
          $('#bursary-history').html(data);
          setup_history_submit();
        });
      });
    };
  });
</script>
{% endblock %}

{% block panelcontent %}
<div id="bursary-history" style="float:right"></div>
<h1>Sponsorship applications</h1>
<div>
  <span class="star">*</span> Recommended for sponsorship
</div>
<table class="list-table">
    <thead>
        <tr>
            <th>Visit name</th>
            <th>Applicant</th>
            <th>Host</th>
            <th>Date</th>
            <th>Applicant &#163;</th>
            <th>Host &#163;</th>
            <th>Total &#163;</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for row in results %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.applicant }} {% if row.bursary_rcmd %}<span class="star">*</span>{% endif %}</td>
        <td>{{ row.host }}</td>
        <td nowrap>{{ row.date }}</td>
        <td>{{ row.applicant_amount|currencize }}</td>
        <td>{{ row.host_amount|currencize }}</td>
        <td>{{ row.total_amount|currencize }}</td>
        <td><a class="link-button row-detail" href="#" data-key="row-{{ row.key }}">Show detail</a></td>
        <td>
            {% if row.has_diagnostic %}
            <a class="link-button" href="{% url 'admin_customer_capability_report' row.applicant.pk %}">View report</a>
            {% else %}
            n/a
            {% endif %}
        </td>
        <td><a class="link-button openmodal" href="{% url 'admin_sponsorship_grant' row.typ row.pk %}">Grant sponsorship</a></td>
        <td><a class="link-button openmodal" href="{% url 'admin_sponsorship_reject' row.typ row.pk %}">Reject</a></td>
    </tr>
    <tr class="row-{{ row.key }}" style="display:none">
        <td colspan="11">
            <p><strong>Host contact email:</strong> {{ row.host_email }}</p>
            <p><strong>Visitor contact email:</strong> {{ row.visitor_email }}</p>
            <p><strong>Benefit:</strong> {{ row.benefit }}</p>
            <p><strong>Purpose:</strong> {{ row.purpose }}</p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock panelcontent %}
