{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}

{% if diag_type == 'supplier' %}
	<h2>Update application contact details for {{ object.suppl }}</h2>
	<form method="post" action="{% url 'admin_supplier_approval_contact_edit' pk=object.pk org_pk=object.suppl.pk %}">
{% elif diag_type == 'customer' %}
	<h2>Update application contact details for {{ object.cust }}</h2>
	<form method="post" action="{% url 'admin_customer_diagnostic_contact_edit' pk=object.pk org_pk=object.cust.pk %}">
{% endif %}

		{% csrf_token %}
		{{ form.media }}
		{% for hidden in form.hidden_fields %}
		  {{ hidden }}
		{% endfor %}
		{{ form.non_field_errors }}
		{% for hidden in form.hidden_fields %}
		  {{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			<div class="form-row" id="{{ field.html_name }}">
				{{ field|field }}
			</div>
		{% endfor %}
    <div class="form-row">
      <span class="form-field">
        <span class="form-controls">
			<input class="link-button simplemodal-close" type="reset"value="Cancel" />
			<input class="link-button action" type="submit" value="Update" />
        </span>
      </span>
    </div>
	</form>

{% endblock content %}


