{% extends 'base.html' %}
{% load url from future %}
{% load form %}
{% load assist %}

{% block javascript_slot %}
  <script type="text/javascript">
  $(document).ready(function() {
    $('button.date-button').click(function() {
        $this = $(this);
        var id=$this.data('did');
        var vid=$this.data('voucher');
        $this.hide();
        $('#did-block-'+vid+'-'+id).show();
    });
    $('button.did-submit').click(function() {
        $this = $(this);
        var id=$this.data('did');
        var vid=$this.data('voucher');
        var value=$('#did-input-'+vid+'-'+id).val();
        var jqxhr = $.post('/admin/voucher/change/', {did: id, voucher: vid, value: value}, 'text');
        jqxhr.complete(function(data) {
            var text=data.responseText;
            if (text) {
                $('#did-txt-'+vid+'-'+id).html(data.responseText);
            };
            $('#did-block-'+vid+'-'+id).hide();
            $('#did-btn-'+vid+'-'+id).show();
        });
    });
  })
  </script>
{% endblock %}

{% block content %}
{# {% with object.get_diagnostic as diag %} #}
<a href="{% url 'admin_dashboard_database' %}">Back to dashboard</a>
<div class="account-info">
    Account created: {{ object.created|date }}<br />
    Last modified: {{ object.updated|date }}
</div>
<h1>{{ object }}</h1>
<div class="users-block">
    <h2>Users
       <a class="link-button" href="{% url 'admin_org_users' object.pk %}">Edit</a>
    </h2>
    <dl>
        {% for user in members %}
            <dt>{{ user.0 }}</dt>
            <dd>{{ user.1 }}</dd>
        {% endfor %}
    </dl>
</div>
{% if 'supplier' in object.get_roles and 'customer' in object.get_roles %}
    {% include "ro_field.html" with label="Type" value="Supplier, Customer" %}
{% elif 'supplier' in object.get_roles %}
    {% include "ro_field.html" with label="Type" value="Supplier" %}
{% elif 'customer' in object.get_roles %}
    {% include "ro_field.html" with label="Type" value="Customer" %}
{% endif %}

{% include "ro_field.html" with label="Region" value=object.org.region %}
{% if supplier_appr %}
    {% include "ro_field.html" with label="Current status (Supplier approval)" value=supplier_appr.get_admin_state_display %}
{% endif %}
{% if customer_diag %}
    {% include "ro_field.html" with label="Current status (Customer diagnostic)" value=customer_diag.get_admin_state_display %}
{% endif %}
<h2>Profile
    <a class="link-button" href="{% url 'admin_organisation_edit' object.pk %}">Edit</a>
</h2>
{% include "ro_field.html" with label="Organisation name" value=object %}
{% include "ro_field.html" with label="Organisation type" value=object.org_type %}
<!--{% include "ro_field.html" with label="NCVO membership id" value=object.org.ncvomem %}-->
{% include "ro_field.html" with label="Company number" value=object.org.companyno %}
{% include "ro_field.html" with label="Charity number" value=object.org.charityno %}
{% include "ro_field.html" with label="Other description" value=object.detail %}
{% include "ro_field.html" with label="Address" value=object.org.get_address.formatted_address|linebreaksbr %}

{% include "ro_field.html" with label="Email (general)" value=object.org.get_contact_email %}
{% include "ro_field.html" with label="Website" value=object.org.get_contact_website %}
{% include "ro_field.html" with label="Year founded" value=object.year_founded %}
{% include "ro_field.html" with label="Twitter" value=object.org.get_contact_twitter %}
{% include "ro_field.html" with label="LinkedIn" value=object.org.get_contact_linkedin %}

<h1>Supplier</h1>
{% if 'supplier' in object.get_roles %}
    <h2>Application
        {% if supplier_appr|can:"change_by_admin" %}
            {% if not supplier_appr.locked_at %}
                <a class="link-button" href="{% url 'admin_supplier_approval_edit' object.pk %}">Edit</a>
            {% else %}
                <a class="link-button" href="{% url 'admin_supplier_approval_review' object.pk %}">Review</a>
            {% endif %}
        {% endif %}
    </h2>
    <p>{{ supplier_appr.get_admin_state_display }}</p>
    {% if not supplier_appr %}
    <p>The application hasn't been started yet</p>
    {% else %}
        <p>
        {% if supplier_appr.assessor_comments %}
            <a class="link-button" href="{% url 'admin_supplier_approval_comments' object.pk %}">View application (with comments)</a></h2>
        {% else %}
            <a class="link-button" href="{% url 'admin_supplier_approval' object.pk %}?readonly=1">View application</a></h2>
        {% endif %}
        </p>
        {% if supplier_appr.panel_text %}
        <h3>Decision summary:</h3>
        <p>{{ supplier_appr.panel_text|linebreaks }}</p>
        {% endif %}
        <h2>Supplier contact details <a href="{% url 'admin_supplier_approval_contact_edit' pk=supplier_appr.pk org_pk=object.pk %}" class="link-button openmodal">Edit</a></h2>
        <div class="diag-contact-details">
            {% include "ro_field.html" with label="Contact name" value=supplier_appr.contact_name %}
            {% include "ro_field.html" with label="Contact title" value=supplier_appr.contact_title %}
            {% include "ro_field.html" with label="Contact telephone" value=supplier_appr.contact_phone %}
            {% include "ro_field.html" with label="Contact email" value=supplier_appr.contact_email %}
        </div>
    {% endif %}
{% else %}
    <p>This organisation is not a supplier</p>
{% endif %}
<h1>Customer</h1>
{% if 'customer' in object.get_roles %}
{# For customer #}
    {% with customer_diag.prev_diag as prev_diag %}
        <h2>Current self-assessment
            {% if diag|can:"change_by_admin" %}
            <a class="link-button" href="{% url 'admin_customer_diagnostic_edit' object.pk %}">Edit</a>
            {% endif %}
        </h2>
        <p>{{ customer_diag.get_admin_state_display }}</p>
        {% if not customer_diag %}
            <p>The self-assessment hasn't been started yet</p>
        {% else %}
            <p>
                <a class="link-button" href="{% url 'admin_customer_diagnostic' object.pk %}">View self-assessment</a></h2>
            </p>
            {% if customer_diag|can:"view_recommendation"  %}
                <p>
                    <a class="link-button" href="{% url 'admin_customer_recommendation' customer_diag.pk %}">View recommendation</a></h2>
                </p>
            {% endif %}
            <p>
                <a class="link-button" href="{% url 'admin_customer_commlog_list' object.pk %}">View Contact log</a></h2>
            </p>
        {% endif %}
        {% if prev_diag %}
            <h2>Previous self-assessment</h2>
            <p>{{ prev_diag.get_admin_state_display }}</p>
            
        {% endif %}
    {% endwith %}

    <h2>Vouchers</h2>
    {% for voucher in vouchers %}
    {% with voucher.pk as vid %}
    <div class="form-row">
      <span class="form-field">
        <label class="form-label">Voucher {{ voucher.voucher_id }}</label>
        <span class="form-input">
            <div class="form-row">
                <label class="form-label">Value awarded</label>
                <span class="form-input">£{{ voucher.value }}{% if voucher.allocated %} (£{{voucher.allocated}} allocated){% endif %}</span>
            </div>
            <div class="form-row">
                <label class="form-label">Value remaining</label>
                <span class="form-input">£{{ voucher.get_residual_value }}</span>
            </div>
            {% include "ro_field.html" with label="Use" value=voucher.area %}
            <div class="form-row">
                <label class="form-label">Assigned</label>
                <span class="form-input" id="did-txt-{{vid}}-A">{{ voucher.assigned|date }}</span>
                <button class="date-button"
                        id="did-btn-{{vid}}-A"
                        data-voucher="{{ vid }}"
                        data-did="A">Extend</button>
                <div id="did-block-{{vid}}-A" style="display: none">
                    <input type="text"
                           id="did-input-{{vid}}-A"
                           size="10"
                           class="datepicker" />
                    <button class="did-submit"
                            data-voucher="{{ vid }}"
                            data-did="A">Update</button>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">Expires</label>
                <span class="form-input" id="did-txt-{{vid}}-E">{{ voucher.expires|date }}</span>
                <button class="date-button"
                        id="did-btn-{{vid}}-E"
                        data-voucher="{{ vid }}"
                        data-did="E">Extend</button>
                <div id="did-block-{{vid}}-E" style="display: none">
                    <input type="text"
                           id="did-input-{{vid}}-E"
                           size="10"
                           class="datepicker" />
                    <button class="did-submit"
                            data-voucher="{{ vid }}"
                            data-did="E">Update</button>
                </div>
            </div>
        </span>
      </span>
    </div>
    {% endwith %}
    {% endfor %}

    <h2>Projects</h2>
    {% for project in projects %}
    <div class="form-row">
      <span class="form-field">
        <label class="form-label">Project {{ project.pk }}</label>
        <span class="form-input">
            {% include "ro_field.html" with label="Supplier" value=project.suppl %}
            <div class="form-row">
                <label class="form-label">Price/voucher</label>
                <span class="form-input">£{{ project.price }}{% if project.voucher %} / Voucher {{ project.voucher.voucher_id }}{% endif %}</span>
            </div>
            {% include "ro_field.html" with label="Start date" value=project.startdate|date %}
            {% if project.enddate %}
            {% include "ro_field.html" with label="End date" value=project.enddate %}
            {% else %}
            {% include "ro_field.html" with label="End date" value="Ongoing" %}
            {% endif %}
        </span>
      </span>
    </div>
    {% endfor %}

    {% if customer_diag %}
        <h2>Customer contact details <a href="{% url 'admin_customer_diagnostic_contact_edit' pk=customer_diag.pk org_pk=object.pk %}" class="link-button openmodal">Edit</a></h2>
        <div class="diag-contact-details">
            {% include "ro_field.html" with label="Contact name" value=customer_diag.contact_name %}
            {% include "ro_field.html" with label="Contact title" value=customer_diag.contact_title %}
            {% include "ro_field.html" with label="Contact telephone" value=customer_diag.contact_phone %}
            {% include "ro_field.html" with label="Contact email" value=customer_diag.contact_email %}
        </div>
    {% endif %}
{% else %}
    <p>This organisation is not a customer</p>
{% endif %}
{# {% endwith %} #}
{% endblock content %}
