{% extends 'base.html' %}
{% load url from future %}
{% load assist %}

{% block javascript_slot %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#add-users-button').click(function(evt) {
        evt.preventDefault();
        $('.add-users-info').hide();
        $('.add-users-form').show();
    });
    $('#add-users-cancel').click(function(evt) {
        evt.preventDefault();
        $('.add-users-info').show();
        $('.add-users-form').hide();
    });
  });
</script>
{% endblock javascript_slot %}

{% block content %}
<h2>Users in organisation {{ object }}</h2>
<p>You can remove users by checking mark in front of user's name
   and press "Remove selected users" button. Please note, there must be at least
   one organisation manager left. If you select all managers,
   one of them won't be removed.
</p>
<form action="{% url 'admin_org_users' object.pk %}" method="post">
{% csrf_token %}
<ul class="bullet">
    {% for member in members %}
    <li><input type="checkbox" name="remove" value="{{ member.0 }}" /> {{ member.1 }}</li>
    {% endfor %}
</ul>
<input type="submit" name="remove_users" id="remove_users" value="Remove selected users" />
<p class="add-users-info">
    <a href="#" class="link-button" id="add-users-button">Add user(s)</a>
</p>
<p>
  <em>You can add users to the organisation.</em>
</p>

<div class="add-users-form" style="display:none">
    <p>Email address (one per line)</p>
        <textarea name="users"></textarea>
        <br />
        <label>Please select a role for the users</label>
        <input type="radio" name="type" id="type_member" value="member" checked="checked" />
        <label for="type_member">Member</label>
        <input type="radio" name="type" id="type_manager" value="manager" />
        <label for="type_manager">Manager</label>
        <br />
        <a href="#" id="add-users-cancel">cancel</a> <input type="submit" value="Add users" />
    <p>Members can edit the self assessment. Managers can edit the self assesment, organisation profile and add new members.</p>
</div>
</form>
{% endblock %}