{% extends 'base.html' %}
{% load form %}
{% load url from future %}

{% block title %}Update organisation details - {{ block.super }}{% endblock %}

{% block content %}
<h1>Update organisation details</h1>
<div class="form_col"/>
<form method="post" action="{% url 'admin_organisation_edit' org_pk %}">
  {% csrf_token %}
  <fieldset>
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <h2>Organisation details</h2>
    <div class="form-row">{{ form.displayname|field }}</div>
    <!--div class="form-row">{{ form.ncvomem|field }}</div-->
    <div class="form-row">
      <span class="form-field required">
        <label class="form-label">{{ form.org_type.label }}</label>
        <span class="form-input">
          <ul>
            {% for value, title in form.org_type.field.choices %}
            <li>
            <label for="id_org_type_{{ value }}">
              <input type="radio" id="id_org_type_{{ value }}" name="org_type"
              value="{{ value }}"
                {% if form.org_type.value|slugify == value|slugify %}checked="checked"{% endif %}
                >{{ title }}</label>
                {% if value == 1 %}<div style="margin-left:90px">{{ form.detail_1|field }}</div>{% endif %}
                {% if value == 2 %}<div style="margin-left:90px">{{ form.detail_2|field }}</div>{% endif %}
                {# {% if value == 4 %}<div style="margin-left:90px">{{ form.detail|field }}</div>{% endif %} #}

                </li>
            {% endfor %}
          </ul>
        </span>
      </span>
    </div>

    <div id="org_type_detail" class="form-indent">
      <div class="form-row" data-idref="{{ form.charityno.id_for_label }}">{{ form.charityno|field }}</div>
      <div class="form-row" data-idref="{{ form.companyno.id_for_label }}">{{ form.companyno|field }}</div>
      <div class="form-row" data-idref="{{ form.detail.id_for_label }}">{{ form.detail|field }}</div>
    </div>

    <h2>Organisation contact details</h2>
    <span class="discreet">The following questions are required to start the customer assessment, but are optional for general site usage.</span>
    <div class="form-row">{{ form.main_address|field }}</div>
    <div class="form-row">{{ form.postcode|field }}</div>
    <div class="form-row">{{ form.registered_address|field }}</div>
    <div class="form-row">{{ form.registered_postcode|field }}</div>
    <div class="form-row">{{ form.tel_general|field }}</div>
    {# <div class="form-row">{{ form.tel_direct|field }}</div> #}
    {# <div class="form-row">{{ form.email_direct|field }}</div> #}
    <div class="form-row">{{ form.email_general|field }}</div>
    <div class="form-row">{{ form.website|field }}</div>
    {# <div class="form-row">{{ form.maincontactname|field }}</div> #}
    {# <div class="form-row">{{ form.maincontacttitle|field }}</div> #}

    {% if show_payment %}
    <h2>Payment details</h2>
    <div class="form-row">{{ form.bank_name|field }}</div>
    <div class="form-row">{{ form.bank_ac_name|field }}</div>
    <div class="form-row">{{ form.bank_ac_no|field }}</div>
    <div class="form-row">{{ form.bank_sortcode|field }}</div>
    {% endif %}

    {% if is_supplier %}
      <h2>Supplier specific organisation details</h2>
      <div class="form-row">{{ form.year_founded|field }}</div>
      <div class="form-row">{{ form.twitter|field }}</div>
      <div class="form-row">{{ form.linkedin|field }}</div>
    {% endif %}

    <div class="form-row">
      <span class="form-field">
        <span class="form-controls">
          <input type="submit" value="Update details"/>
        </span>
      </span>
    </div>
  </fieldset>
</form>
</div>
<div id="check_company" class="info_col" style="display: none;"></div>
{% endblock content %}

{% block javascript_slot %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bigassist-org.js"></script>
{% endblock %}
