{% extends 'base.html' %}
{% load url from future %}
{% load form %}
{% load assist %}

{% block content %}
<h1>{{ diag.cust }} diagnostic recommendation</h1>
<div class="col col-1 width11">
  <h2>Organisational overview</h2>
  <p>{{ diag.orgnl_overview|linebreaksbr }}</p>

  <h2>Priority areas for support</h2>
  <p>{{ diag.financial_health|linebreaksbr }}</p>

  <h2>Recommendation for support</h2>
  <p>{{ diag.snr_lev_commit|linebreaksbr }}</p>
</div>
<div class="col col-2 width5 last-col">
  <h2>Development priorities</h2>
  {% for dev_pri in diag.customerdevpri_set.all %}
  <div class="dev_pri">
    <h4>{{ dev_pri.topic }}</h4>
    <ul class="bullet">
      <li>Priority order: {{ dev_pri.pri_lev }}</li>
      <li>Support type: {{ dev_pri.support_type }}</li>
      <li>Voucher value: {{ dev_pri.value }}</li>
      <li>Sponsorship recommended: {{ dev_pri.bursary_rcmd|yesno:"Yes,No" }}</li>
    </ul>
  </div>
  {% endfor %}

  <div class="clear">
    <p>
      {% if diag|can:"edit_recommendation" %}
        <a class="link-button"
           href="{% url 'admin_customer_recommendation_edit' diag.pk %}"
           >Edit recommendation</a>
      {% endif %}

      {% if diag|can:"send_recommendation" %}
        <a class="link-button openmodal"
           href="{% url 'admin_customer_recommendation_send' diag.pk %}"
           >Send to organisation</a>
      {% endif %}

      {% if diag|can:"revise_recommendation" %}
        <a class="link-button openmodal"
           href="{% url 'admin_customer_recommendation_send_revised' diag.pk %}"
           >Send revised recommendation to organisation</a>
      {% endif %}

      {% if not diag.has_comments %}
      <p>Note: the assessment does not have an overall summary comment.</p>
      <p>
          <a class="link-button" href="{% url 'admin_customer_diagnostic' diag.cust.pk %}">View self-assessment (with comments)</a></h2>
      </p>
      {% endif %}

      {% if not diag|can:"edit_recommendation" %}
      <p>
        <a class="link-button action openmodal" href="{% url 'admin_customer_recommendation_approve' diag.pk %}">Approve the customer’s recommendation</a>
      </p>
      <p>
        <a class="link-button action openmodal" href="{% url 'admin_customer_recommendation_reject' diag.pk %}">Reject the customer’s recommendation</a>
      </p>
      {% endif %}


    </p>
  </div>

</div>
{% endblock content %}
