{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}
<h1>{% if diag.assessor %}Edit{% else %}Add{% endif %} recommendation</h1>
<div>
  <form method="post" action="{% url 'admin_customer_recommendation_edit' diag.pk %}">
    {% csrf_token %}
    {{ form|form }}

    {% for topic, pri_form in pri_forms.items %}
    <div class="pri_form form_row repeat-item" id="pri_form-{{ topic.pk }}"
      style="display: none">
      <span class="form-field">
        <label class="form-label">Development priority</label>
        <span class="form-input">{{ topic }}</span>
      </span>

      {{ pri_form|form }}
    </div>
    <p></p>
    {% endfor %}
    <input type="submit" name="save" value="Save" />
    <input type="submit" name="save_preview" value="Save and preview" />
    <input type="submit" name="cancel" value="Cancel" />
  </form>
</div>
{% endblock content %}

{% block javascript_slot %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $('input[name="support_topics"]').change(function() {
        var chck = $(this);
        var related = "#pri_form-"+chck.val();
        if (chck.attr("checked")) $(related).show();
        else $(related).hide();
      });
      $('input[name="support_topics"]').change();
  });

</script>
{% endblock %}
