{% extends 'base.html' %}
{% load url from future %}
{% load form %}

{% block content %}

<h2>Remove user</h2>
  <form method="post" action="{% url 'admin_remove_user' %}">
    {% csrf_token %}
    {% if email %}
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="hidden" name="remove" value="1" />
    User <strong>{{ email }}</strong> will be completely removed from these tables:
    <table>
        <thead>
            <tr>
                <th>Table name</th>
                <th>Description</th>
                <th>Primary key</th>
            </tr>
        </thead>
        <tbody>
        {% for row in to_remove %}
            <tr>
                <td>{{ row.table }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.pk }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" name="submit" value="REMOVE USER" />
    {% else %}
    {{ form|form }}
    <input type="submit" name="submit" value="Check user" />
    {% endif %}
  </form>
</div>
<div style="clear: both; display:block"></div>
{% endblock content %}
