{% extends 'khnpadmin/dashboard.html' %}
{% load url from future %}
{% load assist %}

{% block panelcontent %}
<h1>{{ supplier }} review</h1>
Organisation profile: <a class="link-button" href="{% url 'supplier_full_profile' supplier.pk %}">Profile</a>

<p>
    {% if assessment.state == 'submitted' %}
      {% if assessment|can:"can_review_approval" %}
      <a class="link-button openmodal" href="{% url 'admin_supplier_approval_set_reviewed' supplier.pk %}">Mark assessment as reviewed</a>
      {% else %}
      <span>Please review the assessment and enter a review summary to proceed.</span>
      {% endif %}
    {% endif %}
</p>
<p>
    Topics:
    <ul>
        {% for topic in supplier.suppliertopics_set.all %}
            <li>{{ topic.topic.topic }} {# - {% if topic.is_approved %}approved{% else %}not approved{% endif %} #}</li>
        {% endfor %}
    </ul>
</p>
<p>
    Assessment state: {{ assessment.get_admin_state_display }}<br />
    {% if locked %}
    <p>This assessment is locked by <b>{{ assessment.locked_by.email }}</b> {{ assessment.locked_at|timesince }} ago.
    If you are sure it is no longer been worked on you can unlock it manually.</p>
    <a class="link-button openmodal" href="{% url 'admin_supplier_approval_unlock' assessment.pk %}">Unlock</a>
    {% else %}
    <a class="link-button" href="{% url 'admin_supplier_approval_comments' supplier.pk %}">View assessment with comments
        {# reviewed - Reviewed by admin, waiting for panel. Admin can add comments, until reviewed #}
        {% if assessment.state == 'submitted' %}
            (editable comments)
        {% else %}
            (read only comments)
        {% endif %}
    </a>
    {% endif %}
</p>
{% endblock panelcontent %}
