{% extends 'base.html' %}
{% load url from future %}

{% block title %}BIG Assist programme of events 2015–16 - {{ block.super }}{% endblock %}

{% block content %}
<div class="width16">
	{# <div class="col col-twothirds"> #}
		<h1>BIG Assist programme of events 2015–16</h1>
		<div class="events">
		{% if event_list.count == 0 %}
			<p class="discreet">There are currently no events</p>
		{% endif %}
		{% for event in event_list %}
			<div class="event">
				<div class="event-meta width3 col">
					{% if event.date %}
						<h4 class="date">{{ event.date }}</h4>
					{% else %}
						<h4 class="date">Date TBC</h4>
					{% endif %}
					
					<p class="time">{{ event.times }}</p>
					{% if event.audience %}
						<h4>Audience</h4>
						<p class="audience">{{ event.audience }}</p>
					{% endif %}
					{% if event.eventbrite_link %}
						<p><a href="{{ event.eventbrite_link }}" class="link-button">Book on Eventbrite</a></p>
					{% endif %}
				</div>
				<div class="event-body width8 col" id="{{ event.slug }}">
					<h2>{{ event.title }}</h2>
					{% if event.organiser %}<p class="organiser discreet">{{ event.organiser }}</p>{% endif %}
					<div class="event-text">
						{% autoescape off %}
							{{ event.text }}
						{% endautoescape %}
					</div>
					{% if event.agendaitem_set.all %}
						<p><a href="#agenda" class="show-agenda" data-pid="{{ event.pk }}" data-text-swap="Hide agenda" data-text-original="Show agenda">Show agenda</a></p>
						<div class="agenda" id="event-agenda-{{ event.pk }}">
							<h3>Agenda</h3>
							<table>
							{% for item in event.agendaitem_set.all %}
								<tr>
									<td class="agenda-time">{{ item.time }}</td>
									<td class="agenda-text">{% autoescape off %}
										{{ item.text }}
									{% endautoescape %}</td>
								</tr>
							{% endfor %}
							</table>
						</div>
					{% endif %}
				</div>

				<div class="event-location width5 col last-col">
				{% if event.venue %}
					<h2>{% if event.venue.city %}
						{{ event.venue.city }}
					{% endif %}</h2>
					{% if event.venue %}
					<a href="http://maps.google.co.uk/maps?q={{ event.venue }}&amp;ll={{ event.venue.location|urlencode }}&amp;z=16">
						<img src="//maps.googleapis.com/maps/api/staticmap?center={{ event.venue_location }}&amp;zoom=14&amp;size=265x180&amp;maptype=roadmap&amp;markers=color:red%7Clabel:•%7C{{ event.venue.location }}&amp;key=AIzaSyAbAIZXiEqdQqA_XzdwsvVKJAxv44uRI8A" alt="Map of {{ event.venue }}" />
							<br />{{ event.venue|linebreaks }}
					</a>
					{% endif %}
				{% else %}
					<h2>Venue TBC</h2>
				{% endif %}
				</div>

			</div>
		{% endfor %}
		</div>
	{# </div> #}
</div>
{% endblock %}

{% block javascript_slot %}
<script>
  $(document).ready(function() {
    $('a.show-agenda').click(function(event) {
        event.preventDefault();
        $('div#event-agenda-' + $(this).data('pid')).slideToggle();

          var el = $(this);
          el.text() == el.data("text-swap") 
            ? el.text(el.data("text-original")) 
            : el.text(el.data("text-swap"));
    })


    $('.agenda').each(function(){
        $(this).hide();
    });


  });
</script>
{% endblock %}
