{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ page.title }} – {{ page.section.title }} – {{ block.super }}{% endblock %}

{% block content %}

<div class="width16 cms-content">
	<div class="col col-twothirds">
		<h1>{{ page.title }}</h1>
		{% autoescape off %}
			<div class="introduction">
			{{ page.introduction }}
			</div>
			<div class="cms-body">
			{{ page.body }}
			</div>
			{% if page.section.slug == 'news' %}
				<p class="discreet published_on">Published on {{ page.published_on|date:"j F Y" }}</p>
			{% endif %}

		{% endautoescape %}
	</div>

	<div class="sections col col-third last-col">
		<h2><a href="{% url 'cms_section' page.section.slug %}">{{ page.section.title }}</a></h2>
		<ul>
		{% for p in section.page_set.all %}
			<li><a href="{% url 'cms_page' p.section.slug p.slug %}">{{ p.title }}</a></li>
		{% endfor %}
		</ul>
	</div>


</div>
{% endblock %}
