{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ section.title }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="width16">
	<div class="col col-twothirds">
	<h1>{{ section }}</h1>
	{% for page in page_list %}
		<h2><a href="{% url 'cms_page' page.section.slug page.slug %}">{{ page.title }}</a></h2>

		{% autoescape off %}
			{{ page.introduction }}
		{% endautoescape %}

		{% if page.section.slug = 'news' %}
			<p class="discreet">Published on {{ page.published_on|date:"j F Y" }}</p>
		{% endif %}
		<p><a href="{% url 'cms_page' page.section.slug page.slug %}">Read more</a></p>
	{% endfor %}
	</div>
</div>
{% endblock %}
