/* Layout styles for 480px and below */

.centre {
  margin: 0 6px;
}

.header {
  padding-top: 1em;
}

.main_nav {
  position: relative;
  right: 0;
}

/* serialize inline lists */
ul.inline li {
  display: block;
}

/*serialize columns */

.col {
  width: 100%;
  float: none;
  margin: 0 0 1em 0;
}


/* serialize concertina */

.concertina-col {
  padding: 2.5em 0 0 0;
  background: #f2f2f2;
  margin: 0 0 0.25em 0;
  width: 100%;

}
.concertina-col .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-position: 0.75em 0.66em;
  margin: 0;
  height: 2.5em;
}
.concertina-col .title h2 {
  margin: 0.33em 0 0 2.25em !important;
  font-size: 1.1em;
}
.equal .concertina-col { height: auto; }
.equal ul {
  display: none;
}
.non-equal .concertina-col { height: 0; }
.non-equal .concertina-col.selected { 
  height: auto;
}
.concertina-col .panel {
}
.concertina-col.selected .panel {
}

.wrap {
  margin: 0 0 1em 0;
}

.corner-panel {
  border: 1px solid #ccc;
  margin: 0 0 1em;
  padding: 0 1em 1em;
}

.progress_bar {
  width: 5em;
}

/* Forms styles */

.form_col,
.review_col,
.form_col_short,
.info_col { 
  display: block;
  margin: 0 0 3em 0;
  float: none;
  width: auto;
}

label.form-label,
label.xforms-label {
  width: 100%;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

.span.form-input, input, textarea, select {
 max-width: 97%;
}

/* Need to add some overrides for .form_nav styles */

/* Footer styles */

.footer_panel a {
  width: 45%;
  padding: 1em 2.5%;
  text-align: center;
  margin: 0 0 1em 0;
}
.footer ul.tabs {
}
.footer ul.tabs li {
  display: block;
}
.footer ul.tabs a {
  margin: 0 0 0.25em;
  padding: 0;
  border: 0;
}
.footer p {
  margin: 1em 0 0.5em 0;
}

.home-large {
  font-size: 1.33em;
  font-weight: 300;
}

.posts {
  border-bottom: 1px solid #ccc;
}
table.post {
margin: 0 0 1em 0;
}
table.post .post-header th {
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.25em 0;
}
table.post .post-info {
  padding: 0.75em 0.5em 0 0;
  width: 10em;
}
table.post .post-content {
  padding: 0.75em 0;
}
.post-content blockquote {
  padding: 0.5em 1em 0.75em;
  background: #eee;
  margin: 0.5em 0 0.5em 0;
}
.avatar {
  display: none;
}
.post-form {
  margin: 1em 0 1em 18.5em;
}
.post-form label {
  display: block;
  margin: 0 0 0.5em;
  font-weight: bold;
}
.post-form fieldset {
  width: auto;
  border-bottom: 0;
}
.controls {
  text-align: right;
}
.market-search .form-field ul {
    width: auto;
}