/* assist.css */

/* Generic typographic styles */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

body {
  font-size: 87.5%; /*setting base size to 14px*/
  line-height: 1.4;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  color: rgb(76,76,76);
  margin: 0;
  padding: 0;
}

p, ul, ol {
  margin: 0.66em 0 0 0;
}

li {
  margin-top: 0.33em;
}

a {
  color: rgb(27,117,188);
}

a img {
  border: 0;
}

h1, h2, h3, h4 {
  font-family: TodaySBOP, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 1em 0 0.66em 0;
  color: rgb(62,22,99);
}

h2 {
  font-size: 1.25em;
  margin: 1em 0 0 0;
  color: rgb(64,22,99);
}

h2:first-child {
  margin-top: 0 !important;
}


h3 {
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0 0 0;
}
.discreet {
  font-weight: normal;
  color: #767676;
}
.very_discreet {
  font-weight: normal;
  color: #C0C0C0;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  text-decoration: none;
}

/* Basic layout styles */

.header {
  padding: 0 0 1em 0;
  margin: 0 0 0 0;
  border-bottom: 1px solid #ccc;
}

.header .centre {
  padding-top: 3em;
  background: url(../images/colour-stripe.png) left top no-repeat;
}

#role-identifier {
  background: #888;
  margin: -1em 0 1em 0;
  color: white;
}
#role-identifier.customer {
  background-color: rgb(171,7,115);
}
#role-identifier.supplier {
  background-color: rgb(0,179,176);
}

#role-identifier .wrapper {
}

#role-identifier .tab {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0.33em 1em;
} #role-identifier .tab:first-child {
  border-left: 1px solid #fff;
}
#role-identifier .tab.org_name {
  font-weight: bold; 
}

.footer {
  padding: 0;
  clear: both;
  border-top: 1px solid #ccc;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
}
ul.bullet li:before,
.article ul li:before {
  content: '\25A0';
  display: inline-block;
  width: 0.85em;
  text-indent: 0;
  font-weight: bold;
  color: #aaa;
  position: relative;
  top: -1px;
}
ul.bullet li,
.article ul li {
  padding-left: 0.85em;
  text-indent: -0.85em;
  margin: 0.25em 0 0;
}
ul.bulletless {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.bulletless li {
  margin: 0.25em 0 0;
  list-style-type: none;
}

ul.inline {
  margin: 0;
}
.inline li {
 display: inline;
 margin: 0 0.5em 0 0;
}

/* Sticky footer hack */

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* Page elements */

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.tabs li {
  display: inline;
  margin: 0;
  padding: 0;
}
.tabs li:first-of-type a {
  margin-left: 0;
}
.tans li:last-of-type a {
  margin-right: 0;
}
.tabs li.right {
  float: right;
}
.tabs a {
  display: inline-block;
  padding: 0 0 0.2em;
  border-bottom: 0.3em solid transparent;
  margin: 0 0.3em;
  color: #777;
  text-decoration: none;
}
.tabs a:hover {
  border-color: #eee;
  color: #4d4d4d;
}
.tabs .disabled a:hover {
  border-color: #fff;
  color: #bbb;
}
.tabs .selected a {
  border-color: #ccc;
  font-weight: bold;
  color: rgb(64,22,99);
}

.panel {
  padding: 1em;
  background: #f2f2f2;
}

.panel h2,
h2.underline {
  font-size: 1.25em;
  color: rgb(64,22,99);
  padding: 0 0 0.1em;
  margin: 1.5em 0 0.75em 0;
  border-bottom: 1px solid #ccc;
}

.panel h3,
h3.underline {
  font-size: 1.15em;
  color: rgb(64,22,99);
  padding: 0 0 0.25em;
  margin: 1em 0 0.5em;
  border-bottom: 1px solid #ccc;
  line-height: 1.75;
}

.clear {clear: both;}

.counter {
  display: inline-block;
  padding: 2px 4px;
  border-radius:8px;
  background: rgb(171,7,115);
  color: #fff;
  font-size: 0.8em;
  line-height: 1;
}

ul.pagination {
  text-align: center;
}
ul.pagination li {
  display: inline;
}

/* Custom styles (only if we need to) */

.logo {
  display: block;
  background: url(../images/logo.png) 0 0 no-repeat;
  width: 204px;
  height: 45px;
  text-indent: -9999px;
  overflow: hidden;
}

.main_nav {
  position: absolute;
  bottom: -1em;
  right: 0;
  border-bottom: 0;
}

.dashboard {
  margin: 1em 0 1em 0;
}

h2.statusbar {
  margin: 0 0 3em;
  font-weight: 300;
  color: #888;
  border: 0;
}
h2.statusbar .status {
  font-weight: bold;
  color: rgb(171,7,115);
}

.footer_panel a {
  /*height: 7.75em;*/
  padding: 1em 1.25em;
  float: right;
}
.footer_panel a:hover {
  background: #f2f2f2;
}
.footer_panel a.footer_big_logo_link {
    padding-top: 4.7em !important;
}

.footer .tabs { border-bottom: 0; }
.footer .tabs a {
  padding: 0.2em 0 0;
  border-bottom: 0;
  border-top: 0.3em solid transparent;
}
.footer .tabs a:hover {
  border-color: #ccc;
}
.footer p {
  font-size: 0.85em;
  color: #767676;
  margin: 7.75em 0 0 0;
}
.market-search {
  margin: 2em 0 1em 0;
}

.market-results {
  position: relative;
}
.concertina-col {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
}

.concertina-col .title {
  background-image: url(../images/open.png);
  background-position:  1em 1em;
  background-repeat: no-repeat;
  cursor: pointer;
}
.concertina-col.selected .title {
  background-image: url(../images/close.png);
}

.concertina-col.col-1 .title { background-color: rgb(171,7,115); }
.concertina-col.col-2 .title { background-color: rgb(0,179,176); }
.concertina-col.col-3 .title { background-color: rgb(100,155,69); }
.concertina-col.col-4 .title { background-color: rgb(200,174,26); }

.concertina-col .title h2 {
  white-space: nowrap;
  color: #fff;
}
.concertina-col .title h2 span {
  font-weight: 300;
  font-family: TodaySBOP, Verdana, sans-serif;
}
.concertina-col .title *:hover {
  color: #fff;
}

.concertina-col .panel p {
  margin: 0;
}
.concertina-col .panel li p {
  margin-top: 0.5em;
}
.equal .concertina-col .panel p {
  color: #808080;
}
.concertina-col h3 {
  margin: 1.5em 0 0 0;
}
.concertina-col.col-1 h3 { color: rgb(171,7,115); }
.concertina-col.col-2 h3 { color: rgb(0,179,176); }
.concertina-col.col-3 h3 { color: rgb(100,155,69); }
.concertina-col.col-4 h3 { color: rgb(200,174,26); }
.concertina-col h3 span {
  color: #888;
  font-weight: normal;
}

.profile h2 {
  color: rgb(171,7,115);
}

.login {
  position: absolute;
  top: 0.25em;
  right: 0.3em;
}

.list-table {
  width: 100%;
  border-spacing: 0;
  clear: both;
  margin: 0 0 1.5em 0;
}
.list-table thead th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  padding: 0 1em 0.5em 0;
}
.list-table tbody th {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em 0.5em 0;
  width: 12em;
}
.list-table td {
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em 0.5em 0;
}
.list-table .no-border {
  border-bottom: none;
}
.progress_bar {
  display: inline-block;
  height: 0.75em;
  padding: 0;
  margin: 0;
  background: #ccc;
  position: relative;
}
.progress_bar > .progress {
  background: rgb(100,155,69);
  height: 0.75em;
}

table {
  margin: 1.5em 0 0 0;
  border-spacing: 0;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

tbody th,
tbody td {
  vertical-align: top;
  padding: 0.5em 1em 0.5em 0;
}

thead th {
  vertical-align: bottom;
}

.home-large {
  font-family: TodaySBOP, Verdana, sans-serif;
  line-height: 1.25;
  color: #666;
  font-weight: 300;
  margin: 0.5em 0 0 0;
}

p.home-large {
  margin-bottom: 1em;
}

.home-large strong {
  font-family: TodaySBOP, Verdana, sans-serif;
  font-weight: 600;
}
strong.purple {
  color: rgb(64,22,99);
}
strong.pink {
  color: rgb(171,9,115);
}

.image-centre {
  display: block;
  margin: 0 auto;
  /* below is a hack to compensate for visual centre*/
  right: 1em;
  position: relative;
}

.home-panel {
  padding: 0.5em 1em;
  margin: 0.5em 0 1.5em 0;
  border-top: 1px solid #ccc;
}

.twitter-logo {
  position: relative;
  bottom: -2px;
  margin-bottom: -1px;
}

.hidden {
  text-indent: -999999px;
  height: 1px;
  position: absolute;
}

table.post,
table.topic-list {
  width: 100%;
}
.post-info,
.post-content {
  border-bottom: 0;
}

.breadcrumb li {
  display: inline;
}

.project_buttons {
  float: right;
}

.pagination {
  text-align: center;
}
.pagination ul li {
  display: inline;
}

th.topic-name,
th.topic-post-count,
th.topic-view-count,
th.topic-last-post {
  font-weight: normal;
  color: #aaa
}

td.topic-name {
  font-weight: bold;
  padding-bottom: 0;
}

td.topic-last-post {
  white-space: nowrap;
}

.topic-name a {
  color: #649B45;
  display: inline-block;
  text-decoration: none;
  padding: 0 0 0.25em;
  border-bottom: 0.3em solid #ccc;
}

a.new-topic,
.controls a {
  display: inline-block;
  padding: 0.25em 0.5em 0.4em;
  margin: 0.5em 0 0 0;
  background: #649B45;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}

.posts {
    margin-top: 2em;
}
.permalink {
    display: none;
    float: right;
}
.updated {
    border-bottom: 0.3em solid #CCCCCC;
    color: #649B45;
    display: inline-block;
    padding: 0 0 0.25em;
}

li.disabled a {
  font-weight: inherit;
  color: #bbb;
  text-decoration: none;
}

.messages {
  margin: 0 0 1em 0;
}

.messages li {
  padding: 0.25em 0.5em;
  background: #d2af2a;
  color: #000;
  font-weight: bold;
}

.dev_pri {
  margin: 0.5em 0 1.5em 0;
}

.project-buttons {
  float: right;
}

.row {
  padding: 0 0 0.5em;
  border-bottom: 1px solid #ccc;
  margin: 0 0 0.5em;
}

.equal .experts { display: none; }
.equal .connects { display: none; }
.equal .articles { display: none; }

.space-above { margin-top: 1.5em; }

.right {
  float: right;
  margin: 0 0 1em 1em;
}

.star {
  color: red;
}

.accepted {
  color: green;
  font-weight: bold;
}
.rejected {
  color: red;
  font-weight: bold;
}

.flag {
  padding: 0.25em 0.5em 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline-block;
  background: #444;
  line-height: 1;
}
.flag.contacted {
  background: rgb(200,174,26);
  color: #fff;
}
.flag.accepted {
  background: rgb(100,155,69);
  color: #fff;
}

.hp-forum {
  color: #649B45;
  font-size: 1.2em
}
.hp-heading {
  font-size: 1.2em;
}

.red {
  color: red;
}

.panel-dark {
  background: #ddd;
}

.panel-dark a {
}

.panel-snug {
  margin: -1.5em 0 1.5em;
}

.sections {
  padding-top: 2.66em;
}
.introduction {
  font-family: TodaySBOP, Verdana, sans-serif;
  font-size: 1.2em;
}

#registration-domain-match {
  margin: 0.66em 0 2.64em 0;
}
.match {
  border-top: 1px solid #ddd;
  padding: 0.4em 0.66em 1.32em 0.66em;
  margin-top: 0.66em;
  background: rgb(250,250,250);
  }
.possible.match {
} .match:hover {
  background: #efefef;
  /*background: rgb(122,5,82);*/
}

.match .org-name {
  font-weight: bold;
  font-family: TodaySBOP, Verdana, sans-serif;
  font-size: 1.3em;
  /*margin-top: -0.66em;*/
  /*display: inline-block;*/
}
.match .next-action {
  float: right;
  margin-top: 0.17em;
  font-size: 0.9em;
}


.form-indent {
  padding-left: 180px;
}

.diag-contact-details {
  /* */
}
.diag-contact-details .form-row {
  margin-top: 0.33em;
  padding-top: 0.5em;
}
.diag-contact-details .form-row:first-of-type {
  padding-top: 0;
  border-top: 0;
}

.cms-content {
  /* */
}

.cms-content img {
  max-width: 100%;
}

.cms-body {
  margin-top: 2.64em;
}

/* Styles for CMS events */
.events {}
.events .event {
  border-top: 1px solid #ccc;
  padding-top: 1.34em;
  clear: both;
  padding-bottom: 2.68em;
}
.event-meta h4:first-of-type, .event-location h4:first-of-type {
  margin-top: 0;
}
.event-meta p {
  margin-top: 0;
  margin-bottom: 1.34em;
}
.events .agenda-time {
  width: 6em;
}
.events .agenda-text p:first-of-type {
  margin-top: 0;
}
.events .agenda-text ul {
  list-style: disc;
  padding-left: 1.3em;
}
.events .event-location img {
  max-width: 100%;
}
/* New button styles */
/*input.submit-form, .submit-form, form > input.submit-form, input[type=submit].submit-form {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.3em 0.6em;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #1b75bc;
  color: white;
}
input.submit-form:active, .submit-form:active, form > input.submit-form:active, input[type=submit].submit-form:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 0.3em 0.2em rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0.3em 0.2em rgba(0, 0, 0, 0.5);
}
input.submit-form[disabled], .submit-form[disabled], form > input.submit-form[disabled], input[type=submit].submit-form[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

