/* Layout styles for 1024px and larger */

html, body {height: 100%;}

.wrap {min-height: 100%;}

.centre {
  margin: 0 auto;
  width: 63em;
  position: relative;
}

.main { 
  overflow: auto;
  padding-bottom: 11.5em;
}

.footer {
  margin: -9.8em 0 0 0;
  height: 13em;
  border-top: 1px solid #ccc;
  position: relative;
}

/* Sticky footer hack */
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


.width1  { width: 4.375%; }
.width2  { width: 10.75%; }
.width3  { width: 17.125%; }
.width4  { width: 23.5%; }
.width5  { width: 29.875%; }
.width6  { width: 36.25%; }
.width7  { width: 42.625%; }
.width8  { width: 49%; }
.width9  { width: 55.375%; }
.width10 { width: 61.75%; }
.width11 { width: 68.125%; }
.width12 { width: 74.5%; }
.width13 { width: 80.875%; }
.width14 { width: 87.25%; }
.width15 { width: 93.625%; }
.width16 { width: 100%; }

.panel.width16 {
  width: auto;
}

.col {
  margin: 0 2% 1em 0;
  float: left;
}
.last-col {
  margin: 0 0 1em 0;
}

.col-half {width: 49%; !important}
.col-half.col-2 {margin: 0 0 1em 0;}

.col-third {width: 32%;}
.col-third.col-3 {margin: 0 0 1em 0;}

.col-quarter {width: 23.5%;}
.col-quarter.col-4 {margin: 0 0 1em 0;}

.col-twothirds {width: 64%;}
.col-twothirds.col-2 {margin: 0 0 1em 0;}


.concertina-col {
  padding: 0 0 0 3em;
  min-height: 35em;
  background: #f2f2f2;
  margin: 0 1em 0 0;
  float: left;
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  overflow: hidden;
}
.concertina-col.col-4 {
  margin-right: 0;
}
.concertina-col .title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 3em;
  margin: 0;
}
.concertina-col .title h2 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-tranform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  margin: 2em 0 0 0 !important;
  font-size: 1.5em;
}
.equal .concertina-col { width: 11.999em; }
.equal .concertina-col ul {
  display: none;
}

.non-equal .concertina-col { width: 0;  height: 100%;}
.non-equal .concertina-col ul { display: none; }

.non-equal .concertina-col.selected { width: 47.999em; }
.non-equal .concertina-col.selected .panel {
  width: 45.999em;
}
.non-equal .concertina-col.selected ul { width: auto; display: block; }

.corner-panel {
  float: right;
  width: 15em;
  padding: 0 0 1em 1em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -5.5em 0 1em 0;
}

.review-list {
  float: left;
  margin: 0 -1px 0 0;
  position: relative;
}
.review-list li.diag_state {
  margin-top: 1.32em;
  padding-right: 0.66em;
  color: #000;
  font-weight: bold;
}
.review-list li.overdue {
  border-left: 2px solid rgb(171,7,115);
  margin-left: -0.33em;
  padding-left: 0.33em;
}
.review-list li.org {
  cursor: pointer;
}
.review-list li a,
.review-list li span {
  display: block;
  padding: 0.3em 0.2em 0.3em 0;
  border-right: 0.3em solid transparent;
  text-decoration: none;
  color: #777;
}
.review-list li a:hover,
.review-list li span:hover {
  border-color: #fff;
  color: #4d4d4d;
}
.review-list li.selected a,
.review-list li.selected span {
  border-color: #ccc;
  color: rgb(64,22,99);
  font-weight: bold;
}

.review-panel {
  margin: 0 0 0 23.5%;
  border-left: 1px solid #ccc;
  padding: 0 0 0 1em;
}
.review-panel .overdue {
  color: rgb(171,7,115);
}
.review-item {
  display: none;
}
.review-item.selected {
  display: block;
}

.progress_bar {
  width: 10em;
}

/* Forms styles */

.form_col {
  float: left;
  width: 45em;
}
.review_col {
  width: 100%;
  float: none;
  margin: 0 0 2em 0;
}
.form_col_short {
  width: 40em;
  margin: 0 auto 2em;
}
.info_col {
  width: 18em;
  margin: 0 0 2em 46em;
}

label.form-label,
label.xforms-label {
  width: 11.64em;
}
span.form-controls,
span.xforms-submit {
  padding: 0 0 0 13em;
}

input.xforms-value,
textarea.xforms-value {
  max-width: 31.5em;
}

.home-large {
  font-size: 1.7em;
  font-weight: 300;
}

.posts {
  border-bottom: 1px solid #ccc;
}
table.post {
margin: 0 0 1em 0;
}
table.post .post-header th {
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 0;
}
table.post .post-info {
  padding: 0.75em 0.5em 0 0;
  width: 15em;
}
table.post .post-content {
  padding: 0.75em 0;
}
.post-content blockquote {
  padding: 0.5em 1em 0.75em;
  background: #eee;
  margin: 0.5em 0 0.5em 0;
}
.avatar {
  display: none;
}
.post-form {
  margin: 1em 0 1em 15.5em;
}
.post-form label {
  display: block;
  margin: 0 0 0.5em;
  font-weight: bold;
}
.post-form fieldset {
  width: auto;
  border-bottom: 0;
}
.controls {
  text-align: right;
}

.market-search .detail > ul > li {
    float: left;
    padding-right: 3%;
    width: 30%;
}
.market-search label {
    max-width: 100%;
}
.market-search .form-field ul {
    width: 90%;
}
.market-search .form-field li {
    line-height: 1;
    margin: 0.33em 0 0;
}

.market-search .panel {
  position: relative;
}

.market-search .detail {
    background: none repeat scroll 0 0 #F2F2F2;
    /*box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);*/
    left: 0;
    padding-bottom: 1em 0;
    /*padding: 0.5em 1em 1em;*/
    /*position: absolute;*/
    z-index: 5;
}
.market-search .detail > ul:after {
  content: "";
  display: table;
  clear: both;
}

.market-search .show_filter,
.market-search .hide_filter {
  position: absolute;
  top: 1em;
  right: 1em;
}

.market-search .panel > ul {
  padding-right: 9em;
}

.market-search .form-controls {
/*  position: absolute;
  bottom: 1em;
  right: 1em;*/
  float: right;
  margin-top: -2em;
}

/* Market Search loading */
.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 8px;
  margin: 0 3px 0 0;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner > div.load_pink { background: rgb(171,7,115);  }
.spinner > div.load_turq { background: rgb(0,179,176);  }
.spinner > div.load_green { background: rgb(100,155,69); }
.spinner > div.load_gold { background: rgb(200,174,26); }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
