<!--/*--><css><![CDATA[/**/
/** xforms CSS for visual styling **//* Stylesheet containing all the css for the forms on the site, both html and xforms based */

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1.75em 16em 0 0;
  padding: 0 0 0.75em 0;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  border-style: solid;
  position: static;
  width: 47em;
}

legend {
  margin: 0 0 0.75em 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(171,7,115);
}


div.form-row,
div.xforms-row {
  margin: 0.75em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #ccc;
  display: block;
}

span.form-field,
span.xforms-input,
span.xforms-output {
  margin: 0;
  padding: 0;
  display: inline;
}

span.field_error {
	color: red;
}

span.required > label:after {
  content: ' *';
  color: red;
}

label.form-label,
label.xforms-label,
div.xforms-group-label {
  display: inline-block;
  width: 11.64em;
  margin: 0 1em 0 0;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
}

.rsbmt-col div.xforms-group-label {
  display: block;
  width: auto;
  margin: 0 0 1em 0;
  text-align: left;
  max-width: 42em;
}

span.changed {
  color: red;
}

.xforms-item-label {
  white-space: normal !important;
  vertical-align: top;
}

ul.errorlist,
.form-field ul.errorlist {
  padding: 0;
  text-indent: 0;
  width: calc( 100% - 14em );
}

ul.errorlist li {
	font-weight: bold;
        margin-bottom: 1em;
}

span.form-input,
span.xforms-input span.value,
span.xforms-output span.value {
  display: inline-block;
}

.form-input.text {
  margin-left: 13em;
}

.xforms-item,
.form-item {
  display: block;
  margin: 0 0 0.25em 0;
  max-width: 35em;
}

.xforms-item input[type=text], 
.form-item input[type=text], 
.form-item input[type=email], 
.form-item input[type=url] {
  margin: 0.25em 0 0 1.75em;
}

.xforms-group-content {
  display: inline-block;
  max-width: 30em;
}
.xforms-group-content .xforms-control {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  /*border-bottom: 1px solid #ccc;*/
  display: inline-block;
  width: 35em;
}
.xforms-group-content .xforms-control:last-of-type {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.responsecol .xforms-control {
  max-width: 22em;
  margin: 0;
  padding: 0;
  border-width: 0;
}
.focus {
  width: 0;
  vertical-align: top;
}

.xforms-repeat-item .xforms-row {
  margin-left: 1em;
}
.xforms-repeat-item .xforms-label {
  width: 11em;
}
.xforms-repeat-item textarea {
  width: 33em;
}


.xforms-required .xforms-label:after {
  content: ' *';
  color: red;
}
.xforms-required-icon {
  display: none !important;
}

span.form-help,
span.form-item-help,
span.xforms-hint {
  display: none;
}

input[type=text], input[type=email], input[type=url], textarea {
  min-width: 20em;
  max-width: 100%;
  border: 1px solid #808080;
  padding: 3px;
  font-size: 14px;
  font-family: inherit;
}
textarea {
  height: 6em;
  width: 31em;
}
input[type=text]:focus, input[type=email]:focus, input[type=url]:focus,
textarea:focus {
  border-color: rgb(171,7,115);
  outline: 3px solid #f2f2f2;
}
input[readonly=readonly]:focus, textarea[readonly=readonly]:focus {
  outline: none;
  border-color: #ccc;
}

#marketplace input[type=text]:focus {
  outline-width: 1px;
}

input:disabled, input[readonly=readonly],
textarea:disabled, textarea[readonly=readonly] {
  border: 1px solid #ccc;
  background: #f2f2f2;
  cursor: default;
}

.home-large a.link-button {
  padding: 0.3em 0.6em 0.15em 0.6em;
}

.form-controls input[type=submit],
.xforms-trigger button,
.xforms-submit button,
a.link-button, input.link-button {
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
  color: #4d4d4d;
  padding: 0.3em 0.6em;
  line-height: 1;
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 10%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#fcfcfc), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfcfc 10%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcfcfc 10%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 1px 0 #fff;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-top: -0.3em;
}
.form-controls input[type=submit]:active,
.xforms-submit button:active,
a.link-button:active, input.link-button:active {
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.25);
  text-shadow: 0 0 0 transparent;
}
.form-controls input[disabled=disabled],
.xforms-submit button[disabled=disabled],
a.link-button.disabled, input.link-button.disabled {
  background: #fcfcfc;
  color: #bbb;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  border: 1px solid #ccc;
}

.nugget {
  padding: 0.5em 1em 0.75em;
  background: #f2f2f2;
  float: right;
  margin: 0 -16em 0 0;
  width: 13em;
}
.nugget h2 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: rgb(171,7,115);
}
.rsbmt-col .nugget {
  float: none;
  margin: 0.5em 0 0 0;
  width: auto;
}

.form_nav,
.horiz-tabs-menu {
  list-style: none;
  padding: 0;
  margin: 2em 0 -1em;
  border-bottom: 1px solid #ccc;
}
.form_nav li,
.horiz-tabs-menu > span {
  display: inline;
}
.form_nav li a,
.horiz-tabs-menu > span a {
  display: inline-block;
  padding: 0.5em 0.5em 0.2em;
  border-bottom: 0.3em solid transparent;
  text-decoration: none;
  color: #414141;
  text-align: center;
}
.form_nav li a:hover,
.horiz-tabs-menu > span a:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: rgb(64,22,99);
}
.form_nav li.selected a,
#tab1a a,#tab2b a,#tab3c a,#tab4d a,#tab5e a,#tab6f a,#tab7g a {
  background-color: #f2f2f2;
  border-color: #ccc;
  font-weight: bold;
  color: rgb(64,22,99);
}

.xforms-required-icon { display: none; }
.xforms-required .xforms-required-icon {
  display: block;
  color: red;
}

div.threecoltable {
        margin: 0 0 0 13em;
        clear: left;
        width: 100%;
        padding: 0 0 2em 0;
}

.threecoltable + .xforms-control > .value,
.threecoltable + .xforms-control > .value > span {
        max-width: none;
}

span.col1head,
.col1 {
        width: 5em;
        float: left;
        clear: left;
}
.review-panel .col-half {
        clear: none;
        width: 49%;
}
span.col1head,
span.col2and3head {
        padding: 0 0 0.25em 0;
        font-weight: bold;
        color: #808080;
}

span.col2and3head,
.col2and3 {
        width: 29em;
        float: left;
}
span.col2and3head .xforms-item-label,
.col2and3 .xforms-item-label {
  max-width: 23em !important;
}

.rsbmt-col .col2and3 {
        width: 24em;
}

.rsbmt-col .col2and3 input[type=checkbox] + .xforms-item-label,
.rsbmt-col .col2and3 input[type=radio] + .xforms-item-label {
  max-width: 18em;
}

.xforms-item.col2and3 > .xforms-item-label {
        padding-left: 4em;
}

.rsbmt-col .foobar .col1 {
  width: auto;
}
.rsbmt-col .foobar .col2and3 {
  width: auto;
  max-width: 18em;
}
.rsbmt-col .foobar .col2and3 .xforms-item-label {
  padding-left: 0;
  max-width: 16em !important;
}

div.inline {
  display:inline-block;
  white-space:nowrap;
}
span.xforms-control span {
  display:inline-block;
  white-space:nowrap;
}
.center-panel {
  width: 63em;
  margin: 0 auto;
}
#portal-logo {
  background: url(/static/images/logo.png) left top no-repeat;
  height: 45px;
  width: 204px;
  display: block;
}
#header {
  border-bottom: 1px solid #ccc;
  padding: 0 0 1em 0;
  margin: 0 0 1em 0;
}
#header .center-panel {
  padding-top: 3em;
  background: url(/static/images/colour-stripe.png) no-repeat left top;
}

.xforms-submit {
  margin: 2em 0.5em 0 0;
  display: inline-block;
}
.xforms-submit:first-of-type {
  margin-left: 12em;
}
.xforms-group-content .xforms-item {
  max-width: 26em;
}

.review-col .xforms-label {
  width: 9.25em;
  margin-right: 1.5em;
}

.review-col fieldset {
  margin-right: 0;
  width: auto;
}

.review-col .xforms-output span.value,
.review-col .xforms-readonly span.value {
  width: 30.75em;
  margin: 0 1.5em 0 0;
  vertical-align: top;
}
.review-col .xforms-textarea span.value {
  width: 20em;
  margin: 0;
  vertical-align: top;
}
.review-col .xforms-textarea.xforms-readonly span.value {
  width: 30.75em;
  margin-right: 1.5em;
}

.review-col textarea {
  max-width: 19.5em;
}
.review-col .xforms-readonly textarea {
  max-width: 30em;
}

.review-col .xforms-group-content .xforms-readonly,
.review-col .xforms-group-content .xforms-output {
  width: 30.75em;
}
.review-col .xforms-group-content .xforms-textarea {
  width: 20em;
}
.review-col .xforms-group-content span.value,
.review-col .xforms-group-content span.xforms-output span.value span.xforms-value {
  width: 20em;
  margin: 0;
}

.review-col span.xforms-output span.value span.xforms-value {
  width: 30.75em;
}
.review-col .xforms-group {
  display: inline-block;
  width: 41.5em;
  margin-right: 1.5em;
}
.review-col .xforms-group.rev-group {
  width: 63em;
  margin: 0;
}
.review-col .xforms-group.rev-group .xforms-group-content {
  width: 52.25em;
  max-width: 52.25em;
  margin: 0;
}
.review-col .xforms-group.rev-group .xforms-group-content .xforms-control {
  min-height: 7em;
}
.review-col .xforms-repeat-item {
  background: transparent;
  margin: 0;
  padding: 0;
}
.review-col .xforms-repeat-item .xforms-row {
  margin-left: 0;
}
.review-col .rev-group .xforms-output {
  padding-right: 1.5em;
}

.review-col table.responsecol {
  width: 30.75em
}
.review-col table.responsecol td {
  width: 13em;
  overflow: hidden;
}
.review-col table.responsecol .xforms-readonly {
  width: 13em !important;
}

.quesno,
.quesno span.xforms-value,
.quesno span.value {
  display: inline;
  width: auto !important;
  margin: 0 !important;
}
.comments,
.comments .value,
.comments .xforms-value {
  width: 19.5em !important;
  margin: 0 !important;
  padding-right: 0 !important;
}

.form-field ul {
  display: inline-block;
  width: 30em;
  margin:  0;
  padding:  0 0 0 2em;
  text-indent: -2em;
}

.repeat-item {
  background: #eee;
  padding: 1em;
  margin: 1em 0 0 12em;
}

.repeat-item .form-input {
  max-width: 18em;
}

span.xforms-control span {
  white-space: pre-line;
  max-width: 34em;
}

span.xforms-control input[type=checkbox] + .xforms-item-label,
span.xforms-control input[type=radio] + .xforms-item-label {
  max-width: 24em;
}

.rsbmt-col span.foobar input[type=checkbox] + .xforms-item-label,
.rsbmt-col span.foobar input[type=radio] + .xforms-item-label {
  max-width: 18em;
}

.group-checkbox-select-multiple {
    margin: 0;
}
.group-checkbox-select-multiple dt {
    font-weight: bold;
    margin: 1em 0 0.25em;
}
.group-checkbox-select-multiple dt:first-of-type {
    margin-top: 0;
}

.rsbmt-col {
 width: 63em;
}
.rsbmt-col fieldset {
  margin: 1.75em 0 0 0;
  width: auto;
  position: relative;
}

.rsbmt-col .xforms-select1,
.rsbmt-col .xforms-select,
.rsbmt-col .xforms-input,
.rsbmt-col .xforms-textarea {
  width: 42em;
  overflow: hidden;
  display: inline-block;
  margin-right: 1em;
}
.rsbmt-col .xforms-repeat .xforms-select1,
.rsbmt-col .xforms-repeat .xforms-select,
.rsbmt-col .xforms-repeat .xforms-input,
.rsbmt-col .xforms-repeat .xforms-textarea {
  width: 40em;
}


.rsbmt-col .foobar {
  width: 20em !important;
  overflow: hidden;
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  color: #a7a7a7;
  white-space: normal;
}
.foobar .value,
.foobar .xforms-value {
  width: 20em;
  white-space: inherit;
}
.foobar .xforms-item .xforms-value {
  width: auto;
}

.rsbmt-col .xforms-disabled + .foobar {
  display: none;
}

.rsbmt-col .xforms-group-content .xforms-control {
  display: inline-block;
  width: 42em;
}

.rsbmt-col .xforms-group-content .xforms-control + .foobar {
  width: 20em;
  white-space: nowrap;
  border-bottom: 0;
}
.rsbmt-col .xforms-repeat-item {
  width: 41em;
}
.rsbmt-col .xforms-repeat-item .xforms-group-content {
  width: 30em;
}

.rsbmt-repeat {
  width: 20em;
}
.rsbmt-repeat .xforms-repeat-item {
  width: 18em;
  padding: 1em;
}
.rsbmt-col .xforms-repeat#r2,
.rsbmt-col .xforms-repeat#r1 {
  float: left;
  width: 42em;
}
.rsbmt-col .xforms-repeat#r3,
.rsbmt-col .xforms-repeat#r4 {
  float: right;
}
.xforms-repeat#r3 .xforms-repeat-item {
  height: 210px;
  background: #fafafa;
}
.xforms-repeat#r4 .xforms-repeat-item {
  height: 826px;
  background: #fafafa;
}
.rsbmt-repeat .xforms-control {
  padding: 0 0 1em 0;
  border-bottom: 1px solid #ccc;
  margin: 0 0 1em 0;
  width: 11em !important;
}
.foobar select {
  width: 20em;
}
.rsbmt-col .xforms-group-content {
  width: 63em;
  max-width: 63em;
}

.rsbmt-col textarea {
  width: 24em;
}
.rsbmt-label {
  width: 20em;
  margin: 0;
  top: -8px;
  right: 0;
  position: absolute;
  color: #a7a7a7;
  font-weight: bold;
}

.rsbmt-rc-spacer {
  width: 10.5em;
}

.rsbmt-rc-data {
  width: 6.25em;
  color: #a7a7a7;
}

.rsbmt-rc-data .foobar,
.rsbmt-rc-data .value,
.rsbmt-rc-data .xforms-value {
  width: auto !important;
}

.review-col .xforms-label .xforms-output,
.review-col legend .xforms-output {
  color: red;
  font-weight: normal
}

.review-col .xforms-label .quesno .xforms-output { color: inherit; font-weight: bold; }

/* Extra input margins */
input[type="radio"] {
  margin-right: 0.5em;
}

/* New button controls */
/* Main action button */
a.action, input.action, input[type="submit"].action, input.submit-form, .submit-form, form > input.submit-form, input[type=submit].submit-form {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  background-image: none;
  border: 1px solid #0c3758;
  white-space: nowrap;
  padding: 0.3em 0.6em;
  font-size: inherit;
  border-radius: 0.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  text-shadow: none;
  box-shadow: none;
  font-family: inherit;
  background: #1b75bc;
  background: -moz-linear-gradient(top, #1c7cc8 0%, #114b77 180%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c7cc8), color-stop(180%,#114b77)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c7cc8 0%,#114b77 180%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c7cc8 0%,#114b77 180%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c7cc8 0%,#114b77 180%); /* IE10+ */
  background: linear-gradient(to bottom, #1c7cc8 0%,#114b77 180%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c7cc8', endColorstr='#114b77',GradientType=0 ); /* IE6-9 */
}
a.action:active, input.action:active, input[type="submit"].action:active, input.submit-form:active, .submit-form:active, form > input.submit-form:active, input[type=submit].submit-form:active {
  background: #1b75bc;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 0.2em 0.5em rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0.2em 0.5em rgba(0, 0, 0, 0.6);
}
input.action[disabled], input.submit-form[disabled], .submit-form[disabled], form > input.submit-form[disabled], input[type=submit].submit-form[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Secondary action button */
a.action.secondary, input.action.secondary {
  background: #2096f1;
  background: -moz-linear-gradient(top, #2096f1 0%, #125282 150%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2096f1), color-stop(150%,#125282)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2096f1 0%,#125282 150%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2096f1 0%,#125282 150%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2096f1 0%,#125282 150%); /* IE10+ */
  background: linear-gradient(to bottom, #2096f1 0%,#125282 150%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2096f1', endColorstr='#125282',GradientType=0 ); /* IE6-9 */
}
a.action.secondary:active, input.action.secondary:active {
  background: #2096f1;
}


.confirmation-modal-controls {
  bottom: 2em;
  margin-top: 2em;
  position: absolute;
  width: 580px;
}
.confirmation-modal-controls .right {
  float: right;
}

label.xforms-label span {
  width: auto !important;
}

#startdate .form-help,
#enddate .form-help {
  display: inline;
  font-style: italic;
  color: #888;
  padding-left: 0.5em;
  font-size: 0.95em;
}

/*]]>*/<!--/*--></css><!--*/-->
