/* @license
 * MyFonts Webfont Build ID 2344287, 2012-08-15T05:31:16-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Today SB-Light by Scangraphic Digital Type Collection
 * URL: http://www.myfonts.com/fonts/efscangraphic/today-sans-sb/light/
 * Licensed pageviews: 10,000
 * 
 * Webfont: Today SB-Light Italic by Scangraphic Digital Type Collection
 * URL: http://www.myfonts.com/fonts/efscangraphic/today-sans-sb/light-italic/
 * Licensed pageviews: unspecified
 * 
 * Webfont: Today SB-Medium by Scangraphic Digital Type Collection
 * URL: http://www.myfonts.com/fonts/efscangraphic/today-sans-sb/medium/
 * Licensed pageviews: unspecified
 * 
 * Webfont: Today SB-Medium Italic by Scangraphic Digital Type Collection
 * URL: http://www.myfonts.com/fonts/efscangraphic/today-sans-sb/medium-italic/
 * Licensed pageviews: unspecified
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2344287
 * Webfonts copyright: Copyright (c) Scangraphic Prepress Technology GmbH, 1988 - 2003. Veronika Elsner, Guenther Flake GbR, Hamburg 2004
 * 
 * © 2012 Bitstream Inc*/


@font-face {font-family: 'TodaySBOP'; font-weight: normal; src: url('../fonts/23C55F_0_0.eot');src: url('../fonts/23C55F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/23C55F_0_0.woff') format('woff'),url('../fonts/23C55F_0_0.ttf') format('truetype');}
/* TodaySBOP-Light */
@font-face {font-family: 'TodaySBOP'; font-weight: normal; font-style: italic; src: url('../fonts/23C55F_1_0.eot');src: url('../fonts/23C55F_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/23C55F_1_0.woff') format('woff'),url('../fonts/23C55F_1_0.ttf') format('truetype');}
/* TodaySBOP-LightItalic */
@font-face {font-family: 'TodaySBOP'; font-weight: bold; src: url('../fonts/23C55F_2_0.eot');src: url('../fonts/23C55F_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/23C55F_2_0.woff') format('woff'),url('../fonts/23C55F_2_0.ttf') format('truetype');}
/* TodaySBOP-Medium */
@font-face {font-family: 'TodaySBOP'; font-weight: bold; font-style: italic; src: url('../fonts/23C55F_3_0.eot');src: url('../fonts/23C55F_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/23C55F_3_0.woff') format('woff'),url('../fonts/23C55F_3_0.ttf') format('truetype');}
/* TodaySBOP-MediumItalic */