<!--/*--><css><![CDATA[/**/
/** xforms CSS for visual styling **/

body {
	font-family: Arial, sans-serif;
	margin-bottom: 4em;
}

span.xforms-alert-icon {
	display: none !important;
}

span.xforms-hint > span.xforms-hint-value {
	display: none;
}

/*]]>*/<!--/*--></css><!--*/-->