<!--/*--><css><![CDATA[/**/
/** xforms CSS for visual styling **/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  color: #414141;
}
.center-panel {
  width: 56em;
  margin: 0 auto;
}
#header {
  border-bottom: 1px solid #000;
  padding: 1em 0 0;
  margin: 0 0 2em;
}
#footer {
  border-top: 1px solid #000;
  padding: 1em 0;
  margin: 1em 0 0;
  min-height: 4em;
}
#portal-logo {
  background-image: url("logo_beta.png");
  display: inline-block;
  height: 45px;
  width: 204px;
  margin: 0.6875em 0;
}
h1 {
  color: rgb(64,22,99);
  font-size: 1.75em;
  margin-left: 8.2em;
}
h2 {
  color: rgb(171,7,115);
  font-size: 1.33em;
  margin: 2em 0 0 10.8em;
}
h3 {
  font-size: 1.15em;
  margin: 2em 0 0 12.55em;
}

/* FORMS */

fieldset {
  margin: 3em 0 0;
  border: 0;
  padding: 0;
}
fieldset > legend {
  position: relative;
  width: auto;
  padding: 0 0 0 14.4em;
  font-weight: bold;
}
fieldset > p,
fieldset > ul {
  padding: 0 0 0 14.4em;
  margin: 0.75em 0 0;
  font-style: italic;
  max-width: 32.25em;
}
li {
  margin: 0.25em 0 0 0;
}
#xsltforms-mainform-select-4 {
  margin-left: 14.25em;
}

.xforms-item {
  margin: 0 0 0.25em 0;
}
.xforms-item > .xforms-item-label {
  display: inline-block;
  white-space: normal;
  max-width: 30em;
  vertical-align: top;
  padding: 3px 0 0 2px;
}
.xforms-group {
  margin: 1em 0 0 0;
}
.xforms-submit button, span.nextsection span button {
  font-size: 1.25em;
}
span.nextsection {
  display: inline-block;
  margin-left:14.25em;
}
.horiz-tabs-menu {
  margin: 2em 0 0 0;
  padding: 0 0 0 14.4em;
  border-bottom: 1px solid rgb(64,22,99);
}
.horiz-tabs-menu span.xforms-control {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0 0 0.25em;
  border-bottom: 5px solid #fff;
}

#tab1a,#tab2b,#tab3c,#tab4d,#tab5e,#tab6f,#tab7g {
  border-bottom: 5px solid #000;
}

.horiz-tabs-menu span.xforms-control a {
  color: #414141;
}

/*.horiz-tabs-menu span#tab2 {
  border-color: rgb(64,22,99);
  font-weight: bold;
}
.horiz-tabs-menu span#tab2 a {
  color: rgb(64,22,99);
}*/

/*]]>*/<!--/*--></css><!--*/-->